06-producer-portal/code/main/default/flows/Activate_Supplier_Price_Increase_Schedule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Splitting Supplier/Sales Logic</description>
    <environments>Default</environments>
    <formulas>
        <name>cal_Margin_on_supplier_price_change</name>
        <dataType>Number</dataType>
        <expression>( ({!Get_Order_Product_Supplier.Sales_Price__c} - {!$Record.Supplier_Price__c}) / {!Get_Order_Product_Supplier.Sales_Price__c} ) * 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Activate Supplier Price Increase Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Supplier Price Increase Schedule Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Product_Supplier</name>
        <label>Get Order Product Supplier</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_Product_Prices_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Active_Price_Increase_0</name>
        <label>Mark Active Price Increase</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Product_Prices_0</name>
        <label>Update Order Product Prices</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Mark_Active_Price_Increase_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order_Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Margin__c</field>
            <value>
                <elementReference>cal_Margin_on_supplier_price_change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Supplier_Increase__c</field>
            <value>
                <elementReference>$Record.Supplier_Change_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Tonnage_Incl__c</field>
            <value>
                <elementReference>$Record.Partner_Tonnage_Incl__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Tonnage_charge_thereafter__c</field>
            <value>
                <elementReference>$Record.Partner_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_price__c</field>
            <value>
                <elementReference>$Record.Supplier_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport__c</field>
            <value>
                <elementReference>$Record.Supplier_Transport__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Price_Increase__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Active_Price_Increase</name>
            <connector>
                <targetReference>Get_Order_Product_Supplier</targetReference>
            </connector>
            <label>Activate Supplier</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Supplier_Change_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
