06-producer-portal/code/main/default/flows/After_Save_Job_Flow_Mixed_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Mixed_Job_Decision</name>
        <label>Mixed Job Decision</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Mixed_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Mixed_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Job_Status_Update_Decision</targetReference>
            </connector>
            <label>Parent Mixed Job</label>
        </rules>
        <rules>
            <name>Child_Mixed_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Child_Mixed_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Child Mixed Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Job_Status_Update_Decision</name>
        <label>Parent Job Status Update Decision</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Job_Status_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_Child_Mixed_Job</targetReference>
            </connector>
            <label>Parent Job Status Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>collectionConfirmedDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status__c}, &quot;Confirmed&quot;), {!$Flow.CurrentDateTime}, {!$Record.Supplier_Collection_Confirmed_D_T__c})</expression>
    </formulas>
    <interviewLabel>After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save Job Flow (Mixed Job)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_All_Child_Mixed_Job</name>
        <label>Update All Child Mixed Job</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Collection_Confirmed_D_T__c</field>
            <value>
                <elementReference>collectionConfirmedDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mixed_Job_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Is_Mixed_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Child_Mixed_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Job__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
