06-producer-portal/code/main/default/flows/Attach_Mixed_Waste_Type_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MultiSelectFlowValues</name>
        <label>MultiSelectFlowValues</label>
        <locationX>704</locationX>
        <locationY>1106</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_Multi_Select_Flow_Values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Choose_Order_Product_NormalJob</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_Flow_Record_Id</name>
        <label>Redirect Flow - Record Id</label>
        <locationX>704</locationX>
        <locationY>1946</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>mixedParentJob.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Is_Error_Running_Assignment</name>
        <label>Is Error Running Assignment</label>
        <locationX>1672</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>isErrorRunning</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Continue_Running_Script</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Error_Running_false_Assignment</name>
        <label>Is Error Running = false Assignment</label>
        <locationX>1144</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>isErrorRunning</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_child_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mixed_Child_Job_Add_In_to_List</name>
        <label>Mixed Child Job Add In to List</label>
        <locationX>792</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>mixedChildJobs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mixedChildJob</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Multi_Select_Flow_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mixed_Child_Job_Assignment</name>
        <label>Mixed Child Job Assignment</label>
        <locationX>792</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>mixedChildJob.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Parent_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mixedParentJob.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Deliver_slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Deliver_slot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Waste_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Waste_Type_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Notes_on_Supplier_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Notes_on_Supplier_PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Customer_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Customer_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Supplier_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Supplier_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Supplier_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Sales_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Sales_Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Sales_tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Sales_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Partner_Tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Partner_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Required_Paperwork__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Product2.Required_Paperwork__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Depot_Dispose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Depot_Dispose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Depot_Supply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product.Depot_Supply__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Collection_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.what3words__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.what3words__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedChildJob.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mixed_Child_Job_Add_In_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mixed_Parent_Job_Assignment</name>
        <label>Mixed Parent Job Assignment</label>
        <locationX>704</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>mixedParentJob.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Deliver_slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Deliver_slot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Order_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Waste_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Waste_Type_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Notes_on_Supplier_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Notes_on_Supplier_PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Job_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Customer_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Customer_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Supplier_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Supplier_Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Supplier_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Supplier_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Sales_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Sales_Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Sales_tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Sales_tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Partner_Tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Partner_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Required_Paperwork__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Required_Paperwork__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Depot_Dispose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Depot_Dispose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Depot_Supply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Depot_Supply__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Collection_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.what3words__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.what3words__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedParentJob.Is_Mixed_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Mixed_Parent_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Invalid_Order_Product_Available_Decision</name>
        <label>Invalid Order Product Available Decision</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Mixed_Parent_Job_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Order_Product_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Job_Validation_Bulk.invalidOrderProductAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Invalid Order Product Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Error_Running_Decision</name>
        <label>Is Error Running Decision</label>
        <locationX>1540</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Is_Error_Running_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Error_Running_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isErrorRunning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Is Error Running Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Type_Decision</name>
        <label>Job Type Decision</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Choose_Order_Product_Normal_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Job</defaultConnectorLabel>
        <rules>
            <name>Mixed_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Is_Mixed_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Job_Screen</targetReference>
            </connector>
            <label>Mixed Job</label>
        </rules>
        <rules>
            <name>Child_Mixed_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Is_Child_Mixed_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Job_Screen</targetReference>
            </connector>
            <label>Child Mixed Job</label>
        </rules>
        <rules>
            <name>Job_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Job_Screen</targetReference>
            </connector>
            <label>Job Not Available</label>
        </rules>
    </decisions>
    <description>22-11-2024: added multiple step process
22-11-2024: added to create job partially</description>
    <dynamicChoiceSets>
        <name>orderProduct4NormalJob</name>
        <dataType>String</dataType>
        <displayField>Create_Job_Flow_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job.Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Job.Order_Product__c</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Attach Mixed Waste Type Job {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Attach Mixed Waste Type Job</label>
    <loops>
        <name>Iterate_child_Jobs</name>
        <label>Iterate child Jobs</label>
        <locationX>1056</locationX>
        <locationY>2054</locationY>
        <collectionReference>mixedChildJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Child_Mixed_Job</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Redirect_Flow_Record_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Multi_Select_Flow_Values</name>
        <label>Iterate Multi Select Flow Values</label>
        <locationX>704</locationX>
        <locationY>1214</locationY>
        <collectionReference>MultiSelectFlowValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Mixed_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Mixed_Job</name>
        <label>Create Child Mixed Job</label>
        <locationX>1144</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Is_Error_Running_false_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Error_Running_Decision</targetReference>
        </faultConnector>
        <inputReference>Iterate_child_Jobs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Mixed_Jobs</name>
        <label>Create Child Mixed Jobs</label>
        <locationX>704</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Redirect_Flow_Record_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>All_Job_Creation_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>mixedChildJobs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Mixed_Parent_Job</name>
        <label>Create Mixed Parent Job</label>
        <locationX>704</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Current_Job</targetReference>
        </connector>
        <inputReference>mixedParentJob</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Type_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>792</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Multi_Select_Flow_Values</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>792</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mixed_Child_Job_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Product.Pricing_method__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Job</name>
        <label>Update Current Job</label>
        <locationX>704</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Current_Job_Charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parent_Job__c</field>
            <value>
                <elementReference>mixedParentJob.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Job_Charges</name>
        <label>Update Current Job Charges</label>
        <locationX>704</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>MultiSelectFlowValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parent_Job__c</field>
            <value>
                <elementReference>mixedParentJob.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Charge__c</object>
    </recordUpdates>
    <screens>
        <name>All_Job_Creation_Error_Screen</name>
        <label>All Job Creation Error Screen</label>
        <locationX>1056</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_child_Jobs</targetReference>
        </connector>
        <fields>
            <name>createChildMixedJobMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 4, 255);&quot;&gt;This Mixed Job require to go through the multiple step process, continue with all the step until it&apos;s finished.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Order_Product_Normal_Job</name>
        <label>Choose Order Product (Normal Job)</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Job_Validation_Bulk</targetReference>
        </connector>
        <fields>
            <name>Choose_Order_Product_NormalJob</name>
            <choiceReferences>orderProduct4NormalJob</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Order Product</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Continue_Running_Script</name>
        <label>Continue Running Script</label>
        <locationX>1672</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Child_Mixed_Job</targetReference>
        </connector>
        <fields>
            <name>countinueRunningMessage</name>
            <fieldText>&lt;p&gt;Click &quot;&lt;strong&gt;Continue&lt;/strong&gt;&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1408</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Error_Running_false_Assignment</targetReference>
        </connector>
        <fields>
            <name>SingleChildJobErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Job_Screen</name>
        <label>Invalid Job Screen</label>
        <locationX>176</locationX>
        <locationY>3110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidJob</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 127, 127); font-size: 14px;&quot;&gt;You can not create the Mixed Job from the Mixed Job or Child Mixed Job.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Job_Validation_Bulk</name>
        <label>Create Job Validation Bulk</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Invalid_Order_Product_Available_Decision</targetReference>
        </connector>
        <flowName>Create_Job_Validation_Bulk</flowName>
        <inputAssignments>
            <name>chooseOrderProduct</name>
            <value>
                <elementReference>Choose_Order_Product_NormalJob</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>isErrorRunning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mixedChildJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>mixedChildJobs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>mixedParentJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
