06-producer-portal/code/main/default/flows/Before_Save_Order_LineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_EWC_Code</name>
        <label>Assign EWC Code</label>
        <locationX>800</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>$Record.EWC_Code_new__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ewcCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearApprovalStatus</name>
        <label>ClearApprovalStatus</label>
        <locationX>537</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>$Record.JobCreationApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Old_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HasComplianceFieldsChanged</name>
        <label>HasComplianceFieldsChanged</label>
        <locationX>339</locationX>
        <locationY>295</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Depot_Dispose__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Depot_Supply__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearApprovalStatus</targetReference>
            </connector>
            <label>YesChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_or_Update</name>
        <label>Insert or Update?</label>
        <locationX>168</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>HasComplianceFieldsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waste_Type_Empty</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waste_Type_Changed</name>
        <label>Waste Type Changed?</label>
        <locationX>728</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waste_Type_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Old_Record.Waste_Type_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EWC_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waste_Type_Empty</name>
        <label>Waste Type!=Empty</label>
        <locationX>170</locationX>
        <locationY>495</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waste_Type_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EWC_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Clean Approval Status after Compliance Fields Changed</description>
    <interviewLabel>Before Save Order LineItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Save Order LineItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EWC_Code</name>
        <label>Get EWC Code</label>
        <locationX>638</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_EWC_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Waste_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Waste_Type_2__c</elementReference>
            </value>
        </filters>
        <object>Waste_Types__c</object>
        <outputAssignments>
            <assignToReference>ewcCode</assignToReference>
            <field>EWC_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Record</name>
        <label>Get Old Record</label>
        <locationX>741</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Waste_Type_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Waste_Type_2__c</queriedFields>
        <queriedFields>EWC_Code_new__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Insert_or_Update</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ewcCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
