06-producer-portal/code/main/default/flows/Case_Scheduled_Send_Pending_Information_Email_Alerts_18.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>TwoHours_Passed_decision</name>
        <label>TwoHours Passed?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_TwoHoursPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Autolaunched_Send_Pending_Information_Email_Alerts</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_TwoHoursPassed</name>
        <dataType>Boolean</dataType>
        <expression>({!$Flow.CurrentDateTime} - {!forDT_PendingStart})*24*60 &gt;= 120</expression>
    </formulas>
    <formulas>
        <name>forDT_PendingStart</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status}, &quot;Pending Internal&quot;),
            {!$Record.Pending_Internal_Start_Date_Time__c},
            {!$Record.Pending_External_Start_Date_Time__c})</expression>
    </formulas>
    <interviewLabel>Case Scheduled: Send Pending Information Email Alerts - 18
        {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Scheduled: Send Pending Information Email Alerts - 18</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TwoHours_Passed_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Pending_Information_Email_Alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-29</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Case_Autolaunched_Send_Pending_Information_Email_Alerts</name>
        <label>Case Autolaunched: Send Pending Information Email Alerts</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <flowName>Case_Autolaunched_Send_Pending_Information_Email_Alerts</flowName>
        <inputAssignments>
            <name>caseToUpdate</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
