06-producer-portal/code/main/default/flows/Contact_Record_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Migrated from the Contact Record Changes process using Contact Leaves Account
        criteria.
        Flow fires when the Contact Record Changes. This flow initial set up for Contact has left
        the Account</description>
    <formulas>
        <name>formula_1_myRule_1_A2_1589017269</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email} &amp; &quot;.gone&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_1_A1_2079928919</name>
        <dataType>String</dataType>
        <expression>&quot;zz--&quot;&amp;LEFT({!$Record.LastName} , 60) &amp; &quot;--left
            company&quot;</expression>
    </formulas>
    <label>Contact Record Changes</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Set Flags - mod name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_2079928919</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_In__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A2</name>
        <label>Disable EMail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>formula_1_myRule_1_A2_1589017269</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>No_Longer_With_Company__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Longer_With_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
