06-producer-portal/code/main/default/flows/Create_Job_Validation_RLCS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Account_On_Stop_or_InActive_Assignment</name>
        <label>Account On Stop or InActive Assignment</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Account must be in Active Stage and not stop.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Order_Account_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invalid_Compliance_Status_Assignment</name>
        <label>Invalid Compliance Status Assignment</label>
        <locationX>754</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Invalid Compliance Status</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validation_Message_Count_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InValid_Order_Account_Assignment</name>
        <label>InValid Order Account Assignment</label>
        <locationX>798</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Order Account must be the customer Account to create a Job.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Max_Value_Not_Available_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsEmptyOrIsRejected_Assignment</name>
        <label>IsEmptyOrIsRejected Assignment</label>
        <locationX>50</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>needs to be submitted for approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validation_Message_Count_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsWaiting_Assignment</name>
        <label>IsWaiting Assignment</label>
        <locationX>314</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>✅ This record has been submitted for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validation_Message_Count_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jobs_Remaining_Assignment</name>
        <label>Jobs Remaining Assignment</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>The maximum number of jobs is already delivered.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Until_Date_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PO_Max_Value_Not_Available_Assignment</name>
        <label>PO Max Value Not Available Assignment</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Maximum Value for this Purchase Order Exceeded.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jobs_Remaining_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Supplier_not_selected_Assignment</name>
        <label>Supplier not selected Assignment</label>
        <locationX>578</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>﻿It was not possible to create the Job! The Supplier was not selected. Check the field on the Order Item.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ComplianceCheckNeeded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Until_Date_Assignment</name>
        <label>Until Date Assignment</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>untilDateValidationMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supplier_not_selected_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valid_Order_Product_Assignment</name>
        <label>Valid Order Product Assignment</label>
        <locationX>578</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>IsValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Validation_Message_Count_Assignment</name>
        <label>Validation Message Count Assignment</label>
        <locationX>710</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>validationMessageCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>validationMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Valid_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_On_Stop_or_InActive_Decision</name>
        <label>Account On Stop or InActive Decision</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Valid_Order_Account_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Account_On_Stop_or_InActive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Account.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Account.Stop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_On_Stop_or_InActive_Assignment</targetReference>
            </connector>
            <label>Account On Stop or InActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComplianceApprovalStatusCheck</name>
        <label>ComplianceApprovalStatusCheck</label>
        <locationX>402</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Invalid_Compliance_Status_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Compliance Status</defaultConnectorLabel>
        <rules>
            <name>IsEmptyOrIsRejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.JobCreationApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.JobCreationApprovalStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsEmptyOrIsRejected_Assignment</targetReference>
            </connector>
            <label>IsEmptyOrIsRejected</label>
        </rules>
        <rules>
            <name>IsWaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.JobCreationApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsWaiting_Assignment</targetReference>
            </connector>
            <label>IsWaiting</label>
        </rules>
        <rules>
            <name>IsApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.JobCreationApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message_Count_Assignment</targetReference>
            </connector>
            <label>IsApproved</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComplianceCheckNeeded</name>
        <label>ComplianceCheckNeeded</label>
        <locationX>710</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Validation_Message_Count_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotNeeded</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>(1 and 4) or (2 and 5) or (3 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.SupplierCompliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.DepotDisposeCompliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.DepotSupplyCompliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Depot_Dispose__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Depot_Supply__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceApprovalStatusCheck</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid_Decision</name>
        <label>Is Valid Decision</label>
        <locationX>710</locationX>
        <locationY>2642</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>validationMessageCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validationMessageCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Order_Product_Assignment</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jobs_Remaining_Decision</name>
        <label>Jobs Remaining Decision</label>
        <locationX>710</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Until_Date_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Jobs_Remaining</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Maximum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value of jobs on PO &amp; Number Items</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobRemaining</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jobs_Remaining_Assignment</targetReference>
            </connector>
            <label>Jobs Remaining?</label>
        </rules>
    </decisions>
    <decisions>
        <name>PO_Max_Value_Not_Available_Decision</name>
        <label>PO Max Value Not Available Decision</label>
        <locationX>710</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Jobs_Remaining_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Max_Value_Not_Available</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value of jobs on PO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value of jobs on PO &amp; Number Items</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Consumed_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Product.Order.Max_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Max_Value_Not_Available_Assignment</targetReference>
            </connector>
            <label>PO Max Value Not Available?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supplier_not_selected_Decision</name>
        <label>Supplier not selected Decision</label>
        <locationX>710</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>ComplianceCheckNeeded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_not_selected_Assignment</targetReference>
            </connector>
            <label>Supplier not selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Until_Date_Decision</name>
        <label>Until Date Decision</label>
        <locationX>710</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Supplier_not_selected_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Until_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Until Date</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Until_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Until_Date_Assignment</targetReference>
            </connector>
            <label>Until Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Order_Account_Decision</name>
        <label>Valid Order Account Decision</label>
        <locationX>710</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>InValid_Order_Account_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InValid Order Account</defaultConnectorLabel>
        <rules>
            <name>Valid_Order_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Order.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DomesticCustomer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Max_Value_Not_Available_Decision</targetReference>
            </connector>
            <label>Valid Order Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>jobRemaining</name>
        <dataType>Number</dataType>
        <expression>{!Get_Order_Product.Quantity}-{!Get_Order_Product.Delivered_Jobs__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>untilDateValidationMessage</name>
        <dataType>String</dataType>
        <expression>&quot;The last Date to create a job on this Product was &quot; + TEXT({!Get_Order_Product.Order.Until_Date__c})</expression>
    </formulas>
    <interviewLabel>Create Job Validation (RLCS) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Job Validation (RLCS)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_On_Stop_or_InActive_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>IsValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>orderProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderProductRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordTypeObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>validationMessageCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>validationMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
