06-producer-portal/code/main/default/flows/Create_Mixed_Waste_Type_Job_RLCS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>MultiSelectFlowValues</name>
        <label>MultiSelectFlowValues</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_Valid_Order_Products</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Choose_Order_Products</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Job</name>
        <label>Redirect to Job</label>
        <locationX>1194</locationX>
        <locationY>4010</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>rlcs_mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Child_Job_Into_List</name>
        <label>Add Child Job Into List</label>
        <locationX>1414</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJobs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rlcs_mixedWasteTypeChildJob</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Parent_Mixed_Waste_Type_Job_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Child_Job_Assignment</name>
        <label>Child Job Assignment</label>
        <locationX>1194</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJobs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_childjobRecsTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Rebate_Child_Mixed_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fixed_Order_Product_Assignment</name>
        <label>Fixed Order Product Assignment</label>
        <locationX>1282</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Haullier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_Job_Into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Job_Assignment</name>
        <label>Job Assignment</label>
        <locationX>1414</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Pricing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Pricing_method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Delivery_slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Customer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Waste_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Waste_Type_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Notes_on_Supplier_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_on_Supplier_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Supplier_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Supplier_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Sales_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Sales_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Sales_Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Sales_Tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Sales_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Partner_Tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Partner_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.AATFs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Depot_Dispose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Transport_Per_Tonne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Transport_Per_Tonne__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Transport_Per_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Transport_Per_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Haullier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Haulier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mixed_Waste_Type_Child_Job_Assignment</name>
        <label>Mixed Waste Type Child Job Assignment</label>
        <locationX>1282</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Mixed_Waste_Type_Child_Jobs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Parent_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeChildJob.Is_Child_Mixed_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Mixed_Waste_Type_Child_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mixed_Waste_Type_Job_Initial_Values</name>
        <label>Mixed Waste Type Job Initial Values</label>
        <locationX>1282</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeParentJobRec.Is_Mixed_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Valid_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mixed_Waste_Type_Parent_Job_Initial_Assignment</name>
        <label>Mixed Waste Type Parent Job Initial Assignment</label>
        <locationX>1282</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>rlcs_mixedWasteTypeParentJobRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_mixedWasteTypeChildJob</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mixed_Waste_Type_Job_Initial_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Choose_Order_Product_Decision</name>
        <label>Choose Order Product Decision</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Job_Validation_Bulk_RLCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Minimum_Order_Product_For_Mixed_Waste_Type</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Order_Products</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minimum_Order_Product_Validation_Message</targetReference>
            </connector>
            <label>Minimum Order Product For Mixed Waste Type</label>
        </rules>
        <rules>
            <name>Main_Order_Product</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Order_Products</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>orderProductId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Main_Order_product_Message_Screen</targetReference>
            </connector>
            <label>Main Order Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invalid_Order_Product_Available_Decision</name>
        <label>Invalid Order Product Available Decision</label>
        <locationX>886</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Order_Product_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Job_Validation_Bulk_RLCS.invalidOrderProductAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Invalid Order Product Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Mixed_Waste_Type_Job_Decision</name>
        <label>Is Parent Mixed Waste Type Job Decision</label>
        <locationX>1414</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Iterate_Valid_Order_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Mixed_Waste_Type_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderProductId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order_Product_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mixed_Waste_Type_Parent_Job_Initial_Assignment</targetReference>
            </connector>
            <label>Parent Mixed Waste Type Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Type_Decision</name>
        <label>Job Type Decision</label>
        <locationX>1414</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Add_Child_Job_Into_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Method_Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_mixedWasteTypeChildJob.Pricing_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fixed_Order_Product_Assignment</targetReference>
            </connector>
            <label>Pricing Method = Fixed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rebate_Child_Mixed_Decision</name>
        <label>Rebate Child Mixed Decision</label>
        <locationX>1194</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Manage_Booking_Confirmation_Email_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rebate_Record_Type_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rebate_Child_Mixed_Job.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Primary_Rebate_Screen</targetReference>
            </connector>
            <label>Rebate Record Type Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unable_To_Lock_Row_Decision</name>
        <label>Unable To Lock Row Decision</label>
        <locationX>1678</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unable_To_Lock_Row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UNABLE_TO_LOCK_ROW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unable_to_lock_row_Screen</targetReference>
            </connector>
            <label>Unable To Lock Row</label>
        </rules>
    </decisions>
    <description>upgraded version to 43</description>
    <dynamicChoiceSets>
        <name>deliverySlots</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deliver_slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderProductChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Create_Job_Flow_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Product.OrderId</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rlcs_rebateChildMixedJobCS</name>
        <dataType>String</dataType>
        <displayField>Create_Job_Flow_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rebate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rlcs_mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </filters>
        <object>RLCS_Job__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>addOrderProductTitleOnValidationMessage</name>
        <dataType>String</dataType>
        <expression>&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>emails</name>
        <dataType>String</dataType>
        <expression>{!Get_Order_Product.Partner__r.Sales_Email__c}+IF(NOT(ISBLANK({!Get_Order_Product.Partner__r.Other_Emails__c})), &apos;;&apos;+{!Get_Order_Product.Partner__r.Other_Emails__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>jobType</name>
        <dataType>String</dataType>
        <expression>IF({!toggleVal},&quot;Wait &amp; Load&quot;,
IF(OR(TEXT({!Order_Product_Record.Pricing_method__c})=&quot;Variable&quot;,TEXT({!Order_Product_Record.Pricing_method__c})=&quot;Fixed&quot;),&quot;Standard&quot;,
IF(TEXT({!Order_Product_Record.Pricing_method__c})=&quot;Rebate&quot;,&quot;Rebate&quot;,&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>templateName</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Order_Product.Pricing_method__c})=&quot;Fixed&quot;,&quot;Fixed_Job_Template&quot;,
IF(TEXT({!Get_Order_Product.Pricing_method__c})=&quot;Variable&quot;,&quot;Variable_Job_Template&quot;,
IF(TEXT({!Get_Order_Product.Pricing_method__c})=&quot;Rebate&quot;,&quot;Rebate_Job_Template&quot;,&quot;No Template Found&quot;)))</expression>
    </formulas>
    <interviewLabel>Create Mixed Waste Type Job (RLCS) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Mixed Waste Type Job (RLCS)</label>
    <loops>
        <name>Iterate_Mixed_Waste_Type_Child_Jobs</name>
        <label>Iterate Mixed Waste Type Child Jobs</label>
        <locationX>1194</locationX>
        <locationY>2438</locationY>
        <collectionReference>rlcs_mixedWasteTypeChildJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mixed_Waste_Type_Child_Job_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Child_Job_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Valid_Order_Products</name>
        <label>Iterate Valid Order Products</label>
        <locationX>1194</locationX>
        <locationY>1106</locationY>
        <collectionReference>MultiSelectFlowValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Product_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Parent_Mixed_Waste_Type_Job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Mixed_Waste_Type_Child_Job</name>
        <label>Create Mixed Waste Type Child Job</label>
        <locationX>1282</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Iterate_Mixed_Waste_Type_Child_Jobs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unable_To_Lock_Row_Decision</targetReference>
        </faultConnector>
        <inputReference>rlcs_mixedWasteTypeChildJob</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Mixed_Waste_Type_Job</name>
        <label>Create Parent Mixed Waste Type Job</label>
        <locationX>1194</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Iterate_Mixed_Waste_Type_Child_Jobs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Unable_To_Lock_Row_Decision</targetReference>
        </faultConnector>
        <inputReference>rlcs_mixedWasteTypeParentJobRec</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Order_Product_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rebate_Child_Mixed_Job</name>
        <label>Get Rebate Child Mixed Job</label>
        <locationX>1194</locationX>
        <locationY>3386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rebate_Child_Mixed_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rebate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rlcs_mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RLCS_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site</name>
        <label>Get Site</label>
        <locationX>1194</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Product.Order.Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Product_Record</name>
        <label>Order Product Record</label>
        <locationX>1414</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Valid_Order_Products</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Mixed_Job_for_Primary_Rebate_Transport</name>
        <label>Update Child Mixed Job for Primary Rebate Transport</label>
        <locationX>1062</locationX>
        <locationY>3710</locationY>
        <connector>
            <targetReference>Manage_Booking_Confirmation_Email_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Primary_Rebate_Job_for_Rebate_Transport</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Rebate_Mixed_Job__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>RLCS_Job__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_Order_Product_Screen</name>
        <label>Choose Order Product Screen</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Order_Product_Decision</targetReference>
        </connector>
        <fields>
            <name>Choose_Order_Products</name>
            <choiceReferences>OrderProductChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>orderProductId</elementReference>
            </defaultValue>
            <fieldText>Choose Order Products</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Primary_Rebate_Screen</name>
        <label>Choose Primary Rebate Screen</label>
        <locationX>1062</locationX>
        <locationY>3602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Child_Mixed_Job_for_Primary_Rebate_Transport</targetReference>
        </connector>
        <fields>
            <name>Choose_Primary_Rebate_Job_for_Rebate_Transport</name>
            <choiceReferences>rlcs_rebateChildMixedJobCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Primary Rebate Job for Rebate Transport</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Details</name>
        <label>Delivery Details</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delivery_Date_Holiday_Validation</targetReference>
        </connector>
        <fields>
            <name>Delivery_Slot</name>
            <choiceReferences>deliverySlots</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Delivery Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delivery_Date</name>
            <dataType>Date</dataType>
            <fieldText>Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes_on_Supplier_PO</name>
            <fieldText>Notes on Supplier PO</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1810</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;We cannot create the Job because of: &lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Order_product_Message_Screen</name>
        <label>Main Order product Message Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Choose_Order_Product_Screen</targetReference>
        </connector>
        <fields>
            <name>mainOrderProductSelectMessage</name>
            <fieldText>&lt;p&gt;Please Make Sure below Order Product Selected.&lt;/p&gt;&lt;p&gt;-{!Get_Order_Product.Create_Job_Flow_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Minimum_Order_Product_Validation_Message</name>
        <label>Minimum Order Product Validation Message</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Choose_Order_Product_Screen</targetReference>
        </connector>
        <fields>
            <name>minimumOrderProductForMixedWasteType</name>
            <fieldText>&lt;p&gt;Please select at least 2 order product for mixed waste type job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unable_to_lock_row_Screen</name>
        <label>Unable to lock row Screen</label>
        <locationX>1546</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>unableToLockRowMessage</name>
            <fieldText>&lt;p&gt;We cannot create the Job because of: Some related &lt;span style=&quot;color: rgb(30, 31, 33); background-color: rgb(249, 248, 248); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif;&quot;&gt;record has been changed since you made your changes. Refresh and try again.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Job_Validation_Bulk_RLCS</name>
        <label>Create Job Validation Bulk (RLCS)</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Invalid_Order_Product_Available_Decision</targetReference>
        </connector>
        <flowName>Create_Job_Validation_Bulk_RLCS</flowName>
        <inputAssignments>
            <name>chooseOrderProduct</name>
            <value>
                <elementReference>Choose_Order_Products</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Delivery_Date_Holiday_Validation</name>
        <label>Delivery Date Holiday Validation</label>
        <locationX>1194</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>MultiSelectFlowValues</targetReference>
        </connector>
        <flowName>Holiday_Validation_Flow</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fieldLabel</name>
            <value>
                <stringValue>Delivery Date</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Manage_Booking_Confirmation_Email_Subflow</name>
        <label>Manage Booking Confirmation Email Subflow</label>
        <locationX>1194</locationX>
        <locationY>3902</locationY>
        <connector>
            <targetReference>Redirect_to_Job</targetReference>
        </connector>
        <flowName>Manage_Booking_Confirmation_Email_Subflow</flowName>
        <inputAssignments>
            <name>rlcsJobId</name>
            <value>
                <elementReference>rlcs_mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>emailStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rlcs_childjobRecsTemp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Job__c</objectType>
    </variables>
    <variables>
        <name>rlcs_mixedWasteTypeChildJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Job__c</objectType>
    </variables>
    <variables>
        <name>rlcs_mixedWasteTypeChildJobs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Job__c</objectType>
    </variables>
    <variables>
        <name>rlcs_mixedWasteTypeParentJobRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Job__c</objectType>
    </variables>
    <variables>
        <name>toggleVal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
