06-producer-portal/code/main/default/flows/Daily_Log_creation_reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Prisoner_Status</name>
        <label>Prisoner Status</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unemployed_Additional_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prison_Appointmnet_Record.Current_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unemployed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Prison_Appointmnet_Record.Current_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Unemployed/Additional Support</label>
        </rules>
        <rules>
            <name>Employed_Recalled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prison_Appointmnet_Record.Current_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Prison_Appointmnet_Record.Current_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Task</targetReference>
            </connector>
            <label>Employed/Recalled</label>
        </rules>
        <rules>
            <name>Volunteering_Not_Engaginging_Training</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prison_Appointmnet_Record.Current_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Volunteering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Prison_Appointmnet_Record.Current_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not engaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Prison_Appointmnet_Record.Current_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training/Education</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_of_Create_Task</targetReference>
            </connector>
            <label>Volunteering/Not Engaging/Training</label>
        </rules>
    </decisions>
    <description>Object: Daily Log
Trigger: Daily Log is created
Notes: When a daily log is created, a task is created for that user to remind them to contact them this person again in x amount of weeks (this varies based upon the status of the Prisoner)</description>
    <environments>Default</environments>
    <formulas>
        <name>FourteenDaysAway</name>
        <dataType>Date</dataType>
        <expression>Today()+14</expression>
    </formulas>
    <formulas>
        <name>OneWeekaway</name>
        <dataType>Date</dataType>
        <expression>Today()+7</expression>
    </formulas>
    <formulas>
        <name>TaskName</name>
        <dataType>String</dataType>
        <expression>&quot;Contact&quot; + {!Get_Prison_Appointmnet_Record.Prisoner__r.Name}</expression>
    </formulas>
    <formulas>
        <name>ThirtyDaysAway</name>
        <dataType>Date</dataType>
        <expression>Today()+30</expression>
    </formulas>
    <interviewLabel>Daily Log creation reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Log creation reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Task</name>
        <label>Copy 1 of Create Task</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ThirtyDaysAway</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskName</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_of_Create_Task</name>
        <label>Copy of Create Task</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FourteenDaysAway</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskName</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>OneWeekaway</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskName</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Prison_Appointmnet_Record</name>
        <label>Get Prison Appointment Record</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prisoner_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prisoner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prisoner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prison_Appointment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Prison_Appointmnet_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prisoner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Daily_Log__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
