06-producer-portal/code/main/default/flows/Domestic_Create_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Domestic_Invoice</name>
        <label>Create Domestic Invoice</label>
        <locationX>446</locationX>
        <locationY>3110</locationY>
        <actionName>CreateDomesticInvoiceFlowHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Attach_Domestic_Job_to_Invoice</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invoice_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobCharges</name>
            <value>
                <elementReference>ReadJobCharges</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateDomesticInvoiceFlowHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Job</name>
        <label>Redirect to Job</label>
        <locationX>446</locationX>
        <locationY>4490</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignDocumentRequestValues</name>
        <label>AssignDocumentRequestValues</label>
        <locationX>578</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>DocumentRequest.rsdoc__Document_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2F4H000000fxRcUAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentRequest.rsdoc__Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Domestic_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDocumentRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDocumentRequestValues_0</name>
        <label>AssignProformaDocumentRequestValues</label>
        <locationX>314</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>ProformaDocumentRequest.rsdoc__Document_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2F4H000001tYy4UAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProformaDocumentRequest.rsdoc__Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Domestic_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDocumentRequest_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>https://recyclinglives.lightning.force.com/lightning/r/rsdoc__Document_Action__c/a2F4H000001tYyEUAU/view</description>
        <name>AssignDocumentRequestValues_0_0</name>
        <label>AssignDocumentRequestValuesWithoutEmail</label>
        <locationX>314</locationX>
        <locationY>4190</locationY>
        <assignmentItems>
            <assignToReference>DocumentRequest.rsdoc__Document_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2F4H000001tYyEUAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentRequest.rsdoc__Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Domestic_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDocumentRequest_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSageRef</name>
        <label>AssignSageRef</label>
        <locationX>446</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>GetAccountForUpdate.Sage_Ref__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAS003</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSageReference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consignment_Note_Add_Into_List</name>
        <label>Consignment Note Add Into List</label>
        <locationX>314</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JobChargeRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consignment_Note_Required_Assignment</name>
        <label>Consignment Note Required Assignment</label>
        <locationX>314</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRec.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consignment_Note_Sales_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consignment_Note_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consignment Note</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Charge_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consignment_Note_Add_Into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Job_Assignment</name>
        <label>Job Assignment</label>
        <locationX>446</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>jobObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Supplier Confirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Lead__r.Preferred_Date_of_delivery__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Waste_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Waste_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Supplier_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Partner_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Required_Paperwork__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Product2.Required_Paperwork__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Waste_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Waste_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Depot_Dispose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Depot_Dispose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Depot_Supply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Depot_Supply__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Deliver_slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Notes_on_Supplier_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_on_Supplier_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Customer_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Permit_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobpermitRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.SAGE_Payment_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sage_Reference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Permit_Charge_Assign_to_List</name>
        <label>New Permit Charge Assign to List</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JobChargeRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Consignment_Note_Required_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Permit_Required_Assignment</name>
        <label>New Permit Required Assignment</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRec.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Sales_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Permit Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Permit_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Charge_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Permit_Charge_Assign_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Email_Decision</name>
        <label>Account Email Decision</label>
        <locationX>2508</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Account_Email_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Not Available</defaultConnectorLabel>
        <rules>
            <name>Email_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line_Item</targetReference>
            </connector>
            <label>Email Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Proforma_Required</name>
        <label>Check Proforma Required</label>
        <locationX>446</locationX>
        <locationY>3866</locationY>
        <defaultConnector>
            <targetReference>AssignDocumentRequestValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Proforma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>send_proforma</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDocumentRequestValues_0</targetReference>
            </connector>
            <label>Create Proforma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consignment_Note_Required_Decision</name>
        <label>Consignment Note Required Decision</label>
        <locationX>446</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Create_Job_Charges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consignment_Note_Required_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consignment_Note_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consignment_Note_Required_Assignment</targetReference>
            </connector>
            <label>Consignment Note Required Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Effective_Date_Decision</name>
        <label>Effective Date Decision</label>
        <locationX>1456</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Effective_Date_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.Lead__r.Preferred_Date_of_delivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Effective_Date_Validation</targetReference>
            </connector>
            <label>Effective Date Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Converted</name>
        <label>Lead  Converted?</label>
        <locationX>2863</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Screen_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Details.Lead__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Details.Lead__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Email_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Permit_Required_Decision</name>
        <label>New Permit Required Decision</label>
        <locationX>446</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Consignment_Note_Required_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Permit_Required_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_permit_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Permit_Required_Assignment</targetReference>
            </connector>
            <label>New Permit Required Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuoteLineItemsDecision</name>
        <label>QuoteLineItemsDecision</label>
        <locationX>2063</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>InvalidQuoteLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuoteLineItemRecs.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Details</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_available</name>
        <label>Record Type available?</label>
        <locationX>1436</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>23/04/2024: Upgrade the version from 51 to 60
22/04/2024: Updated &apos;PersonEmail&apos; from Account Email Decision
22/04/2024: Updated the &apos;Lead Converted?&apos; requirements
29-09-2023: Delivery Date Holiday Validation
04-08-2023: changed the Sage Ref from CAS to CAS003
Preferred Date of delivery missing.</description>
    <dynamicChoiceSets>
        <name>deliverySlotJobChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deliver_slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CustomerEmail</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Record.PersonEmail}</expression>
    </formulas>
    <formulas>
        <name>DomesticCustomerFromAddress</name>
        <dataType>String</dataType>
        <expression>{!$Label.From_Address_Customer}</expression>
    </formulas>
    <formulas>
        <name>DomesticSupplierFromAddress</name>
        <dataType>String</dataType>
        <expression>{!$Label.From_Address_Supplier}</expression>
    </formulas>
    <formulas>
        <name>emails</name>
        <dataType>String</dataType>
        <expression>{!Get_Quote_Line_Item.Partner__r.Sales_Email__c}+IF(NOT(ISBLANK({!Get_Quote_Line_Item.Partner__r.Other_Emails__c})), &apos;;&apos;+{!Get_Quote_Line_Item.Partner__r.Other_Emails__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>JobpermitRequired</name>
        <dataType>String</dataType>
        <expression>IF({!New_permit_required},&apos;YES&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Domestic Create Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Domestic Create Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job</name>
        <label>Create Job</label>
        <locationX>446</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>New_Permit_Required_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invoice_Error</targetReference>
        </faultConnector>
        <inputReference>jobObj</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Job_Charges</name>
        <label>Create Job Charges</label>
        <locationX>446</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>ReadJobCharges</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invoice_Error</targetReference>
        </faultConnector>
        <inputReference>JobChargeRecs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Create_Order_Product</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invoice_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Quote_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Account_Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Account_Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Account_Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Account_Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Account_Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Get_Quote_Details.Lead__r.Preferred_Date_of_delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Quote_Details.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Account_Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Account_Record.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Account_Record.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Account_Record.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Account_Record.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>Get_Quote_Details.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Product</name>
        <label>Create Order Product</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Additional_Charges</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invoice_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Depot_Dispose__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Depot_Dispose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depot_Supply__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Depot_Supply__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Quote_Line_Item.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_method__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Pricing_method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLineItemId</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Partner_price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waste_Type_2__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Waste_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateDocumentRequest</name>
        <label>CreateDocumentRequest</label>
        <locationX>578</locationX>
        <locationY>4082</locationY>
        <connector>
            <targetReference>Redirect_to_Job</targetReference>
        </connector>
        <inputReference>DocumentRequest</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateDocumentRequest_0</name>
        <label>CreateProformaDocumentRequest</label>
        <locationX>314</locationX>
        <locationY>4082</locationY>
        <connector>
            <targetReference>AssignDocumentRequestValues_0_0</targetReference>
        </connector>
        <inputReference>ProformaDocumentRequest</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateDocumentRequest_0_0</name>
        <label>CreateDocumentRequest</label>
        <locationX>314</locationX>
        <locationY>4298</locationY>
        <connector>
            <targetReference>Redirect_to_Job</targetReference>
        </connector>
        <inputReference>DocumentRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>2863</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Details.Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Record_Type</name>
        <label>Get Job Record Type</label>
        <locationX>1436</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fixed</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordTypeObj</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>1456</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Effective_Date_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>2063</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQuoteLineItemRecs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountForUpdate</name>
        <label>GetAccountForUpdate</label>
        <locationX>446</locationX>
        <locationY>3326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSageRef</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sage_Ref__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteLineItemRecs</name>
        <label>GetQuoteLineItemRecs</label>
        <locationX>2063</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteLineItemsDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_price__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>UnitPrice</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ReadJobCharges</name>
        <label>ReadJobCharges</label>
        <locationX>446</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Domestic_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Charge__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Attach_Domestic_Job_to_Invoice</name>
        <label>Attach Domestic Job to Invoice and update Invoice status to paid</label>
        <locationX>446</locationX>
        <locationY>3218</locationY>
        <connector>
            <targetReference>GetAccountForUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Domestic_Invoice</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Domestic_Job__c</field>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSageReference</name>
        <label>UpdateSageReference</label>
        <locationX>446</locationX>
        <locationY>3542</locationY>
        <connector>
            <targetReference>Notify_Supplier</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invoice_Error</targetReference>
        </faultConnector>
        <inputReference>GetAccountForUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_Email_Required</name>
        <label>Account Email Required</label>
        <locationX>2954</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountEmailDisplayText</name>
            <fieldText>&lt;p&gt;Account Email Required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Charges</name>
        <label>Delivery Details &amp; Additional Charges</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delivery_Date_Holiday_Validation</targetReference>
        </connector>
        <fields>
            <name>Delivery_Slot</name>
            <choiceReferences>deliverySlotJobChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Delivery Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delivery_Date</name>
            <dataType>Date</dataType>
            <fieldText>Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes_on_Supplier_PO</name>
            <fieldText>Notes on Supplier PO</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_Reference</name>
            <dataType>String</dataType>
            <fieldText>Customer Reference</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AdditionalCharges</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Additional Charges ﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_permit_required</name>
            <dataType>Boolean</dataType>
            <fieldText>New permit required?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Permit_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Permit Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_permit_required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Permit_Sales_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Permit Sales Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_permit_required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Permit_Expiry_Date</name>
            <dataType>Date</dataType>
            <fieldText>Permit Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_permit_required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consignment_Note_Required</name>
            <dataType>Boolean</dataType>
            <fieldText>Consignment Note Required?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Consignment_Note_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Consignment Note Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Consignment_Note_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consignment_Note_Sales_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Consignment Note Sales Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Consignment_Note_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Details</name>
        <label>Delivery Details</label>
        <locationX>1436</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment</targetReference>
        </connector>
        <fields>
            <name>JobDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Job Details :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CustomerName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;CustomerName &lt;/b&gt;&lt;b&gt;: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account_Record.Name}&lt;/span&gt;﻿&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DateOfDelivery</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Preferred date of delivery : &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!Get_Quote_Details.Lead__r.Preferred_Date_of_delivery__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Product &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Quote_Line_Item.Product2.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WasteType</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Waste Type  : &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Quote_Line_Item.Waste_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supplier</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Supplier : &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Quote_Line_Item.Partner__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cost</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Cost &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!Get_Quote_Line_Item.Partner_price__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Effective_Date_Validation</name>
        <label>Effective Date Validation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>effectiveDateValidationMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Preferred Date of delivery&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt; missing on  Lead.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InvalidQuoteLineItem</name>
        <label>InvalidQuoteLineItem</label>
        <locationX>2690</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QuoteLineItemValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Graphik, &amp;quot;Helvetica Neue&amp;quot;, helvetica, &amp;quot;Apple Color Emoji&amp;quot;, arial, sans-serif; color: rgb(40, 60, 70);&quot;&gt;Please ensure you have added all pricing information before creating a job.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_Error</name>
        <label>Invoice Error</label>
        <locationX>842</locationX>
        <locationY>3650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvoiceErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notify_Customer</name>
        <label>Notify Customer</label>
        <locationX>446</locationX>
        <locationY>3758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Proforma_Required</targetReference>
        </connector>
        <fields>
            <name>CustomerInformationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Customer invoice is being created &amp;amp; will be sent to them by email &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;automatically&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>send_proforma</name>
            <dataType>Boolean</dataType>
            <fieldText>Send Proforma Invoice instead of actual invoice.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notify_Supplier</name>
        <label>Notify Supplier</label>
        <locationX>446</locationX>
        <locationY>3650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Notify_Customer</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_send_email_to_supplier</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to send email to supplier?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendEmail</name>
            <extensionName>c:sendEmailToSupplier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobID</name>
                <value>
                    <elementReference>jobObj.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templatename</name>
                <value>
                    <stringValue>Domestic_Job_Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppplierToEmailIDs</name>
                <value>
                    <elementReference>emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromEmailAddress</name>
                <value>
                    <elementReference>DomesticSupplierFromAddress</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>emailStatus</assignToReference>
                <name>emailStatus</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_send_email_to_supplier</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment</name>
        <label>Payment</label>
        <locationX>1436</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Job_Record_Type</targetReference>
        </connector>
        <fields>
            <name>PaymentMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please take payment from the customer and add the &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Payment Reference&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sage_Reference</name>
            <dataType>String</dataType>
            <fieldText>Payment Reference</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Message</name>
        <label>Screen Message</label>
        <locationX>3218</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadNotConverted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(234, 3, 3); font-size: 16px;&quot;&gt;Please convert the Lead before Creating a Job.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1330</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Details</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Delivery_Date_Holiday_Validation</name>
        <label>Delivery Date Holiday Validation</label>
        <locationX>446</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Job_Assignment</targetReference>
        </connector>
        <flowName>Holiday_Validation_Flow</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fieldLabel</name>
            <value>
                <stringValue>Delivery Date</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>DocumentRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rsdoc__Document_Request__c</objectType>
    </variables>
    <variables>
        <name>emailStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JobChargeRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Charge__c</objectType>
    </variables>
    <variables>
        <name>JobChargeRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Charge__c</objectType>
    </variables>
    <variables>
        <name>jobObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>ProformaDocumentRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rsdoc__Document_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>toggleVal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
