06-producer-portal/code/main/default/flows/ECSL_eligible_is_true.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>New_CRD_Date_False</name>
        <label>New CRD Date</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NewCRDDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_CRD_Date_True</name>
        <label>New CRD Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NewCRDDate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_ECSL_eligible_true</name>
        <label>Is ECSL eligible true?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>New_CRD_Date_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ECSL_Eligible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_CRD_Date_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Object: Prison Appointment
        Trigger: ECSL_Eligible__c is changed to true
        Notes: When the ECSL_Eligible__c field is changed to true, it updates the CRD date to move
        back 35 days.</description>
    <environments>Default</environments>
    <interviewLabel>ECSL eligible is true {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECSL eligible is true</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Triggering_Record_False</name>
        <label>Update Triggering Record</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CRD_release_date__c</field>
            <value>
                <elementReference>NewCRDDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record_True</name>
        <label>Update Triggering Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CRD_release_date__c</field>
            <value>
                <elementReference>NewCRDDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_ECSL_eligible_true</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.ECSL_Eligible__c})</filterFormula>
        <object>Prison_Appointment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailRecordOwnerBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;
            font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please check/confirm the CRD date
            for {!$Record.Prisoner__r.Name} and amend accordingly.
            &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a
            href=&quot;https://recyclinglives.lightning.force.com/lightning/r/Prison_Appointment__c/{!$Record.Id}/view&quot;
            rel=&quot;noopener noreferrer&quot;
            target=&quot;_blank&quot;&gt;https://recyclinglives.lightning.force.com/lightning/r/Prison_Appointment__c/{!$Record.Id}/view&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NewCRDDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record__Prior.CRD_release_date__c</elementReference>
        </value>
    </variables>
</Flow>
