06-producer-portal/code/main/default/flows/Exchange_RLCS_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_RecordId</name>
        <label>Redirect to RecordId</label>
        <locationX>2206</locationX>
        <locationY>1970</locationY>
        <actionName>c:redirectToRecordId</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>new_rlcs_Job.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:redirectToRecordId</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Job_Delivery_Date</name>
        <label>Assign Job Delivery Date</label>
        <locationX>2074</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>JobDeliveryDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Job_Details_0</name>
        <label>Assign New Job Details</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Parent_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Collect_Slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Order_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Pricing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Pricing_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Customer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Customer_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exchange</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Notes_to_Supplier_for_Collection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_on_Supplier_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Waste_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Waste_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Customer_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Supplier_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Order_Product__r.Supplier_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Sales_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Order_Product__r.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Sales_Tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Order_Product__r.Sales_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_Job.Partner_Tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Order_Product__r.Partner_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.AATFs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Order_Product__r.Depot_Dispose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Order_Product__r.Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Sales_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Order_Product__r.Transport_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Haullier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Haullier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_rlcs_Job.Processor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rlcs_Job.Processor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_RLCS_Collection_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Job_Update</name>
        <label>Current Job Update</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>rlcs_Job.Collected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_Job.Collect_Slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Slot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_RLCS_Job</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Custom_Exchange</name>
        <choiceText>Custom Exchange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom Exchange</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard_Exchange</name>
        <choiceText>Standard Exchange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Exchange</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Do_not_Redirect_Decision</name>
        <label>Do not Redirect Decision</label>
        <locationX>2074</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_RecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_not_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>doNotRedirectToJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Do not Redirect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exchange_Path_Decision</name>
        <label>Exchange Path Decision</label>
        <locationX>2074</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Low_Level_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Custom Exchange</defaultConnectorLabel>
        <rules>
            <name>Standard_Exchange_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exchange_Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Standard_Exchange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Date_Holiday_Validation</targetReference>
            </connector>
            <label>Standard Exchange outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Exchange_Job_Decision</name>
        <label>New Exchange Job Decision</label>
        <locationX>2514</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>New_Exchange_Job_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exchange_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_rlcs_Job.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Booking_Confirmation_Email_Subflow</targetReference>
            </connector>
            <label>Exchange Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Exchange_job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Validation</defaultConnectorLabel>
        <rules>
            <name>Account_Inactive_or_on_Stop</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_Job.Customer_Account__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rlcs_Job.Customer_Account__r.Stop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Stop_In_Active_Validation_Screen</targetReference>
            </connector>
            <label>Account Inactive or on Stop</label>
        </rules>
        <rules>
            <name>Active_Rebate_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_Job.Customer_Account__r.Active_Rebate_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rlcs_Job.Order_Product__r.Pricing_method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rebate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Rebate_Only_Screen</targetReference>
            </connector>
            <label>Active - Rebate Only</label>
        </rules>
        <rules>
            <name>Site_Phone_Required_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_Job.Site__r.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Phone_Required</targetReference>
            </connector>
            <label>Site Phone Required Screen</label>
        </rules>
        <rules>
            <name>Already_have_collection_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rlcs_Job.Collected_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message</targetReference>
            </connector>
            <label>Already have collection date</label>
        </rules>
        <rules>
            <name>Job_Wait_and_Load</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_Job.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait &amp; Load</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Wait_and_Load_Screen</targetReference>
            </connector>
            <label>Job Wait and Load</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Screen_0</name>
        <label>Validation Screen</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Job_Delivery_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Validation</defaultConnectorLabel>
        <rules>
            <name>Already_Exchanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Exchange_job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning</targetReference>
            </connector>
            <label>Already Exchanged?</label>
        </rules>
    </decisions>
    <description>21-06-2025 : added standard and custom exchange path
03-03-2025 : added Manage Booking Confirmation Email Subflow
15-01-2025 : changed mapping from processor to Haullier.</description>
    <dynamicChoiceSets>
        <name>collectionSlot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Collect_Slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>currentUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>emails</name>
        <dataType>String</dataType>
        <expression>{!rlcs_Job.Haullier__r.Sales_Email__c}+IF(NOT(ISBLANK({!rlcs_Job.Haullier__r.Other_Emails__c})), &apos;;&apos;+{!rlcs_Job.Haullier__r.Other_Emails__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>FromAddressSupplier</name>
        <dataType>String</dataType>
        <expression>{!$Label.From_Address_Supplier}</expression>
    </formulas>
    <formulas>
        <name>jobAccountName</name>
        <dataType>String</dataType>
        <expression>LOWER( {!rlcs_Job.Customer_Account__r.Name})</expression>
    </formulas>
    <formulas>
        <name>jobType</name>
        <dataType>String</dataType>
        <expression>TEXT({!new_rlcs_Job.Type__c})</expression>
    </formulas>
    <formulas>
        <name>templateName</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!rlcs_Job.Order_Product__r.Pricing_method__c}) == &quot;Fixed&quot;,

CASE({!jobType}, &quot;Exchange&quot;, &quot;RLCS_Fixed_Job_Template_Exchange&quot;, &quot;Wait &amp; Load&quot;, &quot;RLCS_Fixed_Job_Template_Wait_Load&quot;, &quot;RLCS_Fixed_Job_Template_Delivery&quot;)
,
IF(TEXT({!rlcs_Job.Order_Product__r.Pricing_method__c}) ==&quot;Variable&quot;,

CASE({!jobType}, &quot;Exchange&quot;, &quot;RLCS_Variable_Job_Template_Exchange&quot;, &quot;Wait &amp; Load&quot;, &quot;RLCS_Variable_Job_Template_Wait_Load&quot;, &quot;RLCS_Variable_Job_Template_Delivery&quot;)

,
IF(TEXT({!rlcs_Job.Order_Product__r.Pricing_method__c}) == &quot;Rebate&quot;,

CASE({!jobType}, &quot;Exchange&quot;, &quot;RLCS_Rebate_Job_Template_Exchange&quot;, &quot;Wait &amp; Load&quot;, &quot;RLCS_Rebate_Job_Template_Wait_Load&quot;, &quot;RLCS_Rebate_Job_Template_Delivery&quot;)

,
&quot;No Template Found&quot;)))</expression>
    </formulas>
    <interviewLabel>Exchange RLCS Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exchange RLCS Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_RLCS_Collection_Job</name>
        <label>Create RLCS Collection Job</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Current_Job_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>new_rlcs_Job</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Exchange_job</name>
        <label>Get Existing Exchange job</label>
        <locationX>1722</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exchange</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RLCS_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Low_Level_Job</name>
        <label>Get Low Level Job</label>
        <locationX>2514</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomExchangeJobScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rlcs_Job.Order_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delivery_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RLCS_Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Notes_on_Supplier_PO__c</queriedFields>
        <sortField>Delivery_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RLCS_Job</name>
        <label>Get RLCS Job</label>
        <locationX>886</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>RLCS_Job__c</object>
        <outputReference>rlcs_Job</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Processor__c</queriedFields>
        <queriedFields>AATFs__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Order_Product__c</queriedFields>
        <queriedFields>Delivery_Date__c</queriedFields>
        <queriedFields>Collected_Date__c</queriedFields>
        <queriedFields>Customer_Account__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Parent_Job__c</queriedFields>
        <queriedFields>Collect_Slot__c</queriedFields>
        <queriedFields>Customer_Reference__c</queriedFields>
        <queriedFields>Waste_Type__c</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Pricing_Method__c</queriedFields>
        <queriedFields>Haullier__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_RLCS_Job</name>
        <label>Update Current RLCS Job</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Manage_Booking_Confirmation_Email_Subflow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <inputReference>rlcs_Job</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_Stop_In_Active_Validation_Screen</name>
        <label>Account Stop/In Active Validation Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountStatusCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(231, 26, 11); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Account must be in Active Stage and not stop.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Active_Rebate_Only_Screen</name>
        <label>Active - Rebate Only Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActiveRebateOnlyMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Account is &quot;Active - Rebate Only&quot; so you can only exchange the Rebate Jobs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collection_Details</name>
        <label>Collection Details</label>
        <locationX>2074</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Exchange_Path_Decision</targetReference>
        </connector>
        <fields>
            <name>Exchange_Path</name>
            <choiceReferences>Standard_Exchange</choiceReferences>
            <choiceReferences>Custom_Exchange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Exchange Path</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Collection_Date</name>
            <dataType>Date</dataType>
            <fieldText>Collection Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Collection Date Should be greater or equal to Parent Job&apos;s Delievery Date :  {!rlcs_Job.Delivery_Date__c}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Collection_Date} - Today()) &gt;= ({!JobDeliveryDate} - Today())</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Custom_Exchange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collect_Slot</name>
            <choiceReferences>collectionSlot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Collect Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Custom_Exchange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes_on_Supplier_PO</name>
            <fieldText>Notes on Supplier PO</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Custom_Exchange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Reference</name>
            <dataType>String</dataType>
            <fieldText>Customer Reference</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>jobAccountName</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>openreach</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>rlcs_Job.Customer_Account__r.Account_Require_Customer_Reference__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Custom_Exchange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CustomExchangeJobScreen</name>
        <label>CustomExchangeJobScreen</label>
        <locationX>2514</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Exchange_Job_Decision</targetReference>
        </connector>
        <fields>
            <name>rlcs_ExchangeJob</name>
            <extensionName>c:rlcs_ExchangeJob</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Low_Level_Job.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>new_rlcs_Job.Id</assignToReference>
                <name>newCollectionJobId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2162</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;We cannot create the Exchange Job because of: &lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>1898</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;We cannot update the Current Job because of: &lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Wait_and_Load_Screen</name>
        <label>Job Wait and Load Screen</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WLDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(237, 7, 7);&quot;&gt;Wait and Load Jobs can&apos;t be  exchanged.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DeliveredText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(237, 7, 7); font-size: 16px;&quot;&gt;Job already has Collection Date.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Exchange_Job_Not_Found</name>
        <label>New Exchange Job Not Found</label>
        <locationX>2602</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExchangeJobNotFoundMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You didn&apos;t create any Exchange Job yet.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Phone_Required</name>
        <label>Site Phone Required</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SitePhoneRequiredText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 7, 7); font-size: 16px;&quot;&gt;Site Phone Required to Create an Exchange Job.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Job_Exchange</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(228, 12, 12);&quot;&gt;Job already exchanged&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLCS_Job</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Collection_Date_Holiday_Validation</name>
        <label>Collection Date Holiday Validation</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_New_Job_Details_0</targetReference>
        </connector>
        <flowName>Holiday_Validation_Flow</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fieldLabel</name>
            <value>
                <stringValue>Collection Date</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Manage_Booking_Confirmation_Email_Subflow</name>
        <label>Manage Booking Confirmation Email Subflow</label>
        <locationX>2074</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Do_not_Redirect_Decision</targetReference>
        </connector>
        <flowName>Manage_Booking_Confirmation_Email_Subflow</flowName>
        <inputAssignments>
            <name>rlcsJobId</name>
            <value>
                <elementReference>new_rlcs_Job.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>doNotRedirectToJob</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>emailOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>JobDeliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mailSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>new_rlcs_Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Job__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rlcs_Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Job__c</objectType>
    </variables>
</Flow>
