06-producer-portal/code/main/default/flows/File_Import_Failed_Case_Creation_NEW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Case_Into_List</name>
        <label>Add Case Into List</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>caseRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_File_Import</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Into_FileImportIds_List</name>
        <label>Add Into FileImportIds List</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>fileImportIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fileImportId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FileImport_Ids_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Into_List</name>
        <label>Add Into List</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>cdLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cdLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Assignment</name>
        <label>Case Assignment</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>caseRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_File_Import.Error_Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRec.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_File_Import.Tag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRec.File_Import__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_File_Import.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRec.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_File_Import.Document_Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRec.Processed_Document_io__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_File_Import.Processed_Document_io__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRec.RLES_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parse Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paperwork_Compliance_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRec.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRec.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_File_Import.Supplier_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRec.Vendor_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_File_Import.Vendor_Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cases_Size_Assignment</name>
        <label>Cases Size Assignment</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>caseSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>caseRecs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Available_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FileImport_Ids_size</name>
        <label>FileImport Ids size</label>
        <locationX>380</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>fileImportIdSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>fileImportIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FileImport_Ids_Size_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignment</name>
        <label>Initial Assignment</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>cdLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Files.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Files.ShareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cdLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Files.Visibility</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Into_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Available_Decision</name>
        <label>Case Available Decision</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Size_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File_Import_Files</targetReference>
            </connector>
            <label>Case Size &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failed_File_Import_Decision</name>
        <label>Failed File Import Decision</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Iterate_File_Import</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failed_File_Import</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_File_Import.File_Import_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_File_Import.No_Of_Mismatches__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Assignment</targetReference>
            </connector>
            <label>Failed File Import</label>
        </rules>
    </decisions>
    <decisions>
        <name>File_Import_ID_Is_Blank_Decision</name>
        <label>File Import ID Is Blank Decision</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>FileImport_Ids_size</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Import_Id_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileImportId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Into_FileImportIds_List</targetReference>
            </connector>
            <label>File Import Id Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>FileImport_Ids_Size_Decision</name>
        <label>FileImport Ids Size Decision</label>
        <locationX>380</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FileImport_Ids_Size_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileImportIdSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File_Imports</targetReference>
            </connector>
            <label>FileImport Ids Size &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_File_Import_Case_Decision</name>
        <label>Valid File Import Case Decision</label>
        <locationX>710</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Iterate_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_File_Import_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Files.LinkedEntityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Cases.File_Import__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Assignment</targetReference>
            </connector>
            <label>Valid File Import Case</label>
        </rules>
    </decisions>
    <description>21-01-2025 : added FileImport Ids Size decision
28-06-2024: added error handling
07-06-2024 - change record type search from name to developer name (Paperwork_Compliance)
29-03-2023 - attach file only if case has been created
07-03-2023 - case create only when file import gets failed
15-02-2023 - change supplier case lookup from supplier to supplier account
14-02-2023 - case supplier mapping changed from job to file import.
14-02-2023 - changed process document field from old namespace to new namespace</description>
    <environments>Default</environments>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>{!Iterate_File_Import.Processed_Document_io__r.Name} + &quot; &quot; +TEXT({!Iterate_File_Import.No_Of_Mismatches__c}) + &quot; error(s) against &quot; + {!Iterate_File_Import.Tag__c} + &quot; from &quot; + {!Iterate_File_Import.Supplier__c}</expression>
    </formulas>
    <interviewLabel>File Import Failed Case Creation (NEW) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>File Import Failed Case Creation (NEW)</label>
    <loops>
        <name>Iterate_Cases</name>
        <label>Iterate Cases</label>
        <locationX>490</locationX>
        <locationY>2006</locationY>
        <collectionReference>caseRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valid_File_Import_Case_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_File_Import</name>
        <label>Iterate File Import</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_File_Imports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Failed_File_Import_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Files</name>
        <label>Iterate Files</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <collectionReference>Get_File_Import_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterate_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Attach_File_Import_Document_To_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Attach_File_Import_Document_To_Case</name>
        <label>Attach File Import Document To Case</label>
        <locationX>50</locationX>
        <locationY>2756</locationY>
        <inputReference>cdLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Cases</name>
        <label>Create Cases</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Cases_Size_Assignment</targetReference>
        </connector>
        <inputReference>caseRecs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_File_Import_Files</name>
        <label>Get File Import Files</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>fileImportIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Imports</name>
        <label>Get File Imports</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Paperwork_Compliance_RecordType</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>fileImportIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>File_Import__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Paperwork_Compliance_RecordType</name>
        <label>Paperwork Compliance RecordType</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_File_Import</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paperwork_Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>File_Import_ID_Is_Blank_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>cdLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>cdLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>fileImportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileImportIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileImportIdSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
