06-producer-portal/code/main/default/flows/Flow_to_Process_Orbit_Group_Clearabee_Wasted_Journey_Jobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Flow to Process Orbit Group/Clearabee Wasted Journey Jobs
        {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Process Orbit Group/Clearabee Wasted Journey Jobs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Wasted_Journey_Charge</name>
        <label>Create Wasted Journey Charge</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <stringValue>Wasted Journey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <numberValue>37.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price__c</field>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wasted_Journey_Reason__c</field>
            <value>
                <stringValue>No Access to Container/Waste</stringValue>
            </value>
        </inputAssignments>
        <object>Job_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Customer_Reference_and_Charge_Fields</name>
        <label>Update Customer Reference and Charge Fields</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Wasted_Journey_Charge</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Reference__c</field>
            <value>
                <stringValue>Wasted Journey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Price__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Customer_Reference_and_Charge_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0014H00002k17OnQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0014H00002VqdICQAZ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wasted Journey</stringValue>
            </value>
        </filters>
        <object>Job__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
