06-producer-portal/code/main/default/flows/Flow_to_mark_opp_owner_on_opps_related_to_automated_leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_related_lead</name>
        <label>Is related lead &quot;RLS Automated Commercial Lead&quot;</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Static_Id__c.RecordType_Lead_RLSAutomatedCommercialLe__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opp_owner_to_created_by</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>20/09/2025 : removed the static Id dependency</description>
    <environments>Default</environments>
    <interviewLabel>Flow to mark opp owner on opps related to automated leads
        {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to mark opp owner on opps related to automated leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_opp_owner_to_created_by</name>
        <label>Update opp owner to created by</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_1_minute</name>
            <connector>
                <targetReference>Is_related_lead</targetReference>
            </connector>
            <label>Wait 1 minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
