06-producer-portal/code/main/default/flows/Flow_to_stop_job_from_being_cancelled_if_job_charges_are_invoiced.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Do_not_allow_job_to_be_cancelled</name>
        <label>Do not allow job to be cancelled</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Some job charges against this job have been invoiced. You cannot cancel
                this job without moving the charges first.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>A job charge has been invoiced against this job. Please tick &apos;Temp
                Field for Mass Update&apos; before cancelling and moving the job charge to the right
                job.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Are_any_job_charges_invoiced</name>
        <label>Are any job charges invoiced?</label>
        <locationX>479</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Get_Charges_which_are_invoiced</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_is_cancelling</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_bypass_job_validation_TRUE</name>
        <label>Is bypass job validation TRUE?</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Temp_Field_for_Mass_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_cancelling</name>
        <label>Who is cancelling?</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Do_not_allow_job_to_be_cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Someone else</defaultConnectorLabel>
        <rules>
            <name>Chan_or_Stacey</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0054H000006fGNi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0051o00000AIeiy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0051o000008F1qa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_bypass_job_validation_TRUE</targetReference>
            </connector>
            <label>Chan or Stacey?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow to stop job from being cancelled if job charges are invoiced
        {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to stop job from being cancelled if job charges are invoiced</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Charges_which_are_invoiced</name>
        <label>Get Charges which are invoiced</label>
        <locationX>479</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_any_job_charges_invoiced</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Sales_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Has_Vendor_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Charge__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Has_Sales_Invoice__c</queriedFields>
        <queriedFields>Has_Vendor_Invoice__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Charges_which_are_invoiced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Job__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
