06-producer-portal/code/main/default/flows/HMP_Web_form_Prison_appointment_change_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Candidate assessment form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Candidate assessment form</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>candidate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prison_Appointment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Candidate assessment form</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>Pre release questionnaire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_Pre release questionnaire</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>release</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prison_Appointment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_Pre release questionnaire</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6</name>
        <label>Data capture form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Data capture form</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>data</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prison_Appointment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>TRUE_Data capture form</label>
        </rules>
    </decisions>
    <description>Migrated from the HMP Web form - Prison appointment change process using multiple
        criteria.
        A process to copy fields from the HMP web forms to the Prison Appointment record when the
        prison appointment field is changed</description>
    <formulas>
        <name>formula_1_myRule_1_A1_6619570997</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Bank_Account__c} =TRUE,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_1_A1_1919750794</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Proof_of_National_Insurance__c=TRUE},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_6_A1_6426757035</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Bank_Account__c} =TRUE,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_6_A1_9003685367</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Proof_of_National_Insurance__c}
            =TRUE,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_11_A1_5884849648</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Bank_Account__c} =TRUE,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_6_myRule_11_A1_8114993446</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Proof_of_National_Insurance__c}
            =TRUE,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <label>HMP Web form - Prison appointment change_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_11_A1</name>
        <label>Update Prison Appointment record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Actual_release_date__c</field>
            <value>
                <elementReference>$Record.Release_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_account__c</field>
            <value>
                <elementReference>formula_5_myRule_11_A1_5884849648</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusion_zones__c</field>
            <value>
                <elementReference>$Record.Exclusion_areas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gate_pickup_required__c</field>
            <value>
                <elementReference>$Record.Support_Gate_pick_up__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Manager_name__c</field>
            <value>
                <elementReference>$Record.OM_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Supervisor_Name__c</field>
            <value>
                <elementReference>$Record.OS_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_manager_address__c</field>
            <value>
                <elementReference>$Record.OM_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_supervisor_address__c</field>
            <value>
                <elementReference>$Record.OS_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_support_required__c</field>
            <value>
                <elementReference>$Record.Support_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proof_of_NI_number__c</field>
            <value>
                <elementReference>formula_6_myRule_11_A1_8114993446</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_signposting_support_required__c</field>
            <value>
                <elementReference>$Record.Support_referral_signposting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_area__c</field>
            <value>
                <elementReference>$Record.Release_area__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Prison_Appointment__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Update Prison Appointment record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Accommodation_support_required__c</field>
            <value>
                <elementReference>$Record.Housing_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arson_Offence__c</field>
            <value>
                <elementReference>$Record.Index_Arson_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_account__c</field>
            <value>
                <elementReference>formula_1_myRule_1_A1_6619570997</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRD_release_date__c</field>
            <value>
                <elementReference>$Record.Release_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circumstances_of_offence__c</field>
            <value>
                <elementReference>$Record.Circumstances_of_index_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driving_offence__c</field>
            <value>
                <elementReference>$Record.Index_Driving_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug_related_offence__c</field>
            <value>
                <elementReference>$Record.Index_Drug_related__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_support_required__c</field>
            <value>
                <elementReference>$Record.Employment_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_support_required__c</field>
            <value>
                <elementReference>$Record.Family_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fraud__c</field>
            <value>
                <elementReference>$Record.Index_Fraud__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPP__c</field>
            <value>
                <elementReference>$Record.Index_IPP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Life_Sentence__c</field>
            <value>
                <elementReference>$Record.Index_Life_sentence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mental_health_support_required__c</field>
            <value>
                <elementReference>$Record.Health_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Money_oriented__c</field>
            <value>
                <elementReference>$Record.Index_Money_oriented__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offence__c</field>
            <value>
                <elementReference>$Record.Index_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Manager_Office__c</field>
            <value>
                <elementReference>$Record.OM_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Manager_email__c</field>
            <value>
                <elementReference>$Record.OM_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Manager_name__c</field>
            <value>
                <elementReference>$Record.OM_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Manager_phone__c</field>
            <value>
                <elementReference>$Record.OM_Telephone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Supervisor_Email__c</field>
            <value>
                <elementReference>$Record.OS_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Supervisor_Name__c</field>
            <value>
                <elementReference>$Record.OS_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Supervisor_Number__c</field>
            <value>
                <elementReference>$Record.OS_Telephone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_Supervisor_extension__c</field>
            <value>
                <elementReference>$Record.OS_Extension__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offender_manager_extension__c</field>
            <value>
                <elementReference>$Record.OM_Extension__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offensive_weapon__c</field>
            <value>
                <elementReference>$Record.Index_Offensive_weapon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_support_required__c</field>
            <value>
                <elementReference>$Record.Support_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proof_of_NI_number__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1919750794</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_signposting_support_required__c</field>
            <value>
                <elementReference>$Record.Support_referral_signposting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sexual_offence__c</field>
            <value>
                <elementReference>$Record.Index_Sexual_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substance_misuse_support_required__c</field>
            <value>
                <elementReference>$Record.Substance_misuse_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Under_the_influence__c</field>
            <value>
                <elementReference>$Record.Index_Under_the_influence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violent_offence__c</field>
            <value>
                <elementReference>$Record.Index_Violent_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Prison_Appointment__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_6_A1</name>
        <label>Update Prison Appointment record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Accommodation_prior_to_custody__c</field>
            <value>
                <elementReference>$Record.Accommodation_prior_to_custody__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accommodation_support_required__c</field>
            <value>
                <elementReference>$Record.Housing_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_account__c</field>
            <value>
                <elementReference>formula_3_myRule_6_A1_6426757035</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birth_certificate__c</field>
            <value>
                <elementReference>$Record.Birth_certificate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRD_release_date__c</field>
            <value>
                <elementReference>$Record.CRD_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Care_leaver__c</field>
            <value>
                <elementReference>$Record.Care_leaver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cat_D_date__c</field>
            <value>
                <elementReference>$Record.Cat_D__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Citizens_card__c</field>
            <value>
                <elementReference>$Record.Citizens_card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Court_type__c</field>
            <value>
                <elementReference>$Record.Court_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debts_Arrears__c</field>
            <value>
                <elementReference>$Record.Debts_arrears__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debts_Arrears_actions__c</field>
            <value>
                <elementReference>$Record.Debts_Arrears_actions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debts_Arrears_details__c</field>
            <value>
                <elementReference>$Record.Debts_Arrears_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driving_licence__c</field>
            <value>
                <elementReference>$Record.Driving_licence_clean__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employed_at_start__c</field>
            <value>
                <elementReference>$Record.Employed_at_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_support_required__c</field>
            <value>
                <elementReference>$Record.Employment_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ex_Forces__c</field>
            <value>
                <elementReference>$Record.Ex_Forces__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusion_zones__c</field>
            <value>
                <elementReference>$Record.Exclusion_areas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_support_required__c</field>
            <value>
                <elementReference>$Record.Family_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HDC_eligible_date__c</field>
            <value>
                <elementReference>$Record.HDC_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Homeless_at_start__c</field>
            <value>
                <elementReference>$Record.Homeless_at_start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Low_educational_attainment__c</field>
            <value>
                <elementReference>$Record.Low_education_attainment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Low_skills_base__c</field>
            <value>
                <elementReference>$Record.Low_skills_base__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mental_illness__c</field>
            <value>
                <elementReference>$Record.Mental_illness__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_forms_of_ID__c</field>
            <value>
                <elementReference>$Record.Other_forms_of_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_support_required__c</field>
            <value>
                <elementReference>$Record.Support_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parole_Eligibility_Date__c</field>
            <value>
                <elementReference>$Record.Parole_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport__c</field>
            <value>
                <elementReference>$Record.Passport__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Disability__c</field>
            <value>
                <elementReference>$Record.Physical_disability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proof_of_NI_number__c</field>
            <value>
                <elementReference>formula_4_myRule_6_A1_9003685367</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ROTL_Boarding__c</field>
            <value>
                <elementReference>$Record.ROTL_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_signposting_support_required__c</field>
            <value>
                <elementReference>$Record.Support_referral_signposting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_to_offence__c</field>
            <value>
                <elementReference>$Record.Related_to_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_area__c</field>
            <value>
                <elementReference>$Record.Release_area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_area_specific_town__c</field>
            <value>
                <elementReference>$Record.Release_address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remand_sentence_date__c</field>
            <value>
                <elementReference>$Record.Remand_sentence_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentence_expiry_date__c</field>
            <value>
                <elementReference>$Record.Sentence_expiry_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentence_start_date__c</field>
            <value>
                <elementReference>$Record.Sentence_start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substance_misuse_support_required__c</field>
            <value>
                <elementReference>$Record.Substance_misuse_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Using_substance_at_start__c</field>
            <value>
                <elementReference>$Record.Using_substance_at_start__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Prison_Appointment__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>HMP_Academy_Web_form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
