06-producer-portal/code/main/default/flows/Invoice_Action_Create_Credit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This creates credit job charges and also updates the selected job charges with
            links</description>
        <name>actionCreateCreditJobCharges</name>
        <label>Create Credit Job Charges</label>
        <locationX>831</locationX>
        <locationY>316</locationY>
        <actionName>CreditInvoiceAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ReAllocateChargesQuestion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditWholeInvoice</name>
            <value>
                <elementReference>fxCreditFullInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedJobChargeIds</name>
            <value>
                <elementReference>fldJobCharges</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isTest</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>CreditInvoiceAction</nameSegment>
        <outputParameters>
            <assignToReference>varCreditTotal</assignToReference>
            <name>creditTotal</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCreditActionErrors</assignToReference>
            <name>errorMsg</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varJobChargeCount</assignToReference>
            <name>jobChargeCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCreditProcessSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReAllocateCharges</name>
        <label>ReAllocateCharges</label>
        <locationX>1205</locationX>
        <locationY>633</locationY>
        <actionName>CreditInvoiceReallocateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screenCreditComplete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reallocateWholeInvoice</name>
            <value>
                <elementReference>fxCreditFullInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedJobChargeIds</name>
            <value>
                <elementReference>fldJobCharges</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreditInvoiceReallocateAction</nameSegment>
        <outputParameters>
            <assignToReference>varCreditActionErrors</assignToReference>
            <name>errorMsg</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varJobChargeCount</assignToReference>
            <name>jobChargeCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCreditTotal</assignToReference>
            <name>reallocationTotal</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCreditProcessSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Test_Credit_Invoice_Charges</name>
        <label>Test Credit Invoice Charges</label>
        <locationX>637</locationX>
        <locationY>68</locationY>
        <actionName>CreditInvoiceAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screenConfirmSelection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenFault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditWholeInvoice</name>
            <value>
                <elementReference>fxCreditFullInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedJobChargeIds</name>
            <value>
                <elementReference>fldJobCharges</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isTest</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>CreditInvoiceAction</nameSegment>
        <outputParameters>
            <assignToReference>varCreditTotal</assignToReference>
            <name>creditTotal</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCreditActionErrors</assignToReference>
            <name>errorMsg</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varJobChargeCount</assignToReference>
            <name>jobChargeCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCreditProcessSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <description>This is used to indicate that only a part of the invoice should be credited</description>
        <name>choicePartialInvoice</name>
        <choiceText>Partial Credit (Selected Job Charges)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partial</stringValue>
        </value>
    </choices>
    <choices>
        <description>This is used when selecting to credit the whole invoice</description>
        <name>choiceWholeInvoice</name>
        <choiceText>Invoice (All Job Charges)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>txtInvoice</elementReference>
        </value>
    </choices>
    <constants>
        <description>This is used to indicate that the whole invoice should be credited</description>
        <name>txtInvoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </constants>
    <constants>
        <description>This is used when only part of an invoice is to be credited</description>
        <name>txtPartial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Partial</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsReallocateNeeded</name>
        <label>IsReallocateNeeded</label>
        <locationX>1037</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>screenCreditComplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReallocateToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReAllocateCharges</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This is used to credit all or part of an invoice / Added Re-Allocate Charges option</description>
    <dynamicChoiceSets>
        <description>This gets all the job charges that are linked to the current invoice</description>
        <name>InvoiceJobCharges</name>
        <dataType>String</dataType>
        <displayField>Choice_Invoice_Description__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Credit_Job_Charge__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Job_Charge__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>This is set to true if the full invoice should be credited</description>
        <name>fxCreditFullInvoice</name>
        <dataType>Boolean</dataType>
        <expression>IF({!fldCreditType}={!choiceWholeInvoice},TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Invoice - Action - Create Credit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Action - Create Credit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ReAllocateChargesQuestion</name>
        <label>ReAllocateChargesQuestion</label>
        <locationX>1050</locationX>
        <locationY>316</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsReallocateNeeded</targetReference>
        </connector>
        <fields>
            <name>ReallocateToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to Re-allocate Charges?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used to confirm the selection</description>
        <name>screenConfirmSelection</name>
        <label>Confirm Selection</label>
        <locationX>831</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>actionCreateCreditJobCharges</targetReference>
        </connector>
        <fields>
            <name>txtConfirmationMessage</name>
            <fieldText>&lt;p&gt;This will credit the &lt;b style=&quot;background-color: rgb(255,
                255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varJobChargeCount}&lt;/b&gt;&lt;span
                style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;
                job charges for &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);
                color: rgb(62, 62, 60);&quot;&gt;{!recordId.Account__r.Name}&lt;/b&gt;&lt;span
                style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;,
                invoice number&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);
                color: rgb(62, 62, 60);&quot;&gt; {!recordId.Name}&lt;/b&gt;&lt;span
                style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.
                The total value of this credit is &lt;/span&gt;&lt;b&gt;{!varCreditTotal}&lt;/b&gt;.
                &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do you want to proceed? &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays once the process is complete</description>
        <name>screenCreditComplete</name>
        <label>Credit Complete</label>
        <locationX>1364</locationX>
        <locationY>434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtCompleteMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!varJobChargeCount}&lt;/b&gt; credit job charges were
                created for a total value of &lt;b&gt;{!varCreditTotal}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This displays the error from the apex action</description>
        <name>screenFault</name>
        <label>Error</label>
        <locationX>635</locationX>
        <locationY>324</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtErrorMessage</name>
            <fieldText>&lt;p&gt;The following error occurred when trying to create Credit Job
                Charges. Please contact
                support.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used to get the job charges that should be credited</description>
        <name>screenSelectJobCharges</name>
        <label>Select Job Charges to Credit</label>
        <locationX>484</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Test_Credit_Invoice_Charges</targetReference>
        </connector>
        <fields>
            <name>txtCreateCreditHelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This will credit one
                of more job charges that are linked to invoice
                {!recordId.Name}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>fldCreditType</name>
            <choiceReferences>choicePartialInvoice</choiceReferences>
            <choiceReferences>choiceWholeInvoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credit Invoice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>fldJobCharges</name>
            <choiceReferences>InvoiceJobCharges</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Job Charges</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fldCreditType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>txtPartial</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screenSelectJobCharges</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <description>Any errors returned by the credit process</description>
        <name>varCreditActionErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to capture the result of the credit action process</description>
        <name>varCreditProcessSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the total of the charges that will be credited</description>
        <name>varCreditTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The number of job charges that will be credited</description>
        <name>varJobChargeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
