06-producer-portal/code/main/default/flows/Jet_Number_of_Jobs_Delivered_Against_OP_Last_12_Months.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_NJL12M</name>
        <label>Copy 1 of NJL12M</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>StoreJobs12Month</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_number_of_jobs_delivered_12_months_ago</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Jet Number of Jobs Delivered Against OP Last 12 Months {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Number of Jobs Delivered Against OP Last 12 Months</label>
    <loops>
        <name>Get</name>
        <label>Get #</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_number_of_jobs_delivered_12_months_ago</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_NJL12M</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>JDL12U</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_number_of_jobs_delivered_12_months_ago</name>
        <label>Get number of jobs delivered &lt;12 months ago</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Delivery_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Date_12_Months_Ago__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Cancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>JDL12U</name>
        <label>JDL12U</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <inputAssignments>
            <field>Jobs_Delivered_Last_12_Months__c</field>
            <value>
                <elementReference>StoreJobs12Month</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_number_of_jobs_delivered_12_months_ago</targetReference>
        </connector>
        <object>OrderItem</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-21</startDate>
            <startTime>09:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>StoreJobs12Month</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
