06-producer-portal/code/main/default/flows/Job_Chain_Flow_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Initial_Assignment</name>
        <label>Initial Assignment</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.ex_Parent_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ex_Child_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Child_Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Parent_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Child_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Price_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Price_Assignment</name>
        <label>Update Price Assignment</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Supplier_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Update_Price_Decision</name>
        <label>Update Price Decision</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changePriceOrCost</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price_Assignment</targetReference>
            </connector>
            <label>Update Price</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>changePriceOrCost</name>
        <dataType>Boolean</dataType>
        <expression>IF(
            (IF (ISNULL({!$Record.Total_Job_Charges_with_Vendor_Invoices__c} ), 0 ,
            {!$Record.Total_Job_Charges_with_Vendor_Invoices__c} ) +
            IF(ISNULL({!$Record.Total_Sales_Invoices_on_Charges__c} ), 0 ,
            {!$Record.Total_Sales_Invoices_on_Charges__c})) &gt; 0,
            false, true)</expression>
    </formulas>
    <interviewLabel>Job Chain Flow - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Chain Flow - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Assignment</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wasted Journey</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Job__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
