06-producer-portal/code/main/default/flows/Job_Chain_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sent_Email</name>
        <label>Sent Email</label>
        <locationX>242</locationX>
        <locationY>1524</locationY>
        <actionName>SendEmailGloballyController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>fromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailIds</name>
            <value>
                <elementReference>sentToAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templatename</name>
            <value>
                <elementReference>emailTemplateName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailGloballyController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Child_Job_Into_Update_List</name>
        <label>Add Child Job Into Update List</label>
        <locationX>242</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>jobsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>childJobRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Into_Update_Jobs_List</name>
        <label>Add Into Update Jobs List</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>jobsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parentJobRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Job_Assignment_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Child_Job_Assignment</name>
        <label>Child Job Assignment</label>
        <locationX>242</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>childJobRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childJobId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childJobRec.Parent_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentJobId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_Job_Into_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Job_Assignment</name>
        <label>Job Assignment</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>parentJobId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ex_Parent_Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childJobId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ex_Child_Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childJobDeliveryDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ex_Child_Job__r.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Job_Assignment_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_Job_Assignment</name>
        <label>Parent Job Assignment</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>parentJobRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentJobId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentJobRec.Child_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentJobRec.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childJobDeliveryDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Into_Update_Jobs_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Child_Job_Assignment_Decision</name>
        <label>Child Job Assignment Decision</label>
        <locationX>374</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Update_Jobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Job_Assignment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Job_Assignment</targetReference>
            </connector>
            <label>Child Job Assignment Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intermediate_Job_Decision</name>
        <label>Intermediate Job Decision</label>
        <locationX>374</locationX>
        <locationY>1416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intermediate_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>childJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Email</targetReference>
            </connector>
            <label>Intermediate Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Job_Assignment_Decision</name>
        <label>Parent Job Assignment Decision</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Child_Job_Assignment_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Job_Assignment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Job_Assignment</targetReference>
            </connector>
            <label>Parent Job Assignment Outcome</label>
        </rules>
    </decisions>
    <description>20/09/2025 : removed the static Id dependency
        26-04-2024: added async path
        23-04-2024: added async path
        10-02-2024: fromaddress added
        18-04-2023: remove current job update to &quot;Job Chain Flow - Before Save flow&quot;
        12-04-2023: fix error
        07-04-2023: update for UNABLE_TO_LOCK_ROW</description>
    <environments>Default</environments>
    <formulas>
        <name>changePriceOrCost</name>
        <dataType>Boolean</dataType>
        <expression>IF(
            (IF (ISNULL({!$Record.Total_Job_Charges_with_Vendor_Invoices__c} ), 0 ,
            {!$Record.Total_Job_Charges_with_Vendor_Invoices__c} ) +
            IF(ISNULL({!$Record.Total_Sales_Invoices_on_Charges__c} ), 0 ,
            {!$Record.Total_Sales_Invoices_on_Charges__c})) &gt; 0,
            false, true)</expression>
    </formulas>
    <formulas>
        <name>nullDate</name>
        <dataType>Date</dataType>
        <expression>null</expression>
    </formulas>
    <formulas>
        <name>salesPriceUpdateFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(
            ({!$Record.Total_Job_Charges_with_Vendor_Invoices__c} +
            {!$Record.Total_Sales_Invoices_on_Charges__c}) &gt; 0,
            {!$Record.Sales_Price__c}, 0 )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>supplierPriceFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(
            (IF (ISNULL({!$Record.Total_Job_Charges_with_Vendor_Invoices__c} ), 0 ,
            {!$Record.Total_Job_Charges_with_Vendor_Invoices__c} ) +
            IF(ISNULL({!$Record.Total_Sales_Invoices_on_Charges__c} ), 0 ,
            {!$Record.Total_Sales_Invoices_on_Charges__c})) &gt; 0,
            {!$Record.Supplier_Price__c}, 0 )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Job Chain Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Chain Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Current_Job_s_Job_Charges</name>
        <label>Update Current Job&apos;s Job Charges</label>
        <locationX>374</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Intermediate_Job_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Static_Id__c.RecordType_JobCharge_Automatic__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Job_Charge__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Jobs</name>
        <label>Update Jobs</label>
        <locationX>374</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Update_Current_Job_s_Job_Charges</targetReference>
        </connector>
        <inputReference>jobsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wasted Journey</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>ex_Parent_Job__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ex_Child_Job__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ex_Parent_Job__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ex_Child_Job__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Job__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Job_Assignment</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>childJobDeliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>childJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>childJobRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>currentJobRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>emailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Exclude_Job_From_Job_Chain</stringValue>
        </value>
    </variables>
    <variables>
        <name>fromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.fromaddress_customerservice</elementReference>
        </value>
    </variables>
    <variables>
        <name>jobsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>parentJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentJobRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <description>Payable@RecyclingLives.com</description>
        <name>sentToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.Job_Chain_To_Addresses</elementReference>
        </value>
    </variables>
</Flow>
