06-producer-portal/code/main/default/flows/Job_Pay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_record</name>
        <label>Redirect to record</label>
        <locationX>862</locationX>
        <locationY>247</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Current_Job_Update</name>
        <label>Current Job Update</label>
        <locationX>869</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>jobObj.Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Paid_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paid_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Payment_method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Job</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>collectionSlot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Collect_Slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>paymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_method__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>emails</name>
        <dataType>String</dataType>
        <expression>{!jobObj.Supplier__r.Sales_Email__c}+IF(NOT(ISBLANK({!jobObj.Supplier__r.Other_Emails__c})), &apos;;&apos;+{!jobObj.Supplier__r.Other_Emails__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>jobsRemaining</name>
        <dataType>Number</dataType>
        <expression>{!jobObj.Order_Product__r.Quantity} - {!jobObj.Order_Product__r.Delivered_Jobs__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>templateName</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!jobObj.Type__c})=&quot;Standard&quot;,&quot;Fixed_Job_Template&quot;,
IF(TEXT({!jobObj.Type__c})=&quot;Wait &amp; Load&quot;,&quot;Variable_Job_Template&quot;,
IF(TEXT({!jobObj.Type__c})=&quot;Rebate&quot;,&quot;Rebate_Job_Template&quot;,&quot;No Template Found&quot;)))</expression>
    </formulas>
    <interviewLabel>Job - Pay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job - Pay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job_Details</name>
        <label>Get Job Details</label>
        <locationX>562</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>jobObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Payment_method__c</queriedFields>
        <queriedFields>Paid__c</queriedFields>
        <queriedFields>Paid_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Job</name>
        <label>Update Current Job</label>
        <locationX>869</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Redirect_to_record</targetReference>
        </connector>
        <inputReference>jobObj</inputReference>
    </recordUpdates>
    <screens>
        <name>Payment_Details</name>
        <label>Payment Details</label>
        <locationX>564</locationX>
        <locationY>343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Job_Update</targetReference>
        </connector>
        <fields>
            <name>Paid</name>
            <dataType>Boolean</dataType>
            <fieldText>Paid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Method</name>
            <choiceReferences>paymentMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Paid_Date</name>
            <dataType>Date</dataType>
            <fieldText>Paid Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Get_Job_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>jobList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>jobObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>newJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
