06-producer-portal/code/main/default/flows/Lead_Reminder_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_reminder_email</name>
        <label>Send reminder email</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>Lead.Lead_Reminder_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Remove_reminder_date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Lead_Reminder_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Lead Reminder Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Reminder Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_who_set_reminder</name>
        <label>Mark who set reminder.</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>User_Who_Set_Reminder__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_reminder_date</name>
        <label>Remove reminder date</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Reminder_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mark_who_set_reminder</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reminder_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Wait_till_reminder_date</name>
            <connector>
                <targetReference>Send_reminder_email</targetReference>
            </connector>
            <label>Wait till reminder date</label>
            <offsetNumber>8</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Reminder_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
