06-producer-portal/code/main/default/flows/Manage_Producer_Placed_On_Market_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <collectionProcessors>
        <name>Get_Valid_Placed_on_Market_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Valid Placed on Market Records</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_Get_Valid_Placed_on_Market_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Producer_Placed_On_Market_Data</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Valid_Placed_on_Market_Records.Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>accountId</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Valid_Placed_on_Market_Records.Quarter_Start_Date__c</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <elementReference>Iterate_Producer_Obligation.Start_Date__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Producer_Obligation</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Manage Producer Placed On Market Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Producer Placed On Market Data</label>
    <loops>
        <name>Iterate_Producer_Obligation</name>
        <label>Iterate Producer Obligation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_All_Producer_Obligation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Valid_Placed_on_Market_Records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Obligation_Place_on_Market_Data</name>
        <label>Get All Obligation Place on Market Data</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Producer_Obligation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Producer_Obligation__c</field>
            <operator>In</operator>
            <value>
                <elementReference>producerObligationIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Obligation_Placed_On_Market_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Producer_Obligation_Records</name>
        <label>Get All Producer Obligation Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Producer_Placed_On_Market_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>producerObligationIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Producer_Obligation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Producer_Placed_On_Market_Data</name>
        <label>Get all Producer Placed On Market Data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Obligation_Place_on_Market_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Producer_Placed_on_Market__c</object>
        <sortField>Quarter_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Producer_Obligation_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Valid_Placed_on_Market_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Producer_Placed_on_Market__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>producerObligationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
