06-producer-portal/code/main/default/flows/Manage_Most_Recent_Delivery_on_Account_Date_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Delivery_Date_Greater_than_MRDOA_Lower_than_TODAY</name>
        <label>Delivery Date Greater than MRDOA, Lower than TODAY</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_MRDOA_TODAY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.Most_Recent_Delivery_on_Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NOW</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MRDOA</targetReference>
            </connector>
            <label>Date &gt; MRDOA, &lt; TODAY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Most_Recent_Delivery_on_Account_Null</name>
        <label>Is Most Recent Delivery on Account Null?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Delivery_Date_Greater_than_MRDOA_Lower_than_TODAY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MRDOA_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Most_Recent_Delivery_on_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_first_time_MRDOA</targetReference>
            </connector>
            <label>MRDOA Null?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Manage Most Recent Delivery on Account Date Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Most Recent Delivery on Account Date Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_for_first_time_MRDOA</name>
        <label>Update for first time MRDOA</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Most_Recent_Delivery_on_Account__c</field>
            <value>
                <elementReference>$Record.Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MRDOA</name>
        <label>Update MRDOA</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Most_Recent_Delivery_on_Account__c</field>
            <value>
                <elementReference>$Record.Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Most_Recent_Delivery_on_Account_Null</targetReference>
        </connector>
        <object>Job__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
