06-producer-portal/code/main/default/flows/Manage_Contract_Fee_RLCS_Charges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>EA_Fee_Charges_Assignment</name>
        <label>EA Fee Charges Assignment</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>eaFeeCharge.Producer_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eaFeeCharge.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EA_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eaFeeCharge.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Automatic_Charge_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eaFeeCharge.Charge_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eaFeeCharge.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eaFeeCharge.Sales_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eaFeeCharge.VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EA_Fee_Charge_Creation_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Membership_Fee_Charge_Assignment</name>
        <label>Membership Fee Charge Assignment</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>membershipFeeCharge.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Automatic_Charge_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membershipFeeCharge.Producer_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membershipFeeCharge.Charge_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Membership Fee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membershipFeeCharge.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Membership_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membershipFeeCharge.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membershipFeeCharge.Sales_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membershipFeeCharge.VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountVAT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Membership_Fee_Creation_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EA_Fee_Charge_Creation_Decision</name>
        <label>EA Fee Charge Creation Decision</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_EA_Charge_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update EA Charge</defaultConnectorLabel>
        <rules>
            <name>Create_EA_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eaFeeCharge.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_EA_Charge_Element</targetReference>
            </connector>
            <label>Create EA Charge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Membership_Fee_Creation_Decision</name>
        <label>Membership Fee Creation Decision</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_Membership_Fee_Element</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Membership Fee Charge</defaultConnectorLabel>
        <rules>
            <name>Create_Membership_Fee_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>membershipFeeCharge.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Membership_Fee_Element</targetReference>
            </connector>
            <label>Create Membership Fee Charge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Signed_Decision</name>
        <label>Status = Signed Decision</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Signed_Outcome</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Automatic_Charge_Record_Type</targetReference>
            </connector>
            <label>Status = Signed Outcome</label>
        </rules>
    </decisions>
    <description>10-02-2025 : removed the vat from EA Charge
05-0-2025 : added vat logic
24-12-2024 : added sales account mapping for charges</description>
    <environments>Default</environments>
    <formulas>
        <name>accountVAT</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Account__r.X0_VAT__c}, &apos;0&apos;, &apos;20&apos;)</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Manage Contract Fee RLCS Charges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Contract Fee RLCS Charges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EA_Charge_Element</name>
        <label>Create EA Charge Element</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Existing_Membership_Charge</targetReference>
        </connector>
        <inputReference>eaFeeCharge</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Fee_Element</name>
        <label>Create Membership Fee Element</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <inputReference>membershipFeeCharge</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Automatic_Charge_Record_Type</name>
        <label>Get Automatic Charge Record Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_EA_RLCS_Charge_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RLCS_Charge__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_EA_RLCS_Charge_Record</name>
        <label>Get Existing EA RLCS Charge Record</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EA_Fee_Charges_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Automatic_Charge_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Producer_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EA Fee</stringValue>
            </value>
        </filters>
        <object>RLCS_Charge__c</object>
        <outputReference>eaFeeCharge</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Membership_Charge</name>
        <label>Get Existing Membership Charge</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Fee_Charge_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Automatic_Charge_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Producer_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership Fee</stringValue>
            </value>
        </filters>
        <object>RLCS_Charge__c</object>
        <outputReference>membershipFeeCharge</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_EA_Charge_Record</name>
        <label>Update EA Charge Record</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Existing_Membership_Charge</targetReference>
        </connector>
        <inputReference>eaFeeCharge</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Membership_Fee_Element</name>
        <label>Update Membership Fee Element</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <inputReference>membershipFeeCharge</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Signed_Decision</targetReference>
        </connector>
        <object>Producer_Contract__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>eaFeeCharge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Charge__c</objectType>
    </variables>
    <variables>
        <name>membershipFeeCharge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Charge__c</objectType>
    </variables>
</Flow>
