06-producer-portal/code/main/default/flows/Manually_Audit_Depot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Audited_Depot_Decision</name>
        <label>Audited Depot Decision</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Audited_Depot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_have_audited_this_depot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Depot</targetReference>
            </connector>
            <label>Audited Depot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Screen_Decision</name>
        <label>Validation Screen Decision</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Main_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validation_Screen</name>
            <conditionLogic>NOT(1) OR NOT(2) OR NOT(3) OR NOT(4) OR NOT(5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Depot.EA_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Depot.Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Depot.Total_Depot_Jobs__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Depot.Last_Delivery_Job__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TodayMinus6Month</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Depot.Manual_Audit_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>todayMinus4Month</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Depot.Manual_Audit_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidationScreen</targetReference>
            </connector>
            <label>Validation Screen</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>getAuditedByName</name>
        <dataType>String</dataType>
        <expression>{!Get_Depot.Manual_Audit_By__r.Full_Name__c} + &quot; on &quot; + LPAD(TEXT(DAY({!Get_Depot.Manual_Audit_Date__c})), 2 ,&quot;0&quot;) + &quot;/&quot; + LPAD(TEXT(MONTH({!Get_Depot.Manual_Audit_Date__c})), 2 ,&quot;0&quot;) + &quot;/&quot; + TEXT(YEAR({!Get_Depot.Manual_Audit_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>todayMinus4Month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate}, -4)</expression>
    </formulas>
    <formulas>
        <name>TodayMinus6Month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate}, -6)</expression>
    </formulas>
    <formulas>
        <name>totalDepotJobs</name>
        <dataType>Number</dataType>
        <expression>IF( ISNULL({!Get_Depot.Total_Depot_Jobs__c}) , 0 , {!Get_Depot.Total_Depot_Jobs__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Manually Audit Depot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manually Audit Depot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Depot</name>
        <label>Get Depot</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Screen_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Depot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Depot</name>
        <label>Update Depot</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Depot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Manual_Audit_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Audit_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Depot__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Something went wrong while updating the depot.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Screen</name>
        <label>Main Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Audited_Depot_Decision</targetReference>
        </connector>
        <fields>
            <name>I_have_audited_this_depot</name>
            <dataType>Boolean</dataType>
            <fieldText>I have audited this depot.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(42, 160, 26);&quot;&gt;Depot has been manually audited successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ValidationScreen</name>
        <label>ValidationScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>validEADepot</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Depot should not be EA Depot.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Depot.EA_Depot__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>validDepot</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Depot should be Valid.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Depot.Valid__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>depotJobValidation</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Total Depot Jobs should be more than 1.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>totalDepotJobs</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>lastdeliverydatevalidation</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Last Delivery Date should be within 6 month.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>NOT(1)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Depot.Last_Delivery_Job__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>TodayMinus6Month</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>alreadyAudited</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Already Audited by &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!getAuditedByName}.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>NOT(1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Depot.Manual_Audit_Date__c</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>todayMinus4Month</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Depot.Manual_Audit_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Depot</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
