06-producer-portal/code/main/default/flows/New_Trade_From_Trade_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_To_Trade_Record</name>
        <label>Redirect To Trade Record</label>
        <locationX>176</locationX>
        <locationY>2906</locationY>
        <actionName>c:redirectToRecordId</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>tradeRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:redirectToRecordId</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Initialize_Trade_Record</name>
        <label>Initialize Trade Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>tradeRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tradeRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Note</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Trade_Inputs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trade_Aggrement_Assignment</name>
        <label>Trade Aggrement Assignment</label>
        <locationX>440</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>currentItem_Get_Trade_Agreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>find_Trade_Agreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>find_Trade_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trade_Record_Type_Assignment</name>
        <label>Trade Record Type Assignment</label>
        <locationX>176</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>tradeRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Trade_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tradeRec.Trade_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Trade_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Trade</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tradeTransactionRec_Assignment</name>
        <label>tradeTransactionRec Assignment</label>
        <locationX>264</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>tradeTransactionRec.Trade_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Trade_Agreement.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tradeTransactionRec.Trade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tradeRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tradeTransactionRec.Total_Tonnes_Traded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Trade_Agreement.Total_Tonnes_Traded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tradeTransactionRecs_add_into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tradeTransactionRecs_add_into_List</name>
        <label>tradeTransactionRecs add into List</label>
        <locationX>264</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>tradeTransactionRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tradeTransactionRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Trade_Agreement</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Trade_Agreement</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Trade Agreement</label>
        <locationX>352</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Get_Trade_Agreement</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Trade_Agreements</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Trade_Agreement.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Trade_Inputs.UniqueField__Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>find_Trade_Agreement</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Valid_Input_Check_Decision</name>
        <label>Valid Input Check Decision</label>
        <locationX>396</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Iterate_Trade_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Input_Check_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Trade_Agreement.Total_Tonnes_Traded</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tradeTransactionRec_Assignment</targetReference>
            </connector>
            <label>Valid Input Check Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Input_Decision</name>
        <label>Valid Input Decision</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Iterate_Trade_Inputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Input_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Trade_Inputs.Total_Tonnes_Traded</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Trade_Agreement</targetReference>
            </connector>
            <label>Valid Input Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Category_Balance</name>
        <label>Validate Category Balance</label>
        <locationX>352</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Category_Balance_Validation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Category Balance Validation</defaultConnectorLabel>
        <rules>
            <name>Valid_Category_Balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Get_Trade_Agreement.Balance_Outstanding__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Trade_Inputs.Total_Tonnes_Traded</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Trade_Inputs</targetReference>
            </connector>
            <label>Valid Category Balance</label>
        </rules>
    </decisions>
    <description>01/04/2025: Run as system admin
21-03-2025 : added default status to &quot;Awaiting Note&quot;
20-03-2025 : added trade agrement and agreed rate
14-03-2025 : removed trade record type
13-03-2025 : added Trade Contract mapping</description>
    <dynamicChoiceSets>
        <name>tradeAgreementRecordTypeCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trade_Agreement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>selectedTradeTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Trade From Trade Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Trade From Trade Contract</label>
    <loops>
        <name>find_Trade_Agreement</name>
        <label>find Trade Agreement</label>
        <locationX>352</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Trade_Agreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Trade_Aggrement_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Validate_Category_Balance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Trade_Agreement</name>
        <label>Iterate Trade Agreement</label>
        <locationX>176</locationX>
        <locationY>2198</locationY>
        <collectionReference>TradeAgrement.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valid_Input_Check_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Trade_Transactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Trade_Inputs</name>
        <label>Iterate Trade Inputs</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>TradeAgrement.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valid_Input_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Trade_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Trade</name>
        <label>Create Trade</label>
        <locationX>176</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Iterate_Trade_Agreement</targetReference>
        </connector>
        <inputReference>tradeRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Trade_Transactions</name>
        <label>Create Trade Transactions</label>
        <locationX>176</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Redirect_To_Trade_Record</targetReference>
        </connector>
        <inputReference>tradeTransactionRecs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Trade_Agreements</name>
        <label>Get Trade Agreements</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Main_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trade_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Trade_Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Balance_Outstanding__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Trade_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Trade_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trade_Contract</name>
        <label>Get Trade Contract</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buy_Or_Sell_Trade_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trade_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trade_Record_Type</name>
        <label>Get Trade Record Type</label>
        <locationX>176</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trade_Record_Type_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trade__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTradeTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Buy_Or_Sell_Trade_Decision</name>
        <label>Buy Or Sell Trade Decision</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Trade_Agreements</targetReference>
        </connector>
        <fields>
            <name>Trade_Type</name>
            <choiceReferences>tradeAgreementRecordTypeCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Trade Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Category_Balance_Validation_Screen</name>
        <label>Category Balance Validation Screen</label>
        <locationX>440</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CategoryBalanceValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(192, 12, 12); font-size: 14px;&quot;&gt;Category {!currentItem_Get_Trade_Agreement.WEEE_Category__r.Name} has  {!currentItem_Get_Trade_Agreement.Balance_Outstanding__c} tonnes remaining, but {!Iterate_Trade_Inputs.Total_Tonnes_Traded} tonnes were allocated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Screen</name>
        <label>Main Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initialize_Trade_Record</targetReference>
        </connector>
        <fields>
            <name>buyOrSellTrade</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!selectedTradeTypeName} Trade&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TradeAgrement</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>TradeAgreementMessage</name>
                <fieldText>&lt;p&gt;Category {!Get_Trade_Agreements[$EachItem].WEEE_Category__r.Name} | Balance Outstanding : {!Get_Trade_Agreements[$EachItem].Balance_Outstanding__c} | Trade Agreement Name : {!Get_Trade_Agreements[$EachItem].Name} | Agreed Rate : {!Get_Trade_Agreements[$EachItem].Agreed_Rate__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Total_Tonnes_Traded</name>
                <dataType>Number</dataType>
                <fieldText>Total Tonnes Traded</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>3</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <validationRule>
                    <errorMessage>&lt;p&gt;Total Tonnage Transfer should be greater than 0.&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!TradeAgrement.AllItems[$EachItem].Total_Tonnes_Traded} == null || {!TradeAgrement.AllItems[$EachItem].Total_Tonnes_Traded} &gt; 0</formulaExpression>
                </validationRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Trade_Agreements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Trade_Contract</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Get_Trade_Agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade_Agreement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTradeTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tradeRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade__c</objectType>
    </variables>
    <variables>
        <name>tradeTransactionRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade_Transaction__c</objectType>
    </variables>
    <variables>
        <name>tradeTransactionRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade_Transaction__c</objectType>
    </variables>
</Flow>
