06-producer-portal/code/main/default/flows/Parsed_Document_Arrived_NEW_Autolaunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IParserio_EvidenceNote</name>
        <label>IParserio_EvidenceNote</label>
        <locationX>138</locationX>
        <locationY>1232</locationY>
        <actionName>iParserio_EvidenceNote</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>iParserio_EvidenceNote</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>IParserio_EvidenceNoteTransfer</name>
        <label>IParserio_EvidenceNoteTransfer</label>
        <locationX>402</locationX>
        <locationY>1232</locationY>
        <actionName>iParserio_EvidenceNoteTransfer</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>iParserio_EvidenceNoteTransfer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>iParserio_InvoiceDataFlowAction</name>
        <label>iParserio_InvoiceDataFlowAction</label>
        <locationX>1392</locationX>
        <locationY>2864</locationY>
        <actionName>iParserio_InvoiceDataFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invoice_Table_Value_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>docPageId</name>
            <value>
                <elementReference>Iterate_Document_Pages.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>iParserio_InvoiceDataFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>OVI_Line_Item_process</name>
        <label>OVI Line Item process</label>
        <locationX>1392</locationX>
        <locationY>5612</locationY>
        <actionName>iParserio_OviDataFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_File_Import_ID_Into_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentId</name>
            <value>
                <elementReference>Iterate_Document_Pages.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileImportId</name>
            <value>
                <elementReference>Create_File_Import_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oviId</name>
            <value>
                <elementReference>Create_OVI_record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>iParserio_OviDataFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Process_Site_Clear_Documents</name>
        <label>Process Site Clear Documents</label>
        <locationX>754</locationX>
        <locationY>1232</locationY>
        <actionName>ipaseio_SiteClear</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SiteClearFileImport_Ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentId</name>
            <value>
                <elementReference>Iterate_Document_Pages.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ipaseio_SiteClear</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SiteClearFileImport_Ids</name>
        <label>SiteClearFileImport Ids</label>
        <locationX>754</locationX>
        <locationY>1340</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_Site_Clear_File_Import_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Process_Site_Clear_Documents.fileImportIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_File_Import_ID_Into_List</name>
        <label>Add File Import ID Into List</label>
        <locationX>1524</locationX>
        <locationY>5804</locationY>
        <assignmentItems>
            <assignToReference>fileImportIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_File_Import_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Document_Pages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Row_Numbers_In_List</name>
        <label>Add Row Numbers In List</label>
        <locationX>1612</locationX>
        <locationY>3812</locationY>
        <assignmentItems>
            <assignToReference>validRowNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Key_Columns.iparseio__RowIndex__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Key_Columns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Site_Clear_File_Import_Id_into_List</name>
        <label>Add Site Clear File Import Id into List</label>
        <locationX>842</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>fileImportIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Site_Clear_File_Import_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Site_Clear_File_Import_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DocumentPage_Pointer_Assignment</name>
        <label>DocumentPage Pointer Assignment</label>
        <locationX>1524</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>pointerLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DocumentPage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Page_Form_Tags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DocumentPage_Tag_Value_Assignment</name>
        <label>DocumentPage Tag Value Assignment</label>
        <locationX>1612</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>deliveryDateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_deliveryDateText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_collectionDateText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>costs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_costs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ewcCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_ewcCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_invoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_jobNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNumbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_jobNumbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>netWeightText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_netWeightText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sicCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_sicCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wbtReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wbtReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wtnTicketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wtnTicketNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wasteType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wasteType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_productName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sitePostcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_sitePostcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_clientName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierWasteCarrierLicenseReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_supplierWasteCarrierLicenseReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>depotDisposePermitReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_depotDisposePermitReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wasteHierarchyStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wasteHierarchyStatement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierSignature</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_supplierSignature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientSignature</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_clientSignature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleRegistrationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_vehicleRegistrationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chargeTypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_chargeTypes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_InvoiceTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalgrossvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_totalGrossValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalnetvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_totalNetValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalvatvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_totalVatValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duedate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_duedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Page_Form_Tags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignment</name>
        <label>Initial Assignment</label>
        <locationX>1524</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>deliveryDateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>costs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ewcCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNumbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>netWeightText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sicCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wbtReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wtnTicketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wasteType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sitePostcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierWasteCarrierLicenseReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>depotDisposePermitReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wasteHierarchyStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierSignature</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientSignature</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleRegistrationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chargeTypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Page_Form_Tags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invoice_Table_Value_Assignment</name>
        <label>Invoice Table Value Assignment</label>
        <locationX>1392</locationX>
        <locationY>2972</locationY>
        <assignmentItems>
            <assignToReference>JobNumbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>table_jobNumbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>costs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>table_costs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TableCell_Pointer_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Key_Columns_Available_Assignment</name>
        <label>Key Columns Available Assignment</label>
        <locationX>1744</locationX>
        <locationY>3596</locationY>
        <assignmentItems>
            <assignToReference>keyColumnAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Key_Column_Cell_Value_Available_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Kirkby_WTN_Query_Tag_Assingment</name>
        <label>Kirkby - WTN Query Tag Assingment</label>
        <locationX>1458</locationX>
        <locationY>4904</locationY>
        <assignmentItems>
            <assignToReference>ewcCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEWCForKirkbyWTN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wasteType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWasteTypeForKirkbyWTN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_File_Import_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PagePositionedTag_Pointer_Assignment</name>
        <label>PagePositionedTag Pointer Assignment</label>
        <locationX>1524</locationX>
        <locationY>2048</locationY>
        <assignmentItems>
            <assignToReference>pointerLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PagePositionedTag</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Positioned_Tags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PagePositionedTag_Value_Assignment</name>
        <label>PagePositionedTag Value Assignment</label>
        <locationX>1612</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>deliveryDateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_deliveryDateText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_collectionDateText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>costs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_costs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ewcCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_ewcCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_invoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_jobNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNumbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_jobNumbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>netWeightText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_netWeightText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sicCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_sicCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wbtReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wbtReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wtnTicketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wtnTicketNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wasteType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wasteType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_productName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sitePostcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_sitePostcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_clientName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierWasteCarrierLicenseReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_supplierWasteCarrierLicenseReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>depotDisposePermitReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_depotDisposePermitReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wasteHierarchyStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wasteHierarchyStatement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierSignature</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_supplierSignature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientSignature</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_clientSignature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleRegistrationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_vehicleRegistrationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chargeTypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_chargeTypes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_InvoiceTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalgrossvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_totalGrossValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalnetvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_totalNetValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalvatvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_totalVatValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duedate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_duedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Positioned_Tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Query_Tag_Assiginment</name>
        <label>Query Tag Assiginment</label>
        <locationX>1018</locationX>
        <locationY>4904</locationY>
        <assignmentItems>
            <assignToReference>tagOverride</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queryTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_File_Import_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TableCell_Pointer_Assignment</name>
        <label>TableCell Pointer Assignment</label>
        <locationX>1524</locationX>
        <locationY>3164</locationY>
        <assignmentItems>
            <assignToReference>pointerLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TableCell</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Table_Cells</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TableCell_Tag_Value_Assignment</name>
        <label>TableCell Tag Value Assignment</label>
        <locationX>1612</locationX>
        <locationY>4304</locationY>
        <assignmentItems>
            <assignToReference>deliveryDateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_deliveryDateText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionDateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_collectionDateText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>costs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_costs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ewcCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_ewcCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_invoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_jobNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNumbers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_jobNumbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>netWeightText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_netWeightText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sicCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_sicCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wbtReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wbtReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wtnTicketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wtnTicketNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wasteType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wasteType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_productName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sitePostcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_sitePostcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_clientName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierWasteCarrierLicenseReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_supplierWasteCarrierLicenseReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>depotDisposePermitReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_depotDisposePermitReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wasteHierarchyStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_wasteHierarchyStatement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>supplierSignature</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_supplierSignature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientSignature</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_clientSignature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleRegistrationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_vehicleRegistrationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chargeTypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_chargeTypes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_InvoiceTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalgrossvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_totalGrossValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalnetvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_totalNetValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalvatvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_totalVatValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duedate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>map_duedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Table_Cell</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Key_Column_Cells</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Key Column Cells</label>
        <locationX>1524</locationX>
        <locationY>3380</locationY>
        <assignNextValueToReference>currentItem_Get_Key_Column_Cells</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Table_Cells</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Key_Column_Cells.iparseio__ColumnAlias__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>key</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Key_Columns</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Valid_Document_Pages</name>
        <label>Check Valid Document Pages</label>
        <locationX>523</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Document_Pages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JobNumbereqWTNRef_Document_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Document_Pages.Job_Number_WTN_Ref__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Clear_Consignment_Note_Decision</targetReference>
            </connector>
            <label>JobNumbereqWTNRef Document Page</label>
        </rules>
    </decisions>
    <decisions>
        <name>DocumentPage_Tag_Value_Decision</name>
        <label>DocumentPage Tag Value Decision</label>
        <locationX>1744</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <targetReference>Iterate_Page_Form_Tags</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocumentPage_Tag_Value_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tagValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocumentPage_Tag_Value_Assignment</targetReference>
            </connector>
            <label>DocumentPage Tag Value Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Tag_Document</name>
        <label>Invoice Tag Document</label>
        <locationX>1524</locationX>
        <locationY>2756</locationY>
        <defaultConnector>
            <targetReference>TableCell_Pointer_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inoice_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iParserio_InvoiceDataFlowAction</targetReference>
            </connector>
            <label>Inoice Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Query_Available_on_Kirkby_WTN_Decision</name>
        <label>Is Query Available on Kirkby - WTN Decision</label>
        <locationX>1590</locationX>
        <locationY>4796</locationY>
        <defaultConnector>
            <targetReference>Create_File_Import_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Query_Available_on_Kirkby_WTN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Query_Tag_for_Kirkby_WTN.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kirkby_WTN_Query_Tag_Assingment</targetReference>
            </connector>
            <label>Query Available on Kirkby - WTN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Query_Tag_Found</name>
        <label>Is Query Tag Found</label>
        <locationX>1150</locationX>
        <locationY>4796</locationY>
        <defaultConnector>
            <targetReference>Create_File_Import_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Query_Tag_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Query_Tag.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Tag_Assiginment</targetReference>
            </connector>
            <label>Query Tag Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Key_Column_Cell_Value_Available_Decision</name>
        <label>Key Column Cell Value Available Decision</label>
        <locationX>1744</locationX>
        <locationY>3704</locationY>
        <defaultConnector>
            <targetReference>Iterate_Key_Columns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Key_Column_Cell_Value_Available</name>
            <conditionLogic>((1 AND 2) OR (NOT(1) AND 3))</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Key_Columns.iparseio__TransformApplied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Key_Columns.iparseio__Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Key_Columns.iparseio__TransformValue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Row_Numbers_In_List</targetReference>
            </connector>
            <label>Key Column Cell Value Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>OVI_tag_Decision</name>
        <label>OVI tag Decision</label>
        <locationX>1524</locationX>
        <locationY>5288</locationY>
        <defaultConnector>
            <targetReference>Add_File_Import_ID_Into_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OVI_Tag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OVI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File_Import</targetReference>
            </connector>
            <label>OVI Tag</label>
        </rules>
    </decisions>
    <decisions>
        <name>PagePositionedTag_Value_Decision</name>
        <label>PagePositionedTag  Value Decision</label>
        <locationX>1744</locationX>
        <locationY>2372</locationY>
        <defaultConnector>
            <targetReference>Iterate_Positioned_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PagePositionedTag_Value_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tagValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PagePositionedTag_Value_Assignment</targetReference>
            </connector>
            <label>PagePositionedTag Value Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parser_Decision</name>
        <label>Parser Decision</label>
        <locationX>1524</locationX>
        <locationY>4580</locationY>
        <defaultConnector>
            <targetReference>Create_File_Import_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ashcourt_WTN_Parser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Document_Pages.iparseio__DocumentParser__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ashcourt - WTN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Query_Tag</targetReference>
            </connector>
            <label>Ashcourt - WTN Parser</label>
        </rules>
        <rules>
            <name>Kirkby_WTN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Document_Pages.iparseio__DocumentParser__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kirkby - WTN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Query_Tag_for_Kirkby_WTN</targetReference>
            </connector>
            <label>Kirkby - WTN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_File_Import_Creation_Decision</name>
        <label>Process File Import Creation Decision</label>
        <locationX>301</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_File_Import_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_File_Import_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Pages</targetReference>
            </connector>
            <label>Process File Import Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_JobNumbereqWTNRef_Decision</name>
        <label>Run JobNumbereqWTNRef Decision</label>
        <locationX>831</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Site_Clear_Consignment_Note_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Run</defaultConnectorLabel>
        <rules>
            <name>JobNumbereqWTNRef_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobNumbereqWTNRef</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Valid_Document_Pages</targetReference>
            </connector>
            <label>JobNumbereqWTNRef Run</label>
        </rules>
        <rules>
            <name>Schedule_JobNumbereqWTNRef</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobNumbereqWTNRef</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Document_Pages.Job_Number_WTN_Ref__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Run_JobNumbereqWTNRef_Date</targetReference>
            </connector>
            <label>Schedule JobNumbereqWTNRef</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Clear_Consignment_Note_Decision</name>
        <label>Site Clear - Consignment Note Decision</label>
        <locationX>831</locationX>
        <locationY>1124</locationY>
        <defaultConnector>
            <targetReference>Initial_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Supplier</defaultConnectorLabel>
        <rules>
            <name>Evidencenote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Document_Pages.iparseio__DocumentParser__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evidence note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IParserio_EvidenceNote</targetReference>
            </connector>
            <label>Evidence note</label>
        </rules>
        <rules>
            <name>Transfer_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Document_Pages.iparseio__DocumentParser__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evidence note transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IParserio_EvidenceNoteTransfer</targetReference>
            </connector>
            <label>Transfer Note</label>
        </rules>
        <rules>
            <name>Site_Clear_Consignment_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Document_Pages.iparseio__DocumentParser__r.Supplier__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SITE CLEAR SOLUTIONS LTD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Document_Pages.iparseio__DocumentParser__r.Tag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consignment Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Site_Clear_Documents</targetReference>
            </connector>
            <label>Site Clear - Consignment Note</label>
        </rules>
    </decisions>
    <decisions>
        <name>TableCell_Tag_Value_Decision</name>
        <label>TableCell Tag Value Decision</label>
        <locationX>1744</locationX>
        <locationY>4196</locationY>
        <defaultConnector>
            <targetReference>Iterate_Table_Cell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TableCell_Tag_Value_Available</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>tagValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>keyColumnAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validRowNumbers</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Table_Cell.iparseio__RowIndex__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TableCell_Tag_Value_Assignment</targetReference>
            </connector>
            <label>TableCell Tag Value Available</label>
        </rules>
    </decisions>
    <description>06-05-2025 : added chargeTypes legth to 250
28-10-2024: added &quot;Evidence Note Transfer&quot; logic
28-10-2024: added &quot;Evidence Note&quot; logic
25-10-2024: exclude the logic for &quot;Evidence note&quot; parser
02-08-2024: added Kirkby - WTN Query Tag
16-07-2024: added additional mapping for OVI
16-07-2024: added new OVI format
01/07/2024: OVI tag decision changed
28-06-2024: added OVI tag
28-06-2024: removed the Only Get Charge Type from Value Lines
19-06-2024: added key column cells</description>
    <environments>Default</environments>
    <formulas>
        <name>getEWCForKirkbyWTN</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
    MID(
        {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c},
        FIND(&apos;&quot;&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}) + 1,
        FIND(&apos; &apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}, FIND(&apos;&quot;&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c})) - FIND(&apos;&quot;&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}) - 1
    ),
    &apos;,&apos;,
    &apos;.&apos;
)</expression>
    </formulas>
    <formulas>
        <name>getWasteTypeForKirkbyWTN</name>
        <dataType>String</dataType>
        <expression>MID(
    {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c},
    FIND(&apos; &apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}, FIND(&apos;,&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}, FIND(&apos;,&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}) + 1) + 1) + 1,
    FIND(&apos;&quot;&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}, FIND(&apos;,&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}, FIND(&apos;,&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}) + 1) + 1) - FIND(&apos; &apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}, FIND(&apos;,&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}, FIND(&apos;,&apos;, {!Get_Query_Tag_for_Kirkby_WTN.iparseio__Query__c}) + 1) + 1) - 1
)</expression>
    </formulas>
    <formulas>
        <name>map_chargeTypes</name>
        <dataType>String</dataType>
        <expression>LEFT(IF(ISBLANK({!chargeTypes}), &apos;&apos; ,{!chargeTypes}) + IF(AND({!tagName} == &quot;charge types&quot;, NOT(ISBLANK({!tagValue}))) , IF(ISBLANK({!chargeTypes}), &apos;&apos; , &apos;;&apos;) +  {!tagValue} , &apos;&apos; ), 250)</expression>
    </formulas>
    <formulas>
        <name>map_clientName</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;client name&quot; , {!tagValue} , {!clientName})</expression>
    </formulas>
    <formulas>
        <name>map_clientSignature</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;client signature&quot; , {!tagValue} , {!clientSignature})</expression>
    </formulas>
    <formulas>
        <name>map_collectionDateText</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;collection date&quot; , {!tagValue} , {!collectionDateText})</expression>
    </formulas>
    <formulas>
        <name>map_costs</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;costs&quot; , {!tagValue} , {!costs})</expression>
    </formulas>
    <formulas>
        <name>map_deliveryDateText</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;delivery date&quot; , {!tagValue} , {!deliveryDateText})</expression>
    </formulas>
    <formulas>
        <name>map_depotDisposePermitReference</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;depot dispose permit reference&quot; , {!tagValue} , {!depotDisposePermitReference})</expression>
    </formulas>
    <formulas>
        <name>map_duedate</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;due date&quot; , {!tagValue} , {!duedate})</expression>
    </formulas>
    <formulas>
        <name>map_ewcCode</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;ewc code&quot; , {!tagValue} , {!ewcCode})</expression>
    </formulas>
    <formulas>
        <name>map_InvoiceDate</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;invoice date&quot; , {!tagValue} , {!InvoiceDate})</expression>
    </formulas>
    <formulas>
        <name>map_invoiceNumber</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;invoice number&quot; , {!tagValue} , {!InvoiceNumber})</expression>
    </formulas>
    <formulas>
        <name>map_InvoiceTotal</name>
        <dataType>String</dataType>
        <expression>IF(AND({!tagName} == &quot;invoice total&quot;, NOT(ISNULL({!tagValue})) ) , {!tagValue} , {!InvoiceTotal})</expression>
    </formulas>
    <formulas>
        <name>map_jobNumber</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;job number&quot; , {!tagValue} , {!jobNumber})</expression>
    </formulas>
    <formulas>
        <name>map_jobNumbers</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;job numbers&quot; , {!tagValue} , {!JobNumbers})</expression>
    </formulas>
    <formulas>
        <name>map_netWeightText</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;net weight&quot; , {!tagValue} , {!netWeightText})</expression>
    </formulas>
    <formulas>
        <name>map_productName</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;product name&quot; , {!tagValue} , {!productName})</expression>
    </formulas>
    <formulas>
        <name>map_sicCode</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;sic code&quot; , {!tagValue} , {!sicCode})</expression>
    </formulas>
    <formulas>
        <name>map_sitePostcode</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;site postcode&quot; , {!tagValue} , {!sitePostcode})</expression>
    </formulas>
    <formulas>
        <name>map_supplierSignature</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;supplier signature&quot; , {!tagValue} , {!supplierSignature})</expression>
    </formulas>
    <formulas>
        <name>map_supplierWasteCarrierLicenseReference</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;supplier waste carrier license reference&quot; , {!tagValue} , {!supplierWasteCarrierLicenseReference})</expression>
    </formulas>
    <formulas>
        <name>map_totalGrossValue</name>
        <dataType>String</dataType>
        <expression>IF(AND({!tagName} == &quot;total gross value&quot;, NOT(ISNULL({!tagValue})) ) , {!tagValue} , {!totalgrossvalue})</expression>
    </formulas>
    <formulas>
        <name>map_totalNetValue</name>
        <dataType>String</dataType>
        <expression>IF(AND({!tagName} == &quot;total net value&quot;, NOT(ISNULL({!tagValue})) ) , {!tagValue} , {!totalnetvalue})</expression>
    </formulas>
    <formulas>
        <name>map_totalVatValue</name>
        <dataType>String</dataType>
        <expression>IF(AND({!tagName} == &quot;total vat value&quot;, NOT(ISNULL({!tagValue})) ) , {!tagValue} , {!totalvatvalue})</expression>
    </formulas>
    <formulas>
        <name>map_vehicleRegistrationNumber</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;vehicle registration number&quot; , {!tagValue} , {!vehicleRegistrationNumber})</expression>
    </formulas>
    <formulas>
        <name>map_wasteHierarchyStatement</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;waste hierarchy statement&quot; , LEFT({!tagValue},255) , {!wasteHierarchyStatement})</expression>
    </formulas>
    <formulas>
        <name>map_wasteType</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;waste type&quot; , {!tagValue} , {!wasteType})</expression>
    </formulas>
    <formulas>
        <name>map_wbtReference</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;wbt reference&quot; , {!tagValue} , {!wbtReference})</expression>
    </formulas>
    <formulas>
        <name>map_wtnTicketNumber</name>
        <dataType>String</dataType>
        <expression>IF({!tagName} == &quot;wtn ticket number&quot; , {!tagValue} , {!wtnTicketNumber})</expression>
    </formulas>
    <formulas>
        <name>queryTag</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Query_Tag.iparseio__Query__c}, 
{!collectionNoteQuery}, &quot;Collection Note&quot;,
 {!deliveryNoteQuery}, &quot;Delivery Note&quot;,
 {!exchangeNoteQuery}, &quot;Consignment Note&quot;,
null)</expression>
    </formulas>
    <formulas>
        <name>RunJobNumbereqWTNRefDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (15/1440)</expression>
    </formulas>
    <formulas>
        <name>supplierID</name>
        <dataType>String</dataType>
        <expression>IF({!Iterate_Document_Pages.iparseio__DocumentParser__c} == NULL , null, {!Iterate_Document_Pages.iparseio__DocumentParser__r.Supplier__c})</expression>
    </formulas>
    <formulas>
        <name>supplierName</name>
        <dataType>String</dataType>
        <expression>IF({!Iterate_Document_Pages.iparseio__DocumentParser__r.Supplier__c} == NULL , &quot;&quot; , {!Iterate_Document_Pages.iparseio__DocumentParser__r.Supplier__r.Name})</expression>
    </formulas>
    <formulas>
        <name>table_costs</name>
        <dataType>String</dataType>
        <expression>IF( {!costs} == null,&quot;&quot;, {!costs} + &quot; &quot;) +
IF( {!iParserio_InvoiceDataFlowAction.costs} == null, &quot;&quot; , {!iParserio_InvoiceDataFlowAction.costs})</expression>
    </formulas>
    <formulas>
        <name>table_jobNumbers</name>
        <dataType>String</dataType>
        <expression>IF( {!JobNumbers} == null,&quot;&quot;, {!JobNumbers} + &quot; &quot;) +
IF( {!iParserio_InvoiceDataFlowAction.jobNumbers} == null, &quot;&quot; , {!iParserio_InvoiceDataFlowAction.jobNumbers})</expression>
    </formulas>
    <formulas>
        <name>tag</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!tagOverride})),  {!tagOverride},TEXT({!Iterate_Document_Pages.iparseio__DocumentParser__r.Tag__c}))</expression>
    </formulas>
    <formulas>
        <name>tagName</name>
        <dataType>String</dataType>
        <expression>Lower(
IF({!pointerLocation} == &quot;DocumentPage&quot;,
{!Iterate_Page_Form_Tags.iparseio__FormTag__r.Name},

IF({!pointerLocation} == &quot;PagePositionedTag&quot;,
 {!Iterate_Positioned_Tag.iparseio__TagName__c},
IF({!pointerLocation} == &quot;TableCell&quot;,
 {!Iterate_Table_Cell.iparseio__ColumnAlias__c},
&quot;&quot;
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>tagValue</name>
        <dataType>String</dataType>
        <expression>LEFT(
IF({!pointerLocation} == &quot;DocumentPage&quot;, 
IF( {!Iterate_Page_Form_Tags.iparseio__TransformApplied__c} , {!Iterate_Page_Form_Tags.iparseio__TransformValue__c} , {!Iterate_Page_Form_Tags.iparseio__FormValue__c} ),

IF({!pointerLocation} == &quot;PagePositionedTag&quot;,   
IF( {!Iterate_Positioned_Tag.iparseio__SignatureDetected__c} &amp;&amp; {!Iterate_Positioned_Tag.iparseio__DetectedSignatureConfidence__c} &gt; 0 , &quot;Signature Detected (&quot;+TEXT({!Iterate_Positioned_Tag.iparseio__DetectedSignatureConfidence__c})+&quot;) &quot;,&quot;&quot;)  +
IF( {!Iterate_Positioned_Tag.iparseio__TransformApplied__c} ,  {!Iterate_Positioned_Tag.iparseio__TransformValue__c} ,  {!Iterate_Positioned_Tag.iparseio__TagValue__c} ),

IF({!pointerLocation} == &quot;TableCell&quot;,   
IF( {!Iterate_Table_Cell.iparseio__TransformApplied__c} ,  {!Iterate_Table_Cell.iparseio__TransformValue__c} ,   {!Iterate_Table_Cell.iparseio__Value__c}),
&quot;&quot;))
)
, 255)</expression>
    </formulas>
    <formulas>
        <name>weight</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!netWeightText},&apos;&apos;,&apos;&apos;), &apos;,&apos;, &apos;&apos;), &apos;,&apos;, &apos;&apos;), &apos;,&apos;, &apos;&apos;), &apos;,&apos;, &apos;&apos;), &apos;,&apos;, &apos;&apos;))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Parsed Document Arrived (NEW) (Autolaunch) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parsed Document Arrived (NEW) (Autolaunch)</label>
    <loops>
        <name>Iterate_Document_Pages</name>
        <label>Iterate Document Pages</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Document_Pages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Run_JobNumbereqWTNRef_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>File_Import_Failed_Case_Creation_NEW</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Key_Columns</name>
        <label>Iterate_Key_Columns</label>
        <locationX>1524</locationX>
        <locationY>3488</locationY>
        <collectionReference>Get_Key_Column_Cells</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Key_Columns_Available_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Table_Cell</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Page_Form_Tags</name>
        <label>Iterate Page Form Tags</label>
        <locationX>1524</locationX>
        <locationY>1556</locationY>
        <collectionReference>Get_Page_Form_Tags</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DocumentPage_Tag_Value_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PagePositionedTag_Pointer_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Positioned_Tag</name>
        <label>Iterate Positioned Tag</label>
        <locationX>1524</locationX>
        <locationY>2264</locationY>
        <collectionReference>Get_Positioned_Tags</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PagePositionedTag_Value_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invoice_Tag_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Site_Clear_File_Import_ID</name>
        <label>Iterate Site Clear File Import ID</label>
        <locationX>754</locationX>
        <locationY>1448</locationY>
        <collectionReference>SiteClearFileImport_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Site_Clear_File_Import_Id_into_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Document_Pages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Table_Cell</name>
        <label>Iterate Table Cell</label>
        <locationX>1524</locationX>
        <locationY>4088</locationY>
        <collectionReference>Get_Table_Cells</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TableCell_Tag_Value_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Parser_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_File_Import_Record</name>
        <label>Create File Import Record</label>
        <locationX>1524</locationX>
        <locationY>5180</locationY>
        <connector>
            <targetReference>OVI_tag_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Charge_Types__c</field>
            <value>
                <elementReference>chargeTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>clientName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Signature__c</field>
            <value>
                <elementReference>clientSignature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Date_Text__c</field>
            <value>
                <elementReference>collectionDateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Costs__c</field>
            <value>
                <elementReference>costs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Date_Text__c</field>
            <value>
                <elementReference>deliveryDateText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depot_Dispose_Permit_Reference__c</field>
            <value>
                <elementReference>depotDisposePermitReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Page_io__c</field>
            <value>
                <elementReference>Iterate_Document_Pages.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EWC_Code__c</field>
            <value>
                <elementReference>ewcCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date_Text__c</field>
            <value>
                <elementReference>InvoiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>InvoiceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Total_Text__c</field>
            <value>
                <elementReference>InvoiceTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Number__c</field>
            <value>
                <elementReference>jobNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Numbers__c</field>
            <value>
                <elementReference>JobNumbers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processed_Document_io__c</field>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIC_Code__c</field>
            <value>
                <elementReference>sicCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Postcode__c</field>
            <value>
                <elementReference>sitePostcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>supplierID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Signature__c</field>
            <value>
                <elementReference>supplierSignature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Waste_Carrier_License_Reference__c</field>
            <value>
                <elementReference>supplierWasteCarrierLicenseReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier__c</field>
            <value>
                <elementReference>supplierName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>tag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Registration_Number__c</field>
            <value>
                <elementReference>vehicleRegistrationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WB_Ticket_Reference__c</field>
            <value>
                <elementReference>wbtReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WTN_Ticket_Reference__c</field>
            <value>
                <elementReference>wtnTicketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waste_Hierarchy_Statement__c</field>
            <value>
                <elementReference>wasteHierarchyStatement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waste_Type__c</field>
            <value>
                <elementReference>wasteType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>weight</elementReference>
            </value>
        </inputAssignments>
        <object>File_Import__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_OVI_record</name>
        <label>Create OVI record</label>
        <locationX>1392</locationX>
        <locationY>5504</locationY>
        <connector>
            <targetReference>OVI_Line_Item_process</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date_Text__c</field>
            <value>
                <elementReference>duedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Import__c</field>
            <value>
                <elementReference>Get_File_Import.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gross_Value_Text__c</field>
            <value>
                <elementReference>totalgrossvalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>Get_File_Import.Invoice_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Reference__c</field>
            <value>
                <elementReference>Get_File_Import.Invoice_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Value_Text__c</field>
            <value>
                <elementReference>totalnetvalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Value_Text__c</field>
            <value>
                <elementReference>totalvatvalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Account__c</field>
            <value>
                <elementReference>Get_File_Import.Supplier_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Overhead_Vendor_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Document_Pages</name>
        <label>Get Document Pages</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Document_Pages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>iparseio__ProcessedDocument__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>iparseio__DocumentPage__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Import</name>
        <label>Get File Import</label>
        <locationX>1392</locationX>
        <locationY>5396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_OVI_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_File_Import_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>File_Import__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Import_Record</name>
        <label>Get File Import Record</label>
        <locationX>301</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_File_Import_Creation_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Processed_Document_io__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>File_Import__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Page_Form_Tags</name>
        <label>Get Page Form Tags</label>
        <locationX>1524</locationX>
        <locationY>1340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DocumentPage_Pointer_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>iparseio__DocumentPage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Document_Pages.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>iparseio__PageFormTag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Positioned_Tags</name>
        <label>Get Positioned Tags</label>
        <locationX>1524</locationX>
        <locationY>2156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Positioned_Tag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>iparseio__DocumentPage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Document_Pages.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>iparseio__PagePositionedTag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Processed_Document</name>
        <label>Get Processed Document</label>
        <locationX>301</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_File_Import_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>iparseio__ProcessedDocument__c</object>
        <outputReference>Record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Query_Tag</name>
        <label>Get Query Tag</label>
        <locationX>1150</locationX>
        <locationY>4688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Query_Tag_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>iparseio__DocumentPage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Document_Pages.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Answer__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>iparseio__Query__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>deliveryNoteQuery</elementReference>
            </value>
        </filters>
        <filters>
            <field>iparseio__Query__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>exchangeNoteQuery</elementReference>
            </value>
        </filters>
        <filters>
            <field>iparseio__Query__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collectionNoteQuery</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>iparseio__PageQueryTag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Query_Tag_for_Kirkby_WTN</name>
        <label>Get Query Tag for Kirkby - WTN</label>
        <locationX>1590</locationX>
        <locationY>4688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Query_Available_on_Kirkby_WTN_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>iparseio__DocumentPage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Document_Pages.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Answer__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>iparseio__Query__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>iparseio__PageQueryTag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Table_Cells</name>
        <label>Get Table Cells</label>
        <locationX>1524</locationX>
        <locationY>3272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Key_Column_Cells</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>iparseio__DocumentPage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Document_Pages.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>iparseio__ColumnAlias__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>job numbers</stringValue>
            </value>
        </filters>
        <filters>
            <field>iparseio__ColumnAlias__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>costs</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>iparseio__TableCell__c</object>
        <sortField>iparseio__TableIndex__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Run_JobNumbereqWTNRef_Date</name>
        <label>Update Run JobNumbereqWTNRef Date</label>
        <locationX>875</locationX>
        <locationY>782</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Document_Pages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Document_Pages.iparseio__ProcessedDocument__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Run_Job_Number_WTN_Ref__c</field>
            <value>
                <elementReference>RunJobNumbereqWTNRefDate</elementReference>
            </value>
        </inputAssignments>
        <object>iparseio__ProcessedDocument__c</object>
    </recordUpdates>
    <start>
        <locationX>175</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Processed_Document</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>File_Import_Failed_Case_Creation_NEW</name>
        <label>File Import Failed Case Creation (NEW)</label>
        <locationX>50</locationX>
        <locationY>6080</locationY>
        <flowName>File_Import_Failed_Case_Creation_NEW</flowName>
        <inputAssignments>
            <name>fileImportIds</name>
            <value>
                <elementReference>fileImportIDs</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>chargeTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientSignature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionDateText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionNoteQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>is the collection box checked?</stringValue>
        </value>
    </variables>
    <variables>
        <name>costs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Charge_Type_Flag_Cell</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>iparseio__TableCell__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Key_Column_Cells</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>iparseio__TableCell__c</objectType>
    </variables>
    <variables>
        <name>deliveryDateText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryNoteQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>is the delivery box checked?</stringValue>
        </value>
    </variables>
    <variables>
        <name>depotDisposePermitReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duedate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ewcCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exchangeNoteQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>is the exchange box checked?</stringValue>
        </value>
    </variables>
    <variables>
        <name>fileImportIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceTotal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsChargeTypeFlagAvailableonSameRow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>jobNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobNumbereqWTNRef</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>JobNumbers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>keyColumnAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>netWeightText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pointerLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>iparseio__ProcessedDocument__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sicCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sitePostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supplierSignature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supplierWasteCarrierLicenseReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tagOverride</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalgrossvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalnetvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalvatvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validRowNumbers</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vehicleRegistrationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wasteHierarchyStatement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wasteType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wbtReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wtnTicketNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
