06-producer-portal/code/main/default/flows/Price_Increase_Populate_Current_OrderItem_Pricing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Price Increase: Populate Current OrderItem Pricing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Increase: Populate Current OrderItem Pricing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Order_Item</name>
        <label>Get Related Order Item</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Current_Pricing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Customer_Account</name>
        <label>Add Customer Account</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Customer_Account__c</field>
            <value>
                <elementReference>Get_Related_Order_Item.Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Current_Pricing</name>
        <label>Populate Current Pricing</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Add_Customer_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Partner_Tonnage_Incl__c</field>
            <value>
                <elementReference>Get_Related_Order_Item.Partner_Tonnage_Incl__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Partner_Tonnage_charge_thereafte__c</field>
            <value>
                <elementReference>Get_Related_Order_Item.Partner_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Sales_Price__c</field>
            <value>
                <elementReference>Get_Related_Order_Item.Sales_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Sales_Tonnage_charge_thereafter__c</field>
            <value>
                <elementReference>Get_Related_Order_Item.Sales_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Sales_Tonnage_incl__c</field>
            <value>
                <elementReference>Get_Related_Order_Item.Sales_Tonnage_incl__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Sales_Transport1__c</field>
            <value>
                <elementReference>Get_Related_Order_Item.Sales_Transport__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Supplier_Price__c</field>
            <value>
                <elementReference>Get_Related_Order_Item.Supplier_price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Supplier_Transport__c</field>
            <value>
                <elementReference>Get_Related_Order_Item.Transport__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Order_Item</targetReference>
        </connector>
        <object>Price_Increase__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
