06-producer-portal/code/main/default/flows/Prison_Appointment_Trigger_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Prison_Owner</name>
        <label>Send Email To Prison Owner</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>SendEmailGloballyController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>rlCustomerServiceFromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailIds</name>
            <value>
                <elementReference>$Record.Prisoner__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templatename</name>
            <value>
                <elementReference>HMPReminderTemplateName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailGloballyController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Prisoner_still_active</name>
        <label>Is Prisoner still active?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No longer working with RL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Prison_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>10-02-2024: fromaddress added
17-02-2024: added in a decision to not send the email if the prisoner&apos;s Current RL Status is either &apos;Closed&apos; or &apos;No longer working with RL&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>HMPReminderTemplateName</name>
        <dataType>String</dataType>
        <expression>&quot;HMP_Reminder&quot;</expression>
    </formulas>
    <formulas>
        <name>rlCustomerServiceFromAddress</name>
        <dataType>String</dataType>
        <expression>{!$Label.fromaddress_customerservice}</expression>
    </formulas>
    <interviewLabel>Prison Appointment Trigger - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prison Appointment Trigger - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Prison_Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>HMP_Reminder</name>
            <connector>
                <targetReference>Is_Prisoner_still_active</targetReference>
            </connector>
            <label>HMP Reminder</label>
            <offsetNumber>-14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Next_Review_Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
