06-producer-portal/code/main/default/flows/Prisoner_App_Review_Due_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_10_A1</name>
        <label>18 month Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Prison_Appointment__c.X18_Month_Prisoner_Appointment_Review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Prison_Appointment__c.X18_Month_Prisoner_Appointment_Review</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>13 week prisoner appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Prison_Appointment__c.X13_Week_Prisoner_Appointment_Review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Prison_Appointment__c.X13_Week_Prisoner_Appointment_Review</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_4_A1</name>
        <label>26 week review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Prison_Appointment__c.X26_Week_Prisoner_Appointment_Review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Prison_Appointment__c.X26_Week_Prisoner_Appointment_Review</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_7_A1</name>
        <label>12 Month Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Prison_Appointment__c.X12_Month_Prisoner_Appointment_Review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Prison_Appointment__c.X12_Month_Prisoner_Appointment_Review</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>13 week review date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_13 week review date</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X13_week_review_due_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_1_Formula_3492128032</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No longer working with RL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_13 week review date</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10</name>
        <label>18 Month Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_18 Month Review</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X24_month_review_due_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_4_Formula_8008692741</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No longer working with RL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>TRUE_18 Month Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>26 week review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_26 week review</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X26_week_review_due_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_2_Formula_7417189942</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No longer working with RL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_26 week review</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>12 Month Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_12 Month Review</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X12_month_review_due_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_3_Formula_3953809692</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No longer working with RL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_12 Month Review</label>
        </rules>
    </decisions>
    <description>Migrated from the Prisoner App Review Due process using multiple criteria.</description>
    <formulas>
        <name>formula_1_Formula_3492128032</name>
        <dataType>Date</dataType>
        <expression>TODAY() +14</expression>
    </formulas>
    <formulas>
        <name>formula_2_Formula_7417189942</name>
        <dataType>Date</dataType>
        <expression>TODAY () + 14</expression>
    </formulas>
    <formulas>
        <name>formula_3_Formula_3953809692</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <name>formula_4_Formula_8008692741</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <label>Prisoner App Review Due_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Prison_Appointment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
