06-producer-portal/code/main/default/flows/Prison_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Record_Owner_Check_CRD_Date</name>
        <label>Email Record Owner - Check CRD Date</label>
        <locationX>50</locationX>
        <locationY>660</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Prisoner__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Please check CRD Date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailRecordOwnerBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send12MonthReminder</name>
        <label>Send12MonthReminder</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CRD_Date_is_42_days_away</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Prisoner__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>robert.thackray@recyclinglives.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Upcoming Prisoner Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReminderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CRD_Date_is_42_days_away</name>
        <label>CRD Date is 42 days away</label>
        <locationX>182</locationX>
        <locationY>552</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CRDDateMinus42</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRD_release_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Record_Owner_Check_CRD_Date</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReviewDate</name>
        <label>ReviewDate</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>CRD_Date_is_42_days_away</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X12MonthReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>x12MonthReviewFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No longer working with RL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prisoner__r.Current_RL_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send12MonthReminder</targetReference>
            </connector>
            <label>12MonthReview</label>
        </rules>
    </decisions>
    <description>20/09/2025 : removed the static Id dependency
Object: Prison Appointment
Trigger: Scheduled flow
Description: Runs everyday to send an email reminder to the owner of the prisoner to say there have an upcoming review and does the CRD Date check for the reminder there.</description>
    <environments>Default</environments>
    <formulas>
        <name>CRDDateMinus42</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CRD_release_date__c}-42</expression>
    </formulas>
    <formulas>
        <name>x12MonthReviewFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.X12_month_review_due_date__c} - 7</expression>
    </formulas>
    <interviewLabel>Prison Appointment - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prison Appointment - Review Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReviewDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HMP</stringValue>
            </value>
        </filters>
        <object>Prison_Appointment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-01</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>EmailRecordOwnerBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please check/confirm the CRD date for {!$Record.Prisoner__r.Name} and amend accordingly. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot; Please check/confirm the CRD date for {!$Record.Prisoner__r.Name} and amend accordingly.     https://recyclinglives.lightning.force.com/lightning/r/Prison_Appointment__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;https://recyclinglives.lightning.force.com/lightning/r/Prison_Appointment__c/{!$Record.Id}/view&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ReminderEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Good morning {!$Record.Prisoner__r.Owner:User.FirstName}, &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is a reminder that {!$Record.Prisoner__r.Name} has a review coming up on the {!$Record.X12_month_review_due_date__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Prisoner record - https://recyclinglives.lightning.force.com/lightning/r/Prison_Appointment__c/{!$Record.Id}/view&lt;/p&gt;&lt;p&gt;Prison Appointment record - https://recyclinglives.lightning.force.com/lightning/r/Prisoner__c/{!$Record.Prisoner__r.Id}/view&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All the best.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
