06-producer-portal/code/main/default/flows/Prisoner_Last_Contacted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Last_Contacted</name>
        <label>Last Contacted</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contacted_is_less_than_updating_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLatestEvent.EndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetPrisoner.Last_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePrisoner</targetReference>
            </connector>
            <label>Contacted is less than updating record</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_ID_is_a_prisoner</name>
        <label>What ID is a prisoner</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_a_Prisoner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a168</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPrisoner</targetReference>
            </connector>
            <label>Is a Prisoner</label>
        </rules>
    </decisions>
    <description>Object: Event
Trigger: Record is updated or created
Description: Finds the most recent event from the related record and populates the end date from the most recent record.</description>
    <environments>Default</environments>
    <interviewLabel>Prisoner Last Contacted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prisoner Last Contacted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLatestEvent</name>
        <label>GetLatestEvent</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_Contacted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPrisoner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPrisoner</name>
        <label>GetPrisoner</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLatestEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prisoner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePrisoner</name>
        <label>UpdatePrisoner</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPrisoner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Contact__c</field>
            <value>
                <elementReference>GetLatestEvent.EndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Prisoner__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_ID_is_a_prisoner</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
