06-producer-portal/code/main/default/flows/Request_Depot_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Request_All_Documents_EA</name>
        <label>Request All Documents EA</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>SendEmailGloballyController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Request_All_Documents_Flag</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>fromAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Depot.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailIds</name>
            <value>
                <elementReference>toAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templatename</name>
            <value>
                <stringValue>Request_All_Documents</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendEmailGloballyController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Request_Transfer_Documents_EA</name>
        <label>Request Transfer Documents EA</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>SendEmailGloballyController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Request_Transfer_Documents_Flag</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>fromAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Depot.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailIds</name>
            <value>
                <elementReference>toAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templatename</name>
            <value>
                <stringValue>Request_Transfer_Documents</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendEmailGloballyController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Request_Variation_Documents_EA</name>
        <label>Request Variation Documents EA</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>SendEmailGloballyController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Request_Variation_Documents_Flag</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>fromAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Depot.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailIds</name>
            <value>
                <elementReference>toAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templatename</name>
            <value>
                <stringValue>Request_Variation_Documents</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendEmailGloballyController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>RequestAllDocuments</name>
        <choiceText>Request All Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request All Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>RequestTransferDocuments</name>
        <choiceText>Request Transfer Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Transfer Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>RequestVariationDocuments</name>
        <choiceText>Request Variation Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Variation Documents</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Request_Type_Decision</name>
        <label>Request Type Decision</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_All_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RequestAllDocuments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_All_Documents_EA</targetReference>
            </connector>
            <label>Request All Documents</label>
        </rules>
        <rules>
            <name>Request_Variation_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RequestVariationDocuments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Variation_Documents_EA</targetReference>
            </connector>
            <label>Request Variation Documents</label>
        </rules>
        <rules>
            <name>Request_Transfer_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RequestTransferDocuments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Transfer_Documents_EA</targetReference>
            </connector>
            <label>Request Transfer Documents</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Decision</name>
        <label>Validation Decision</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Main_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_Validation_Screen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Depot.EA_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Depot.Permit_Reference__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>WEX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Screen</targetReference>
            </connector>
            <label>Show Validation Screen</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Request Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Request Depot Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Depot</name>
        <label>Get Depot</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Depot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request_All_Documents_Flag</name>
        <label>Update Request All Documents Flag</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Depot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>All_EA_Documents_Requested_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>All_EA_Documents_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Depot__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Request_Transfer_Documents_Flag</name>
        <label>Update Request Transfer Documents Flag</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Depot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transfer_Information_Requested_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transfer_Information_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Depot__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Request_Variation_Documents_Flag</name>
        <label>Update Request Variation Documents Flag</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Depot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Permit_Info_Req_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Permit_Information_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Depot__c</object>
    </recordUpdates>
    <screens>
        <name>Main_Screen</name>
        <label>Main Screen</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Request_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Choose_Document_Type</name>
            <choiceReferences>RequestAllDocuments</choiceReferences>
            <choiceReferences>RequestVariationDocuments</choiceReferences>
            <choiceReferences>RequestTransferDocuments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Document Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(28, 225, 9); font-size: 14px;&quot;&gt;Document Request has been placed successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EADepot</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(224, 14, 14);&quot;&gt;Only EA Depot is valid.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Depot.EA_Depot__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PermitReferenceWEX</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(215, 18, 18);&quot;&gt;Permit Reference Should not contains WEX&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Depot.Permit_Reference__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>WEX</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Depot</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>fromAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>dutyofcare@environment-agency.gov.uk</description>
        <name>toAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>dutyofcare@environment-agency.gov.uk</stringValue>
        </value>
    </variables>
</Flow>
