06-producer-portal/code/main/default/flows/RLCS_Job_Daily_Charge_Total_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculator</name>
        <label>Calculator</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Cost_Calculator</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SUM_Related_Charges.Cost_Rebate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sales_Calculator</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SUM_Related_Charges.Sales_Price_Rebate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUM_Related_Charges</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>RLCS Job: Daily Total Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLCS Job: Daily Charge Total Sync</label>
    <loops>
        <name>SUM_Related_Charges</name>
        <label>SUM Related Charges</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Related_Job_Charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sales_and_Cost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_job_charges</name>
        <label>Get related job charges</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SUM_Related_Charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RLCS_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>RLCS_Charge__c</object>
        <outputReference>Related_Job_Charges</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_Price_Rebate__c</queriedFields>
        <queriedFields>Cost_Rebate__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_and_Cost</name>
        <label>Update Sales and Cost</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <inputAssignments>
            <field>Internal_Cost_Total__c</field>
            <value>
                <elementReference>Cost_Calculator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Sales_Total__c</field>
            <value>
                <elementReference>Sales_Calculator</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_job_charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>RLCS_Job__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-12</startDate>
            <startTime>15:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Cost_Calculator</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Related_Job_Charges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Charge__c</objectType>
    </variables>
    <variables>
        <name>Sales_Calculator</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
