06-producer-portal/code/main/default/flows/RLCS_Job_Manage_Treatment_by_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_1_of_Does_Unit_Charge_Exist</name>
        <label>Does Unit Charge Exist?</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Unit_Treatment_charge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unit_Treatment_Charges.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Existing_Unit_Treatment_Charge</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Tonnage_Charge_Exist</name>
        <label>Does Tonnage Charge Exist?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Does_Unit_Charge_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Tonnage_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tonnage_Charge.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_and_delete_tonnage_charge</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Unit_Charge_Exist</name>
        <label>Does Unit Charge Exist?</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Create_Unit_Treatment_charge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unit_Treatment_Charges.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Unit_Treatment_Charge</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Treatment_Type</name>
        <label>Treatment Type</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Treatment_by_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Product__r.Unit_Treatment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treatment by Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tonnage_Charge</targetReference>
            </connector>
            <label>Treatment by Unit</label>
        </rules>
        <rules>
            <name>Treatment_by_Unit_Tonnage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Product__r.Unit_Treatment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treatment by Unit + Tonnage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Does_Unit_Charge_Exist</targetReference>
            </connector>
            <label>Treatment by Unit + Tonnage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>customerUnitTreatmentTotal</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Order_Product__r.Customer_Unit_Treatment_Rate__c} * {!$Record.Unit_Count__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>unitTonnageTotal</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Order_Product__r.Unit_Treatment_Rate__c} * {!$Record.Unit_Count__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>RLCS Job: Manage Treatment by Unit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLCS Job: Manage Treatment by Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Unit_Treatment_charge</name>
        <label>Create Unit Treatment charge</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <stringValue>Unit Treatment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>unitTonnageTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RLCS_Job__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Account__c</field>
            <value>
                <elementReference>$Record.Customer_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price__c</field>
            <value>
                <elementReference>customerUnitTreatmentTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Account__c</field>
            <value>
                <elementReference>$Record.Processor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RLCS_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Unit_Treatment_charge</name>
        <label>Create Unit Treatment charge</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <stringValue>Unit Treatment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>unitTonnageTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RLCS_Job__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Account__c</field>
            <value>
                <elementReference>$Record.Customer_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price__c</field>
            <value>
                <elementReference>customerUnitTreatmentTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Account__c</field>
            <value>
                <elementReference>$Record.Processor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RLCS_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Retrieve_and_delete_tonnage_charge</name>
        <label>Retrieve and delete tonnage charge</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Does_Unit_Charge_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RLCS_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tonnage</stringValue>
            </value>
        </filters>
        <object>RLCS_Charge__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Tonnage_Charge</name>
        <label>Get Tonnage Charge</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Tonnage_Charge_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tonnage</stringValue>
            </value>
        </filters>
        <filters>
            <field>RLCS_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RLCS_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Treatment_Charges</name>
        <label>Get Unit Treatment Charges</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Treatment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RLCS_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unit Treatment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RLCS_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Existing_Unit_Treatment_Charge</name>
        <label>Update Existing Unit Treatment Charge</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unit_Treatment_Charges.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>unitTonnageTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price__c</field>
            <value>
                <elementReference>customerUnitTreatmentTotal</elementReference>
            </value>
        </inputAssignments>
        <object>RLCS_Charge__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Unit_Treatment_Charge</name>
        <label>Update Existing Unit Treatment Charge</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unit_Treatment_Charges.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>unitTonnageTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price__c</field>
            <value>
                <elementReference>customerUnitTreatmentTotal</elementReference>
            </value>
        </inputAssignments>
        <object>RLCS_Charge__c</object>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unit_Treatment_Charges</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Unit_Count__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>GB_Update_Field__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RLCS_Job__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
