06-producer-portal/code/main/default/flows/RLCS_Job_Organise_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_Record_0</name>
        <label>Redirect to Record</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Current_Job_Update</name>
        <label>Current Job Update</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rlcs_Job.Collected_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_Job.Collect_Slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_Job.Notes_to_Supplier_for_Collection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Notes_to_Supplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rlcs_Job.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Collection</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Date_Holiday_Validation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Inactive_or_on_Stop</name>
        <label>Account Inactive or on Stop?</label>
        <locationX>479</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Collection_Date_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_Job.Customer_Account__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rlcs_Job.Customer_Account__r.Stop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Active_Rebate_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_Job.Customer_Account__r.Active_Rebate_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rlcs_Job.Order_Product__r.Pricing_method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rebate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Rebate_Only_Screen</targetReference>
            </connector>
            <label>Active - Rebate Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_Date_Decision</name>
        <label>Collection Date Decision</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Collection_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_has_Collection_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_Job.Collected_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Date_Validation</targetReference>
            </connector>
            <label>Already has Collection Date</label>
        </rules>
        <rules>
            <name>Cancelled_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rlcs_Job.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Status_Validation</targetReference>
            </connector>
            <label>Cancelled Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_not_Redirect_Decision</name>
        <label>Do not Redirect Decision</label>
        <locationX>1238</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_not_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>doNotRedirectToJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Do not Redirect</label>
        </rules>
    </decisions>
    <description>16-01-2025 : added from address to producers@recyclinglives-services.com
15-01-2024 : added RLCS Email Templates and haulier instead of processor</description>
    <dynamicChoiceSets>
        <name>collectionSlot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Collect_Slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>emails</name>
        <dataType>String</dataType>
        <expression>{!rlcs_Job.Haullier__r.Sales_Email__c}+IF(NOT(ISBLANK({!rlcs_Job.Haullier__r.Other_Emails__c})), &apos;;&apos;+{!rlcs_Job.Haullier__r.Other_Emails__c},&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>RLCS Job - Organise Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLCS Job - Organise Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_RLCS_Job</name>
        <label>Get RLCS Job</label>
        <locationX>479</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Inactive_or_on_Stop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>RLCS_Job__c</object>
        <outputReference>rlcs_Job</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_Account__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Order_Product__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Collected_Date__c</queriedFields>
        <queriedFields>Notes_to_Supplier_for_Collection__c</queriedFields>
        <queriedFields>Delivery_Date__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Haullier__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Job</name>
        <label>Update Current Job</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Preview_Email</targetReference>
        </connector>
        <inputReference>rlcs_Job</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Active_Rebate_Only_Screen</name>
        <label>Active - Rebate Only Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActiveRebateOnlyMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Account is &quot;Active - Rebate Only&quot; so you can only Organize Collection for the Rebate Jobs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collection_Date_Validation</name>
        <label>Collection Date Validation</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>collectionDateValidationMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 35, 35); font-size: 16px;&quot;&gt;Job already has Collection Date.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collection_Details</name>
        <label>Collection Details</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Job_Update</targetReference>
        </connector>
        <fields>
            <name>Collection_Date</name>
            <dataType>Date</dataType>
            <fieldText>Collection Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Collect_Slot</name>
            <choiceReferences>collectionSlot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Collect Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Collection_Notes_to_Supplier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rlcs_Job.Notes_to_Supplier_for_Collection__c</elementReference>
            </defaultValue>
            <fieldText>Collection Notes to Supplier</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Status_Validation</name>
        <label>Job Status Validation</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_collectionDateValidationMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(244, 35, 35);&quot;&gt;Cannot Organize collection on Cancelled Job.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_Email</name>
        <label>Preview Email</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <fields>
            <name>emailPreview</name>
            <extensionName>c:sendEmailToSupplier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppplierToEmailIDs</name>
                <value>
                    <elementReference>emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templatename</name>
                <value>
                    <stringValue>RLCS_Collection_Job_Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromEmailAddress</name>
                <value>
                    <elementReference>$Label.From_Address_Supplier</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_not_Redirect_Decision</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Job Collection has been successfully organized.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountStatusCheck</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(231, 26, 11);&quot;&gt;Account must be in Active Stage and not stop.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLCS_Job</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Collection_Date_Holiday_Validation</name>
        <label>Collection Date Holiday Validation</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Current_Job</targetReference>
        </connector>
        <flowName>Holiday_Validation_Flow</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>rlcs_Job.Collected_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fieldLabel</name>
            <value>
                <stringValue>Collection Date</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>doNotRedirectToJob</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rlcs_Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RLCS_Job__c</objectType>
    </variables>
</Flow>
