06-producer-portal/code/main/default/flows/RLES_Case_Team_Swap_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_notes_to_chatter</name>
        <label>Post notes to chatter</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Remove_Case_Bypass</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterNotesFromScreen</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Case_ID.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>CustomerService</name>
        <choiceText>&lt;strong style=&quot;color: rgb(0, 15, 80);&quot;&gt;Customer Service&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RLESCustomerService</elementReference>
        </value>
    </choices>
    <choices>
        <name>Invoicing</name>
        <choiceText>&lt;strong style=&quot;color: rgb(0, 15, 80);&quot;&gt;Invoicing&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RLESInvoicing</elementReference>
        </value>
    </choices>
    <choices>
        <name>PurchaseLedger</name>
        <choiceText>&lt;strong style=&quot;color: rgb(0, 15, 80);&quot;&gt;Purchase Ledger&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RLESPurchaseLedger</elementReference>
        </value>
    </choices>
    <description>20/09/2025 : removed the static Id dependency</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseRecordTypeIDOfSelection</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Select_Team} = {!CustomerService},
  {!$Setup.Static_Id__c.RecordType_Case_Email__c},
  IF(
    {!Select_Team} = {!PurchaseLedger},
    {!$Setup.Static_Id__c.RecordType_Case_RLESPurchaseLedger__c},
    IF(
      {!Select_Team} = {!Invoicing},
      {!$Setup.Static_Id__c.RecordType_Case_RLESInvoicing__c},
      &quot;&quot;
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>QueueIDFinder</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Select_Team} = {!CustomerService},
  &quot;Customer Service Email&quot;,
  IF(
    {!Select_Team} = {!PurchaseLedger},
    &quot;RLES Purchase Ledger&quot;,
    IF(
      {!Select_Team} = {!Invoicing},
      &quot;RLES Invoicing&quot;,
      &quot;&quot;
    )
  )
)</expression>
    </formulas>
    <interviewLabel>RLES Case Team Swap Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLES Case Team Switch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_ID</name>
        <label>Get Case ID</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bypass_Case_Validations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Queue_ID</name>
        <label>Get Case Queue ID</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueIDFinder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Bypass_Case_Validations</name>
        <label>Bypass Case Validations</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Which_Team_Changed_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Case_Owner_Prevention__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Case_Bypass</name>
        <label>Remove Case Bypass</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Case_Owner_Prevention__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Post_notes_to_chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Message__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeIDOfSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Case Raised</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_notes_for_team</name>
        <label>Add notes for team</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Reassigned</targetReference>
        </connector>
        <fields>
            <name>AddNotesForTheTeam</name>
            <fieldText>&lt;p&gt;Please add a short note for the team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddChatterNotes</name>
            <dataType>String</dataType>
            <fieldText>Notes:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Reassigned</name>
        <label>Confirm Reassigned</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_Queue_ID</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;This case has now been reassigned to the team.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Which_Team_Changed_To</name>
        <label>Which Team Changed To?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_notes_for_team</targetReference>
        </connector>
        <fields>
            <name>SelectWhichTeam</name>
            <fieldText>&lt;p&gt;Select which RLS team to pass this case to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Which_Team_Changed_To_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Which_Team_Changed_To_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Team</name>
                    <choiceReferences>CustomerService</choiceReferences>
                    <choiceReferences>PurchaseLedger</choiceReferences>
                    <choiceReferences>Invoicing</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Team:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_ID</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ChatterNotesFromScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AddChatterNotes</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RLESCustomerService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012Sj0000004DZlIAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLESInvoicing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012Sj0000006IK1IAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLESPurchaseLedger</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012Sj0000006ILdIAM</stringValue>
        </value>
    </variables>
</Flow>
