06-producer-portal/code/main/default/flows/Schedule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Friday</name>
        <choiceText>Friday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monday</name>
        <choiceText>Monday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Thursday</name>
        <choiceText>Thursday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thursday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tuesday</name>
        <choiceText>Tuesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuesday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wednesday</name>
        <choiceText>Wednesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wednesday</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Job_Details_Available</name>
        <label>Job Details Available?</label>
        <locationX>165</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Get_Job_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job_Details</name>
        <label>Get Job Details</label>
        <locationX>330</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>jobObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Order_Product__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Schedule_Job_Input</name>
        <label>Schedule Job Input</label>
        <locationX>181</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScheduleJobInputHeader</name>
            <fieldText>&lt;p&gt;Pleases provide following details to schedule the future jobs.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Frequency_in_days</name>
            <dataType>Number</dataType>
            <fieldText>Frequency( in days )</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;What will be the frequency to create future Jobs?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Days_of_Week</name>
            <choiceReferences>Monday</choiceReferences>
            <choiceReferences>Tuesday</choiceReferences>
            <choiceReferences>Wednesday</choiceReferences>
            <choiceReferences>Thursday</choiceReferences>
            <choiceReferences>Friday</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Days of Week</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Job_Details_Available</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>This variable holds the Current Job record.</description>
        <name>jobObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <description>This variable holds current Job Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
