06-producer-portal/code/main/default/flows/Send_Supplier_Audit_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Supplier</name>
        <label>Send Email to Supplier</label>
        <locationX>444</locationX>
        <locationY>327</locationY>
        <actionName>SupplierAuditFormController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>siteList</name>
            <value>
                <elementReference>siteVisitObj</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SupplierAuditFormController</nameSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Opened_from_Site_Visit_Record</name>
        <label>Opened from Site Visit Record?</label>
        <locationX>168</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_Supplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Id not available</defaultConnectorLabel>
        <rules>
            <name>Has_RecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Visit_Details</targetReference>
            </connector>
            <label>Has RecordId</label>
        </rules>
    </decisions>
    <interviewLabel>Send Supplier Audit Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Supplier Audit Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Site_Visit_Details</name>
        <label>Get Site Visit Details</label>
        <locationX>177</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Site_Visit__c</object>
        <outputReference>siteVisitObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Depot__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Opened_from_Site_Visit_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteVisitObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Visit__c</objectType>
    </variables>
</Flow>
