06-producer-portal/code/main/default/flows/Site_Action_Community.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Sub_Flow_From_Site</name>
        <label>Sub Flow From Site</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_Organise_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subFlowAPI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job_Organise_Collection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Organize_Collection_Job</targetReference>
            </connector>
            <label>Job Organise Collection</label>
        </rules>
        <rules>
            <name>Create_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subFlowAPI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Job</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Order_Screen</targetReference>
            </connector>
            <label>Create Job</label>
        </rules>
        <rules>
            <name>Exchange_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subFlowAPI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exchange_Job</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Exchange_Job_Screen</targetReference>
            </connector>
            <label>Exchange Job</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>chooseExchangeJob</name>
        <dataType>String</dataType>
        <displayField>Job_Name_Flow__c</displayField>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>New_Exchange_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Collection_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Collection_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delivery_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Child_Mixed_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Job__c</object>
        <sortField>Delivery_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chooseOrder_CS</name>
        <dataType>String</dataType>
        <displayField>PoNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>createJobOrderProductCS</name>
        <dataType>String</dataType>
        <displayField>Order_Product_Name_Flow__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Order</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>oganizeCollectionJobCS</name>
        <dataType>String</dataType>
        <displayField>Job_Name_Flow__c</displayField>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Collection_Job_from_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Collection_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Collection_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delivery_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Child_Mixed_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Job__c</object>
        <sortField>Delivery_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Site Action Community {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Site Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Exchange_Job_Screen</name>
        <label>Choose Exchange Job Screen</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Exchange_Job_Subflow</targetReference>
        </connector>
        <fields>
            <name>Choose_Exchange_Job_0</name>
            <choiceReferences>chooseExchangeJob</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Exchange Job</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Order_Item</name>
        <label>Choose Order Item</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Job_Subflow</targetReference>
        </connector>
        <fields>
            <name>Choose_Order_Product_0</name>
            <choiceReferences>createJobOrderProductCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Order Product</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Order_Screen</name>
        <label>Choose Order Screen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Order_Item</targetReference>
        </connector>
        <fields>
            <name>Choose_Order</name>
            <choiceReferences>chooseOrder_CS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Order</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Organize_Collection_Job</name>
        <label>Choose Organize Collection Job</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Job_Organise_Collection_Subflow</targetReference>
        </connector>
        <fields>
            <name>Organize_Collection_Job_0</name>
            <choiceReferences>oganizeCollectionJobCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Organize Collection Job</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sub_Flow_From_Site</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Job_Subflow</name>
        <label>Create Job Subflow</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <flowName>Create_Job</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Choose_Order_Product_0</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Exchange_Job_Subflow</name>
        <label>Exchange_Job Subflow</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <flowName>Exchange_Job</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Choose_Exchange_Job_0</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Job_Organise_Collection_Subflow</name>
        <label>Job - Organise Collection</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>Job_Organise_Collection</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Organize_Collection_Job_0</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subFlowAPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
