06-producer-portal/code/main/default/flows/Social_Value_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Evaluation_Type</name>
        <label>Evaluation Type</label>
        <locationX>2327</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ONS4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Static_Id__c.RecordType_Evaluation_ONS4__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSocialValueParameter</targetReference>
            </connector>
            <label>ONS4</label>
        </rules>
        <rules>
            <name>Training_Kitchen_Precourse_Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Static_Id__c.RecordType_Evaluation_TrainingKitchenPre__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTKSocialValueParameter</targetReference>
            </connector>
            <label>Training Kitchen Precourse Evaluation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_most_recent_FareShare_Client_SV_null</name>
        <label>Is most recent FareShare Client SV null</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_FareShare_SV_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_FareShare_Social_Value.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_FareShare_SV_record</targetReference>
            </connector>
            <label>Copy 1 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_most_recent_Prisoner_SV_null</name>
        <label>Is most recent Prisoner SV null</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Prisoner_SV_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_1_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Prisoner_Social_Value.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Prisoner_SV_record</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_most_recent_Resident_SV_null</name>
        <label>Is most recent Resident SV null</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Resident_SV_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Resident_Social_Value.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Resident_SV_record</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_most_recent_SS_Client_SV_null</name>
        <label>Is most recent SS Client SV null</label>
        <locationX>1766</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_SS_Client_SV_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_SS_Client_Social_Value.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_SS_Client_SV_record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_most_recent_Training_Kitchen_Client_SV_null</name>
        <label>Is most recent Training Kitchen Client SV null</label>
        <locationX>2294</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Training_Kitchen_Client_SV_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Kitchen_Client__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Training_Kitchen_Client_SV_record2</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Candidate</name>
        <label>Type of Candidate</label>
        <locationX>1436</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prisoner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prisoner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Prisoner_Social_Value</targetReference>
            </connector>
            <label>Prisoner</label>
        </rules>
        <rules>
            <name>Resident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resident__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Resident_Social_Value</targetReference>
            </connector>
            <label>Resident</label>
        </rules>
        <rules>
            <name>FareShare_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FareShare_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_FareShare_Social_Value</targetReference>
            </connector>
            <label>FareShare Client</label>
        </rules>
        <rules>
            <name>Specialist_Support_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Specialist_Support_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_SS_Client_Social_Value</targetReference>
            </connector>
            <label>Specialist Support Client</label>
        </rules>
        <rules>
            <name>Training_Kitchen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Kitchen_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Training_Kitchen_Social_Value</targetReference>
            </connector>
            <label>Training Kitchen</label>
        </rules>
    </decisions>
    <description>20/09/2025 : removed the static Id dependency
Object: Evaluation
Trigger: Record is Created
Description: Creates a Social Value record when an evaluation is created</description>
    <environments>Default</environments>
    <interviewLabel>Social Value Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Social Value Calculator - Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSocialValueRecord</name>
        <label>CreateSocialValueRecord</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_First_Prisoner_Social_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_Prisoner_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prisoner__c</field>
            <value>
                <elementReference>$Record.Prisoner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Parameter__c</field>
            <value>
                <elementReference>GetSocialValueParameter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSocialValueRecordFareShare</name>
        <label>CreateSocialValueRecordFareShare</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_First_FareShare_Social_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>Get_First_FareShare_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_FareShare_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FareShare_Client__c</field>
            <value>
                <elementReference>$Record.FareShare_Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Parameter__c</field>
            <value>
                <elementReference>GetSocialValueParameter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSocialValueRecordResident</name>
        <label>CreateSocialValueRecordResident</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_First_Resident_Social_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>Get_First_Resident_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_Resident_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resident__c</field>
            <value>
                <elementReference>$Record.Resident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Parameter__c</field>
            <value>
                <elementReference>GetSocialValueParameter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSocialValueRecordSSClient</name>
        <label>CreateSocialValueRecordSSClient</label>
        <locationX>1766</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_First_SS_Client_Social_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>Get_First_SS_Client_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_SS_Client_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Parameter__c</field>
            <value>
                <elementReference>GetSocialValueParameter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialist_Support_Client__c</field>
            <value>
                <elementReference>$Record.Specialist_Support_Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSocialValueRecordTrainingKitchen</name>
        <label>CreateSocialValueRecordTrainingKitchen</label>
        <locationX>2294</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_First_Training_Kitchen_Client_Social_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>Get_First_SS_Client_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_SS_Client_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Parameter__c</field>
            <value>
                <elementReference>GetSocialValueParameter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Kitchen_Client__c</field>
            <value>
                <elementReference>$Record.Training_Kitchen_Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSocialValueTrainingKitchenComplete</name>
        <label>CreateSocialValueTrainingKitchenComplete</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Evaluation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Parameter__c</field>
            <value>
                <elementReference>GetTKSocialValueParameter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Score__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Kitchen_Client__c</field>
            <value>
                <elementReference>$Record.Training_Kitchen_Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_First_FareShare_Social_Value</name>
        <label>Get First FareShare Social Value</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_most_recent_FareShare_Client_SV_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FareShare_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FareShare_Client__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Prisoner_Social_Value</name>
        <label>Get First Prisoner Social Value</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_most_recent_Prisoner_SV_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prisoner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prisoner__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Resident_Social_Value</name>
        <label>Get First Resident Social Value</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_most_recent_Resident_SV_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resident__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_SS_Client_Social_Value</name>
        <label>Get First SS Client Social Value</label>
        <locationX>1766</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_most_recent_SS_Client_SV_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Specialist_Support_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Specialist_Support_Client__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Training_Kitchen_Client_Social_Value</name>
        <label>Get First Training Kitchen Client Social Value</label>
        <locationX>2294</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_most_recent_Training_Kitchen_Client_SV_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Kitchen_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training_Kitchen_Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_FareShare_Social_Value</name>
        <label>Get Most Recent FareShare Social Value</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSocialValueRecordFareShare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FareShare_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FareShare_Client__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Prisoner_Social_Value</name>
        <label>Get Most Recent Prisoner Social Value</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSocialValueRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prisoner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prisoner__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Resident_Social_Value</name>
        <label>Get Most Recent Resident Social Value</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSocialValueRecordResident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resident__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resident__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_SS_Client_Social_Value</name>
        <label>Get Most Recent SS Client Social Value</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSocialValueRecordSSClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Specialist_Support_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Specialist_Support_Client__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Training_Kitchen_Social_Value</name>
        <label>Get Most Recent Training Kitchen Social Value</label>
        <locationX>2294</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSocialValueRecordTrainingKitchen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Kitchen_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training_Kitchen_Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <sortField>Evaluation_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSocialValueParameter</name>
        <label>GetSocialValueParameter</label>
        <locationX>1436</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Candidate</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3 AND 5</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ONS4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value_Parameter__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTKSocialValueParameter</name>
        <label>GetTKSocialValueParameter</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSocialValueTrainingKitchenComplete</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3 AND 5</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Training Kitchen Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value_Parameter__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_SS_Client_SV_record</name>
        <label>Copy 1 of Update SS Client SV record</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecordSSClient</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_FareShare_SV_record</name>
        <label>Copy 2 of Update FareShare SV record</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecordFareShare</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Prisoner_SV_record</name>
        <label>Copy 2 of Update Prisoner SV record</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Resident_SV_record</name>
        <label>Copy 2 of Update Resident SV record</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecordResident</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FareShare_SV_record</name>
        <label>Update FareShare SV record</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecordFareShare</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>Get_First_FareShare_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_SS_Client_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prisoner_SV_record</name>
        <label>Update Prisoner SV record</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>Get_First_Prisoner_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_Prisoner_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resident_SV_record</name>
        <label>Update Resident SV record</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecordResident</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>Get_First_Resident_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_Resident_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SS_Client_SV_record</name>
        <label>Update SS Client SV record</label>
        <locationX>1898</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecordSSClient</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>Get_First_SS_Client_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_SS_Client_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Training_Kitchen_Client_SV_record</name>
        <label>Update Training Kitchen Client SV record</label>
        <locationX>2426</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecordTrainingKitchen</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>Get_First_SS_Client_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>Get_Most_Recent_SS_Client_Social_Value.Social_Value_Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Training_Kitchen_Client_SV_record2</name>
        <label>Update Training Kitchen Client SV record</label>
        <locationX>2162</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateSocialValueRecordTrainingKitchen</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_from_first_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_from_previous_score__c</field>
            <value>
                <elementReference>$Record.Life_Satisfaction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <start>
        <locationX>2201</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluation_Type</targetReference>
        </connector>
        <object>Evaluation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>vSocialValueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Social_Value__c</objectType>
    </variables>
</Flow>
