06-producer-portal/code/main/default/flows/Social_Value_Calculator_Specialist_Support_Closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Social_Value_Exist</name>
        <label>Does Social Value Exist?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Social_Value.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Successful__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Social_Value_Record_to_Successful</targetReference>
            </connector>
            <label>Yes - Successful</label>
        </rules>
        <rules>
            <name>Yes_Unsuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unsuccessful__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Social_Value_Record_to_Unsuccessful</targetReference>
            </connector>
            <label>Yes - Unsuccessful</label>
        </rules>
        <rules>
            <name>No_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Successful__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Social_Value.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Social_Value_Successful</targetReference>
            </connector>
            <label>No - Successful</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Social Value Calculator - Specialist Support Closure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Social Value Calculator - Specialist Support Closure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Social_Value_Successful</name>
        <label>Create Social Value Successful</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Social_Value_Parameter__c</field>
            <value>
                <elementReference>Get_Social_Value_Parameter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Value_Score__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialist_Support_Client__c</field>
            <value>
                <elementReference>$Record.Specialist_Support_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialist_Support_Closure__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Social_Value</name>
        <label>Get Existing Social Value</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Social_Value_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Specialist_Support_Closure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Social_Value_Parameter</name>
        <label>Get Social Value Parameter</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Social_Value</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specialist Support Closure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Social_Value_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Social_Value_Record_to_Successful</name>
        <label>Update Existing Social Value Record to Successful</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Social_Value.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Social_Value_Score__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Social_Value_Record_to_Unsuccessful</name>
        <label>Update Existing Social Value Record to Unsuccessful</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Social_Value.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Social_Value_Score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Social_Value__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Social_Value_Parameter</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.Successful__c}) || ISCHANGED({!$Record.Unsuccessful__c})</filterFormula>
        <object>Specialist_Support_Closure__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
