06-producer-portal/code/main/default/flows/Supplier_Audit_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_Depot</name>
        <label>Redirect to Depot</label>
        <locationX>1427</locationX>
        <locationY>732</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Existing</name>
        <label>Add Existing</label>
        <locationX>1420</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>MatchingExistingMaterial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Material_Loop.Material__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Material_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Record</name>
        <label>Assign Existing Record</label>
        <locationX>457</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>newSiteVisitObj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Site_Visit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flow_CurrentRecord</name>
        <label>Assign Flow CurrentRecord</label>
        <locationX>117</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Site_Visit</name>
        <label>Assign New Site Visit</label>
        <locationX>1054</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Customer_Parking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_parking_available_on_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Pedestrian_walkways__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clear_pedestrian_walkways</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Induction_required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Require_an_induction_before_entering</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.HS_signage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clear_and_visible_H_S_signage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.PPE_offered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PPE_offered_before_entering_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Entry_to_site_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entry_to_site_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Covid_RAMs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_RAMs_for_Covid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Social_distancing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Social_distancing_procedures_in_place</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.hand_wash_stations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hand_wash_stations_available</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Face_masks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Face_masks_compulsory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.COVID_provisions_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COVID_provisions_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Staff_notice_board__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Info_on_staff_notice_board</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Operatives_using_full_PPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operatives_using_full_PPE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Fire_procedures__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Made_aware_of_fire_procedures</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Fire_fighting_equipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fire_fighting_equipment_available</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Concrete_base__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_got_a_concrete_base</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Yard_bunded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_yard_bunded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.H_S_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>H_S_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Vehicle_planned_maintenance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintain_vehicles_on_regular_programme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Vehicle_inhouse_external__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_maintenance_in_house_or_external</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Daily_vehicle_checks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drivers_do_daily_vehicle_checks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Drivers_handbook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_formal_drivers_handbooks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Defect_book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drivers_issued_with_defect_book</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.nil_deficit_system__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_operate_a_nil_defect_system</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.LOLER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regular_LOLER_and_scheme_of_examination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Fire_extinguishers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_vehicles_have_fire_extinguishers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Eye_wash_kits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_vehicles_have_eye_wash_kits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Spill_kits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_vehicles_have_spill_kits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Height_indicators__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_vehicles_have_height_indicators</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Vehicles_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicles_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.REL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>REL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.FEL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FEL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Tradewaste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tradewaste</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Skip_Lorry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skip_Lorry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.RORO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RORO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Tipper__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Grab_Wagon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grab_Wagon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Arctics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arctics</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Road_Sweepers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Road_Sweepers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Vans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Cage_vehicles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cage_vehicles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Vehicle_numbers_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_numbers_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Dated_driving_license__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_of_driving_license_for_all_drivers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Driving_license_checks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driving_licenses_checked_every_6_months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.method_statements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Method_statements_available_to_drivers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Driver_details_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driver_details_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Facility_score_out_of_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_score_out_of_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Improvements_suggested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Improvements_suggested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Suggested_revisit_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suggested_revisit_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Overall_visit_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overall_visit_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Weighbridge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_they_have_a_Weighbridge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Containers_weighed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_all_containers_weighed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Defect_procedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operate_a_defect_procedure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Container_inhouse_external__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Containers_maintained_in_house</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Container_replacement_programme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ongoing_container_replacement_programme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Container_asset_register__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintain_container_asset_register</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Banksman_onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Banksman_on_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Containers_tipped_safely__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Material_tipped_from_Containers_safely</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Why_unsafe_tipping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_unsafe_tipping</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Tipping_method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_is_material_picked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Segregation_facilities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_segregation_facilities_on_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Other_segregation_facilities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_segregation_facilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.What_material_is_segregated_on_site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>materialOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Shredder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shredder_on_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Residual_waste_destination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_is_the_residual_Waste_going</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.How_is_RDF_SRF_getting_there__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_is_RDF_SRF_getting_there</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Who_is_the_third_party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_is_the_third_party</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Bailer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Baler_on_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.What_do_they_do_with_Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_do_they_do_with_Card</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.What_do_they_do_with_Plastics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_do_they_do_with_Plastics</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.What_do_they_do_with_Metal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_do_they_do_with_Metal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Where_do_they_send_their_WEEE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_do_they_send_their_WEEE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Scope_for_RL_to_take_their_material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope_for_RL_to_take_their_material</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Considered_RL_Release_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Considered_RL_Release_Potential</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.When_was_the_last_EA_visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_last_EA_visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.EA_issued_prosecutions_or_improvements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EA_issued_prosecutions_or_improvements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Site_details_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_details_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Facility_score_out_of_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_score_out_of_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Improvements_suggested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Improvements_suggested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Suggested_revisit_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suggested_revisit_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Overall_visit_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overall_visit_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Visit_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Site_visit_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Visit_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Visit_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Depot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Visit_requested_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_requested_by</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Site_Visit_to_be_completed_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Visit_to_be_completed_by</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSiteVisitObj.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Site_Visit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_Site_Visit</name>
        <label>First Site Visit?</label>
        <locationX>228</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Site_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Site_Visit_Check</name>
        <label>First Site Visit Check</label>
        <locationX>930</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>Get_Material_Recycling_Rates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring Visit</defaultConnectorLabel>
        <rules>
            <name>First_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Site_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_material_is_segregated_on_site_scrn</targetReference>
            </connector>
            <label>First Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email</name>
        <label>Send Email?</label>
        <locationX>1414</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_Depot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_send_confirmation_to_supplier_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_SubFlow_to_Send_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>availableContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>depotObj.Account__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContainerInhouseChoise</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Container_inhouse_external__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>materialPicked</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tipping_method__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rdfSrf</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_is_RDF_SRF_getting_there__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>resWaste</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Residual_waste_destination__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>scoreFacilities</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Facility_score_out_of_5__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>segFacilities</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Segregation_facilities__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>segOnSite</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_material_is_segregated_on_site__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vehicleInHouse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vehicle_inhouse_external__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>visitStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Visit_status__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Supplier Audit Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Supplier Audit Form</label>
    <loops>
        <name>Existing_Material_Loop</name>
        <label>Existing Material Loop</label>
        <locationX>1176</locationX>
        <locationY>404</locationY>
        <collectionReference>Get_Material_Recycling_Rates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Existing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>What_material_is_segregated_on_site_scrn</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Site_Visit</name>
        <label>Create Site Visit</label>
        <locationX>1154</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>MRR_Update</targetReference>
        </connector>
        <inputReference>newSiteVisitObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Depot</name>
        <label>Get Depot</label>
        <locationX>313</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Site_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Depot__c</object>
        <outputReference>depotObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Site_Visit</name>
        <label>Get Latest Site Visit</label>
        <locationX>143</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Depot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Depot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site_Visit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Material_Recycling_Rates</name>
        <label>Get Material Recycling Rates</label>
        <locationX>1176</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Material_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Depot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Material_Recycling_Rate__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Material__c</queriedFields>
        <sortField>Material__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>50</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Site_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier site visit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site_Visit__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>COVID_provisions</name>
        <label>COVID provisions</label>
        <locationX>628</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>HS</targetReference>
        </connector>
        <fields>
            <name>COVIDprovisions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;COVID provisions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Updated_RAMs_for_Covid</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Covid_RAMs__c</elementReference>
            </defaultValue>
            <fieldText>Updated RAMs for Covid</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Do you have updated RAM’s due to Covid 19?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Social_distancing_procedures_in_place</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Social_distancing__c</elementReference>
            </defaultValue>
            <fieldText>Social distancing procedures in place</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Is there social distancing procedures in place and being carried out?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hand_wash_stations_available</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.hand_wash_stations__c</elementReference>
            </defaultValue>
            <fieldText>Hand wash stations available</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Are there hand wash stations readily available around site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Face_masks_compulsory</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Face_masks__c</elementReference>
            </defaultValue>
            <fieldText>Face masks compulsory</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Are face masks compulsory?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COVID_provisions_notes</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.COVID_provisions_notes__c}</stringValue>
            </defaultValue>
            <fieldText>COVID provisions notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Driverdetails</name>
        <label>Driverdetails</label>
        <locationX>740</locationX>
        <locationY>116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Site_Details</targetReference>
        </connector>
        <fields>
            <name>Driver_details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Driver details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_of_driving_license_for_all_drivers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Dated_driving_license__c</elementReference>
            </defaultValue>
            <fieldText>Copy of driving license for all drivers</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is there a dated copy of a driving license on file for all drivers?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Driving_licenses_checked_every_6_months</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Driving_license_checks__c</elementReference>
            </defaultValue>
            <fieldText>Driving licenses checked every 6 months</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Are driving licenses checked at least every 6 months?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Method_statements_available_to_drivers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.method_statements__c</elementReference>
            </defaultValue>
            <fieldText>Method statements available to drivers</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Are all relevant method statements for loading/unloading available to all drivers?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Driver_details_notes</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Driver_details_notes__c}</stringValue>
            </defaultValue>
            <fieldText>Driver details notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Confirmation</name>
        <label>Email Confirmation</label>
        <locationX>1271</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_send_confirmation_to_supplier_Yes_No</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to send confirmation to supplier? (Yes/No)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EntryScreen</name>
        <label>EntryScreen</label>
        <locationX>482</locationX>
        <locationY>648</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>COVID_provisions</targetReference>
        </connector>
        <fields>
            <name>EntrytoSite</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Entry to Site&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Customer_parking_available_on_site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Customer_Parking__c</elementReference>
            </defaultValue>
            <fieldText>Customer parking available on site</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is there customer parking available on-site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Clear_pedestrian_walkways</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Pedestrian_walkways__c</elementReference>
            </defaultValue>
            <fieldText>Clear pedestrian walkways</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Are the clear pedestrian walkways into and on site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Require_an_induction_before_entering</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Induction_required__c</elementReference>
            </defaultValue>
            <fieldText>Require an induction before entering</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do you require a induction before entering site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Clear_and_visible_H_S_signage</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.HS_signage__c</elementReference>
            </defaultValue>
            <fieldText>Clear and visible H&amp;S signage</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is there clear and visible Health and Safety Signage on site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PPE_offered_before_entering_site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.PPE_offered__c</elementReference>
            </defaultValue>
            <fieldText>PPE offered before entering site</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is PPE offered before entering site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Entry_to_site_notes</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Entry_to_site_notes__c}</stringValue>
            </defaultValue>
            <fieldText>Entry to site notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HS</name>
        <label>HS</label>
        <locationX>740</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Vehicles_Screen</targetReference>
        </connector>
        <fields>
            <name>H_S</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;H&amp;amp;S&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Info_on_staff_notice_board</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Staff_notice_board__c}</stringValue>
            </defaultValue>
            <fieldText>Info on staff notice board</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;What information is on the Staff notice board?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Operatives_using_full_PPE</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Operatives_using_full_PPE__c</elementReference>
            </defaultValue>
            <fieldText>Operatives using full PPE</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Are all operatives using full PPE?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Made_aware_of_fire_procedures</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Fire_procedures__c</elementReference>
            </defaultValue>
            <fieldText>Made aware of fire procedures</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Are you made aware of the fire procedures?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fire_fighting_equipment_available</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Fire_fighting_equipment__c</elementReference>
            </defaultValue>
            <fieldText>Fire fighting equipment available</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is there fire fighting equipment available?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site_got_a_concrete_base</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Concrete_base__c</elementReference>
            </defaultValue>
            <fieldText>Site got a concrete base</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Has the Site got a concrete base?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_the_yard_bunded</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Yard_bunded__c</elementReference>
            </defaultValue>
            <fieldText>Is the yard bunded</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is the yard bunded?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>H_S_notes</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.H_S_notes__c}</stringValue>
            </defaultValue>
            <fieldText>H&amp;S notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Info</name>
        <label>Info</label>
        <locationX>358</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EntryScreen</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site_Visit_Name</name>
            <dataType>String</dataType>
            <fieldText>Site Visit Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site_Visit_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Site Visit Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Visit_Status</name>
            <choiceReferences>visitStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Visit Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Site_Visit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>depotObj.Account__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact</name>
            <choiceReferences>availableContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Depot</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Depot__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Depot</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Site_Visit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Visit_requested_by</name>
            <dataType>String</dataType>
            <fieldText>Visit requested by</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site_Visit_to_be_completed_by</name>
            <dataType>String</dataType>
            <fieldText>Site Visit to be completed by</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;What is the name of the person who will be doing the site visit?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MRR_Update</name>
        <label>MRR Update</label>
        <locationX>1262</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Confirmation</targetReference>
        </connector>
        <fields>
            <name>MRR_LightningComponent</name>
            <extensionName>c:MRRInlineEditableTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>depotRecId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Details</name>
        <label>Site Details</label>
        <locationX>938</locationX>
        <locationY>116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>First_Site_Visit_Check</targetReference>
        </connector>
        <fields>
            <name>Site_detail</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Site details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_they_have_a_Weighbridge</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Weighbridge__c</elementReference>
            </defaultValue>
            <fieldText>Do they have a Weighbridge</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Do they have a Weighbridge&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Are_all_containers_weighed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Containers_weighed__c</elementReference>
            </defaultValue>
            <fieldText>Are all containers weighed</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Are all containers weighed?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Operate_a_defect_procedure</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Defect_procedure__c</elementReference>
            </defaultValue>
            <fieldText>Operate a defect procedure</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Do you &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Operate a Defect Procedure for skips and containers?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Containers_maintained_in_house</name>
            <choiceReferences>ContainerInhouseChoise</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Containers maintained in house</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Are your c&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;ontainers maintained in-house or externally?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ongoing_container_replacement_programme</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Container_replacement_programme__c</elementReference>
            </defaultValue>
            <fieldText>Ongoing container replacement programme</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Do you have an on-going container replacement programme?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Maintain_container_asset_register</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Container_asset_register__c</elementReference>
            </defaultValue>
            <fieldText>Maintain container asset register</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Do you m&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;aintain a container asset register?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Banksman_on_site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Banksman_onsite__c</elementReference>
            </defaultValue>
            <fieldText>Banksman on site</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Are there Banksman on site to control the incoming vehicles?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Material_tipped_from_Containers_safely</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Containers_tipped_safely__c</elementReference>
            </defaultValue>
            <fieldText>Material tipped from Containers safely</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is material tipped from Containers safely?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Why_unsafe_tipping</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Why_unsafe_tipping__c}</stringValue>
            </defaultValue>
            <fieldText>Why unsafe tipping</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Why is the material not tipped safely?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_is_material_picked</name>
            <choiceReferences>materialPicked</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How is material picked</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;How is the tipped material Picked from Site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_segregation_facilities_on_site</name>
            <choiceReferences>segFacilities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What segregation facilities on site</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;What segregation Facilities are on site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Other_segregation_facilities</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Other_segregation_facilities__c}</stringValue>
            </defaultValue>
            <fieldText>Other segregation facilities</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Other than those above, what segregation Facilities are on site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shredder_on_site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Shredder__c</elementReference>
            </defaultValue>
            <fieldText>Shredder on site</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Do they have a &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Shredder on Site?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Where_is_the_residual_Waste_going</name>
            <choiceReferences>resWaste</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Where is the residual Waste going</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Where is the residual Waste going?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_is_RDF_SRF_getting_there</name>
            <choiceReferences>rdfSrf</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How is RDF / SRF getting there</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;How is RDF / SRF getting there?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Who_is_the_third_party</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Residual_waste_destination__c}</stringValue>
            </defaultValue>
            <fieldText>Who is the third party</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;If third party carrying residual waste, who are they?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Baler_on_site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Bailer__c</elementReference>
            </defaultValue>
            <fieldText>Baler on site</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Do they have a baler?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_do_they_do_with_Card</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.What_do_they_do_with_Card__c}</stringValue>
            </defaultValue>
            <fieldText>What do they do with Card</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;What do they do with Card?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_do_they_do_with_Plastics</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.What_do_they_do_with_Plastics__c}</stringValue>
            </defaultValue>
            <fieldText>What do they do with Plastics?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;What do they do with Plastics?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_do_they_do_with_Metal</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.What_do_they_do_with_Metal__c}</stringValue>
            </defaultValue>
            <fieldText>What do they do with Metal</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;What do they do with Metal?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Where_do_they_send_their_WEEE</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Where_do_they_send_their_WEEE__c}</stringValue>
            </defaultValue>
            <fieldText>Where do they send their WEEE?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Where do they send their WEEE?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Scope_for_RL_to_take_their_material</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Scope_for_RL_to_take_their_material__c</elementReference>
            </defaultValue>
            <fieldText>Scope for RL to take their material</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Could RL take any of their material?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Considered_RL_Release_Potential</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Considered_RL_Release_Potential__c</elementReference>
            </defaultValue>
            <fieldText>Considered RL Release Potential</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Have they considered engaging with Recycling Lives Release Potential programme to support ex-offenders in to employment&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>When_was_the_last_EA_visit</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.When_was_the_last_EA_visit__c</elementReference>
            </defaultValue>
            <fieldText>When was the last EA visit</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;When was the last EA visit?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EA_issued_prosecutions_or_improvements</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.EA_issued_prosecutions_or_improvements__c</elementReference>
            </defaultValue>
            <fieldText>EA issued prosecutions or improvements</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Have the &lt;span style=&quot;font-size: var(--lwc-formLabelFontSize,0.75rem);&quot;&gt;EA issued prosecutions or improvements notices?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site_details_notes</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Site_details_notes__c}</stringValue>
            </defaultValue>
            <fieldText>Site details notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vehiclenumbers</name>
        <label>Vehiclenumbers</label>
        <locationX>740</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Driverdetails</targetReference>
        </connector>
        <fields>
            <name>Vehicle_numbers</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Vehicle Numbers&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>REL</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.REL__c</elementReference>
            </defaultValue>
            <fieldText>REL</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;How many Rear End Loaders?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FEL</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.FEL__c</elementReference>
            </defaultValue>
            <fieldText>FEL</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;How many Front End Loaders?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tradewaste</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Tradewaste__c</elementReference>
            </defaultValue>
            <fieldText>Tradewaste</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Tradewaste?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Skip_Lorry</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Skip_Lorry__c</elementReference>
            </defaultValue>
            <fieldText>Skip Lorry</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many Skip Lorries?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RORO</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.RORO__c</elementReference>
            </defaultValue>
            <fieldText>RORO</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many RORO?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tipper</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Tipper__c</elementReference>
            </defaultValue>
            <fieldText>Tipper</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Tippers?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Grab_Wagon</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Grab_Wagon__c</elementReference>
            </defaultValue>
            <fieldText>Grab Wagon</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many Grab Wagons?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Arctics</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Arctics__c</elementReference>
            </defaultValue>
            <fieldText>Arctics</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Arctics?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Road_Sweepers</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Road_Sweepers__c</elementReference>
            </defaultValue>
            <fieldText>Road Sweepers</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many Road Sweepers?&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vans</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Vans__c</elementReference>
            </defaultValue>
            <fieldText>Vans</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Vans?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cage_vehicles</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Cage_vehicles__c</elementReference>
            </defaultValue>
            <fieldText>Cage vehicles</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;How many &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Cage vehicles?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vehicle_numbers_notes</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Vehicle_numbers_notes__c}</stringValue>
            </defaultValue>
            <fieldText>Vehicle numbers notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vehicles_Screen</name>
        <label>Vehicles Screen</label>
        <locationX>740</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Vehiclenumbers</targetReference>
        </connector>
        <fields>
            <name>Vehicles</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Vehicles&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Maintain_vehicles_on_regular_programme</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Vehicle_planned_maintenance__c</elementReference>
            </defaultValue>
            <fieldText>Maintain vehicles on regular programme</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do you maintain your vehicles on a regular planned maintenance programme?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vehicle_maintenance_in_house_or_external</name>
            <choiceReferences>vehicleInHouse</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vehicle maintenance in house or external</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Is your vehicle maintenance completed in-house or externally?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Drivers_do_daily_vehicle_checks</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Daily_vehicle_checks__c</elementReference>
            </defaultValue>
            <fieldText>Drivers do daily vehicle checks</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Are drivers instructed to perform daily vehicle checks?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_have_formal_drivers_handbooks</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Drivers_handbook__c</elementReference>
            </defaultValue>
            <fieldText>Do you have formal drivers handbooks</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do you have formal drivers’ handbooks?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Drivers_issued_with_defect_book</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Defect_book__c</elementReference>
            </defaultValue>
            <fieldText>Drivers issued with defect book</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Are all drivers issued with a defect book for reporting vehicle defects?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_operate_a_nil_defect_system</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.nil_deficit_system__c</elementReference>
            </defaultValue>
            <fieldText>Do you operate a nil defect system</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do you operate a nil defect system?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Regular_LOLER_and_scheme_of_examination</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.LOLER__c</elementReference>
            </defaultValue>
            <fieldText>Regular LOLER and scheme of examination</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do you have a regular Independent inspection of chains and lifting equipment (LOLER) and have a scheme of examination?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_vehicles_have_fire_extinguishers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Fire_extinguishers__c</elementReference>
            </defaultValue>
            <fieldText>Do vehicles have fire extinguishers</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do vehicles have fire extinguishers?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_vehicles_have_eye_wash_kits</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Eye_wash_kits__c</elementReference>
            </defaultValue>
            <fieldText>Do vehicles have eye wash kits</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do vehicles have eye wash kits?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_vehicles_have_spill_kits</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Spill_kits__c</elementReference>
            </defaultValue>
            <fieldText>Do vehicles have spill kits</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do vehicles have spill kits?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_vehicles_have_height_indicators</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Height_indicators__c</elementReference>
            </defaultValue>
            <fieldText>Do vehicles have height indicators</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Do vehicles have height indicators?&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vehicles_notes</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Vehicles_notes__c}</stringValue>
            </defaultValue>
            <fieldText>Vehicles notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visitnnotes</name>
        <label>Visit notes</label>
        <locationX>940</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Site_Visit</targetReference>
        </connector>
        <fields>
            <name>Visit_notes</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Visit notes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Facility_score_out_of_5</name>
            <choiceReferences>scoreFacilities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Facility score out of 5</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Facility score out of 5, 1 being low and 5 being high&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Improvements_suggested</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Improvements_suggested__c}</stringValue>
            </defaultValue>
            <fieldText>Improvements suggested</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Improvements suggested&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Suggested_revisit_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>newSiteVisitObj.Suggested_revisit_date__c</elementReference>
            </defaultValue>
            <fieldText>Suggested revisit date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Suggested revisit date&lt;/p&gt;&lt;p&gt;Help&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Overall_visit_notes</name>
            <defaultValue>
                <stringValue>{!newSiteVisitObj.Overall_visit_notes__c}</stringValue>
            </defaultValue>
            <fieldText>Overall visit notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Improvements suggested&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_material_is_segregated_on_site_scrn</name>
        <label>What material is segregated on site</label>
        <locationX>939</locationX>
        <locationY>495</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Visitnnotes</targetReference>
        </connector>
        <fields>
            <name>MaterialsSelection</name>
            <extensionName>c:SegregatedMaterials</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedMaterials</name>
                <value>
                    <elementReference>MatchingExistingMaterial</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>materialOutput</assignToReference>
                <name>materialOutput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>248</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Flow_CurrentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_SubFlow_to_Send_Email</name>
        <label>Call SubFlow to Send Email</label>
        <locationX>1616</locationX>
        <locationY>553</locationY>
        <flowName>Supplier_Visit_Email_Flow</flowName>
        <inputAssignments>
            <name>siteVisitObj</name>
            <value>
                <elementReference>newSiteVisitObj</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>depotObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Depot__c</objectType>
    </variables>
    <variables>
        <name>MatchingExistingMaterial</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>materialOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newSiteVisitObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Visit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedVals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteVisitObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Visit__c</objectType>
    </variables>
</Flow>
