06-producer-portal/code/main/default/flows/Update_Job_Charge_Date_from_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Job_Charge_Rec_Assignment</name>
        <label>Job Charge Rec Assignment</label>
        <locationX>572</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>jobChargeRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Job_Charge.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Charge_Date_Cal.jobCharge_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_Charge_Recs_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Job_Charge_Recs_Assignment</name>
        <label>Job Charge Recs Assignment</label>
        <locationX>572</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>jobChargeRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>jobChargeRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Job_Charge</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Job_Charge_Date_Change_Decision</name>
        <label>Job Charge Date Change Decision</label>
        <locationX>704</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Iterate_Job_Charge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Job_Charge_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Job_Charge.Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Job_Charge_Date_Cal.jobCharge_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Charge_Rec_Assignment</targetReference>
            </connector>
            <label>New Job Charge Date</label>
        </rules>
    </decisions>
    <description>20/09/2025 : removed the static Id dependency
Record Type = 0124H0000002WEqQAM(Automatic)</description>
    <environments>Default</environments>
    <interviewLabel>Update Job Charge Date from Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Job Charge Date from Job</label>
    <loops>
        <name>Iterate_Job_Charge</name>
        <label>Iterate Job Charge</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_All_Job_Charge</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Job_Charge_Date_Cal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Job_Charge_Recs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Job_Charge</name>
        <label>Get All Job Charge</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Job_Charge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Static_Id__c.RecordType_JobCharge_Automatic__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Charge_Recs</name>
        <label>Update Job Charge Recs</label>
        <locationX>484</locationX>
        <locationY>1092</locationY>
        <inputReference>jobChargeRecs</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Delivery_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Collection_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Job__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_All_Job_Charge</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Job_Charge_Date_Cal</name>
        <label>Job Charge Date Cal</label>
        <locationX>704</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Job_Charge_Date_Change_Decision</targetReference>
        </connector>
        <flowName>Job_Charge_Date_Cal</flowName>
        <inputAssignments>
            <name>job_collectionDate</name>
            <value>
                <elementReference>$Record.Collection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>job_deliveryDate</name>
            <value>
                <elementReference>$Record.Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>jobCharge_chargeType</name>
            <value>
                <elementReference>Iterate_Job_Charge.Charge_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>jobCharge_createdDate</name>
            <value>
                <elementReference>Iterate_Job_Charge.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>jobChargeRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Charge__c</objectType>
    </variables>
    <variables>
        <name>jobChargeRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Charge__c</objectType>
    </variables>
</Flow>
