06-producer-portal/code/main/default/flows/Update_Job_Date_on_Job_Charge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>20/09/2025 : removed the static Id dependency
Record Type = 0124H0000002WEqQAM (Automatic)</description>
    <environments>Default</environments>
    <interviewLabel>Update Job Date on Job Charge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Job Date on Job Charge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Charge_Date_Cal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Charge_Date</name>
        <label>Update Job Charge Date</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Job_Charge_Date_Cal.jobCharge_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </filters>
        <object>Job_Charge__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Job</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Job_Charge_Date_Cal</name>
        <label>Job Charge Date Cal</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Job_Charge_Date</targetReference>
        </connector>
        <flowName>Job_Charge_Date_Cal</flowName>
        <inputAssignments>
            <name>job_collectionDate</name>
            <value>
                <elementReference>Get_Job.Collection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>job_deliveryDate</name>
            <value>
                <elementReference>Get_Job.Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>jobCharge_chargeType</name>
            <value>
                <elementReference>$Record.Charge_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>jobCharge_createdDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
