06-producer-portal/code/main/default/flows/Web_referral_form_flow_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A3</name>
        <label>Email Neil Flanagan notifying him of new application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Resident__c.New_web_referral_form1</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Resident__c.New_web_referral_form1</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Migrated from the Web referral form flow process using Equals web referral form or Walk up criteria.
When a web referral form is created, auto populate resident fields and also auto populate referral form</description>
    <label>Web referral form flow_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_1_A2</name>
        <label>Create a referral form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_notes_Current_Status__c</field>
            <value>
                <elementReference>$Record.Additional_notes_Current_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_notes_Referral_details__c</field>
            <value>
                <elementReference>$Record.Additional_notes_Referral_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_notes_Risk_Assessment__c</field>
            <value>
                <elementReference>$Record.Additional_notes_Risk_Assessment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alcohol_services__c</field>
            <value>
                <elementReference>$Record.X_Alcohol_services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arson_offence__c</field>
            <value>
                <elementReference>$Record.X_Arson_Offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_received__c</field>
            <value>
                <elementReference>$Record.X_Consent_received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Courses__c</field>
            <value>
                <elementReference>$Record.X_Courses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criminal_convictions__c</field>
            <value>
                <elementReference>$Record.X_Criminal_convictions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Damage_to_property__c</field>
            <value>
                <elementReference>$Record.X_Damage_to_property__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_form_completed__c</field>
            <value>
                <elementReference>$Record.Date_of_Application__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debt_details__c</field>
            <value>
                <elementReference>$Record.X_Debt_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug_related_offence__c</field>
            <value>
                <elementReference>$Record.X_Drug_related_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drug_services__c</field>
            <value>
                <elementReference>$Record.X_Drug_services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Work_experience__c</field>
            <value>
                <elementReference>$Record.X_Employment_Work_experience__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_status__c</field>
            <value>
                <elementReference>$Record.X_Employment_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Further_details__c</field>
            <value>
                <elementReference>$Record.X_Further_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_plans_immediate__c</field>
            <value>
                <elementReference>$Record.X_Future_plans_immediate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_plans_long_term__c</field>
            <value>
                <elementReference>$Record.X_Future_plans_long_term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Homeless__c</field>
            <value>
                <elementReference>$Record.X_Homeless__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Housing_Homelessness__c</field>
            <value>
                <elementReference>$Record.X_Housing_Homelessness__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incapacity_Benefit__c</field>
            <value>
                <elementReference>$Record.X_Incapacity_benefit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_support__c</field>
            <value>
                <elementReference>$Record.X_Income_support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Seekers_Allowance__c</field>
            <value>
                <elementReference>$Record.Job_Seekers_Allowance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Knowledge_of_RL__c</field>
            <value>
                <elementReference>$Record.X_Knowledge_of_RL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_connections__c</field>
            <value>
                <elementReference>$Record.X_Local_connections__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offensive_weapon__c</field>
            <value>
                <elementReference>$Record.X_Offensive_weapon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Organisation_name__c</field>
            <value>
                <elementReference>$Record.X_Other_Organisation_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_offences__c</field>
            <value>
                <elementReference>$Record.X_Previous_offences__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public_order_offence__c</field>
            <value>
                <elementReference>$Record.X_Public_order_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_placement__c</field>
            <value>
                <elementReference>$Record.X_Reason_for_placement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_further_details__c</field>
            <value>
                <elementReference>$Record.X_Reason_further_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_contact_details__c</field>
            <value>
                <elementReference>$Record.X_Referral_contact_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_contact_email__c</field>
            <value>
                <elementReference>$Record.X_Referral_contact_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_contact_name__c</field>
            <value>
                <elementReference>$Record.X_Referral_contact_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_contact_position__c</field>
            <value>
                <elementReference>$Record.X_Referral_contact_position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_partner__c</field>
            <value>
                <elementReference>$Record.X_Referral_partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_signature__c</field>
            <value>
                <elementReference>$Record.X_Referral_signature__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resident__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_to_children__c</field>
            <value>
                <elementReference>$Record.X_Risk_to_children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_to_public__c</field>
            <value>
                <elementReference>$Record.x_Risk_to_public__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_to_residents__c</field>
            <value>
                <elementReference>$Record.X_Risk_to_residents__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_to_self__c</field>
            <value>
                <elementReference>$Record.X_Risk_to_self__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_to_staff__c</field>
            <value>
                <elementReference>$Record.X_Risk_to_staff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_referral__c</field>
            <value>
                <elementReference>$Record.X_Self_referral__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_History__c</field>
            <value>
                <elementReference>$Record.X_Services_history__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_details__c</field>
            <value>
                <elementReference>$Record.X_Services_details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sexual_Offence__c</field>
            <value>
                <elementReference>$Record.X_Sexual_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skills_Qualifications__c</field>
            <value>
                <elementReference>$Record.X_Skills_Qualifications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_status__c</field>
            <value>
                <elementReference>$Record.X_Student_status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_needs__c</field>
            <value>
                <elementReference>$Record.X_Support_needs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theft_offence__c</field>
            <value>
                <elementReference>$Record.X_Theft_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violence__c</field>
            <value>
                <elementReference>$Record.X_Violence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violent_offence__c</field>
            <value>
                <elementReference>$Record.X_Violent_offence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Income__c</field>
            <value>
                <elementReference>$Record.X_Weekly_income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_Recycling_Lives__c</field>
            <value>
                <elementReference>$Record.X_Why_Recycling_Lives__c</elementReference>
            </value>
        </inputAssignments>
        <object>Referral_form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Update resident profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Reason_for_status__c</field>
            <value>
                <stringValue>Application received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_of_application__c</field>
            <value>
                <stringValue>Potential</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Source_of_application__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web referral form</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source_of_application__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Walk up referral</stringValue>
            </value>
        </filters>
        <object>Resident__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
